/*

SOS Custom styles go HERE!

*/

.thumb_container_flex {
    display:  flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0.2rem;
    align-items:stretch;



}
.thumb_container_flex li {
    font-size:0.8em;
    margin:auto;
    background: white;
    padding: 10px 10px;
    border-radius: 30px 0 /0px 0px;
    box-shadow: 0px 1px 2px 1px #dddddd;
    min-height: 220px;
    min-width: 220px;
    max-width: 270px;

    border : 1px solid gray;}

.thumb_container_flex li img {
    display:block;
    margin:auto;

}
.thumbnail_label_flex {
    display:block;
    margin:auto;
    color:
            #000011;
    font-size: .9em;
    margin-top: 5px;
}



ul.main-feed{
    list-style: none;
    padding-left:1em;
}

ui.main-feed >li {

    border-bottom: 1px solid #a8a8a8;
    padding: 0.7em;

}
.main-feed-boxed {

    border: 1px solid #2f2f2f;
    padding: 0.7em;

}




.center-in-box {
    align-items: center; /* For vertical align */

    display: flex;
    /* justify-content: center; <- for horizontal align */
}


.callout {
    padding: 1em;

}

.callout-boxed {
    border: solid 1px #333333;
}






.social-media{
    list-style: none;
}

.social-media li{
    margin: 0em 0;
    padding: 0 0 0 0;
    color: #0409b1;

}





.bs-callout {
    padding-left: 20px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout-info {
    border-left-color: rgba(11, 35, 166, 0.9);
}


.bs-callout h3 h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #525fd1;
}


.bs-callout-danger h4,
.bs-callout-danger h3
{
    color: #103554
}


.bs-callout-warning {
    border-left-color: #8d5208
}
.bs-callout-warning h4,
.bs-callout-warning h3
{
    color: #d29607
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
}
body {
    font-family: 'open+sans', sans-serif;
}
body p {
    margin: 1em 0;
}
body a:hover {
    transition: 0.3s ease-in;
}
.post-thumbnail {
    margin-bottom: 1em;
}


/* SOS COLORS */

.bg-sos-light {
    background-color: #dddddd !important;
}

.bg-sos-medium {
    background-color: #7c858f !important;
}

.bg-sos-nav {
    background-color: #2c3b50 !important;
}

sos-nav {
    font-size: 1.2rem !important;
    font-family: 'oswald', sans-serif;
}


.btn-sos-primary {
    color: #fff;
    background-color: #191999;
    border-color: #007bff;
}

.btn-sos-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.sos_orange {
    color: #d29607;
}