{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

    <h2>About SOS</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}

{% block content %}
<div class="col-lg-12 p-5 m-3" style="border: .7px solid #445544"; margin:5px>
<h2>SOS Seeks New Board Members</h2>
<p>
    Somerville Open Studios (SOS) is a non-profit organization formed for the purpose of

    producing an annual open studio and related events in Somerville, Massachusetts.

    Through its programming, SOS provides access to the work of visual artists living or

    working in Somerville. We provide opportunities to view art made within the community,

    interact with local artists, and visit spaces where art is created.

    SOS is managed by a board of directors comprised of participating artists and arts

    supporters who generally meet once a month to guide the overall direction, operation

    and finances of SOS. The board is seeking new members with a commitment to the

    visual arts in Somerville.
</p>
<h3>Qualifications</h3>

Some of the Qualifications and Skills we are looking for:

<ul>
</ul>
<li> a strong commitment to SOS and its mission
   </li><li> experience or skills supporting the effective operation of SOS
   </li><li> Desired areas of experience
   </li><li> participation in or support of the visual arts
   </li><li> oversight of large scale events
   </li><li> oversight and support of executive and volunteer staff
   </li><li> promotion of organizations’ positive reputation
   </li><li> development skills
   </li><li> fiscal and budgetary skills related to non-profits and/or arts organizations
</li>
</ul>
<h3>Application Process</h3>
<p>
    Please a letter of interest describing any volunteer experience with SOS, experience in

    other visual art and non-profit organizations, and your interest in joining the SOS board.

    Please state the ways in which your background and experience align with the

    qualifications and attributes of we seek. Please email your letter of interest

    <b>nominations@somervilleopenstudios.org. </b> Please also direct any

    questions regarding board membership or the application process to this address.</p>
</div>
{% endblock content %}