{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

                <h2>About SOS</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}

{% block content %}

    <div class="bs-example">
        <h3>SOS Seeks New Board Members</h3>
        <p>
            Somerville Open Studios is looking for new board memberw

            <a class="btn btn-info" href="{{ path('about.2020_board_call') }}">Find out More</a>

        </p>
    </div>


    <div class="bs-example">
        <h2> About Somerville Open Studios </h2>
        <p>Somerville Open Studios (SOS) is a non-profit organization formed for the purpose of producing an annual open studio and related events in Somerville, Massachusetts.
            </p><p>
            Through its programming, SOS gives access to the work of visual artists living and working in the city of Somerville. We provide opportunities to view art made within the community; to interact with local artists; and to have access to artists' working spaces. Our goal is to broaden the public's exposure to, and appreciation of, finished works of art as well as the art-making process. This exposure both educates the community and raises awareness of the diverse artistic experience available in Somerville.
            </p><p>
            Somerville Open Studios is managed by a Board of Directors comprising participating artists.  An Open Studios executive committee is formed each year to organize the event. This committee is assisted by many dedicated volunteers. New volunteers are always welcome. Please contact us if you would like to become involved!

        </p><br>
        </div>



    <div class="row">
        <div class="col-md-8">
            <div class="staff_list highlight bs-callout bs-callout-danger">
                <h3> 2021 SOS Event Staff</h3>

                <p class="hp">


                <h5>Timeline Manager</h5>
                <p class="h4p">
                    <b>Christina Tedesco</b><br>
                    <b>Terry Dovidio</b> (assisting)
                </p>


                <h5>Social Media/ Vitrual Events</h5>
                <p class="h4p">
                    <b>Christina Tedesco</b> <br>
                    <b>Katya Popova</b><br>
                    <b>Zoe Rath</b><br>
                    <b>Terry Dovidio</b><br>
                    <b>John Haiduk</b><br>
                    <b>Ron Newman</b><br>
                    <b>Aram Comjean</b><br>
                    <b>Sarah Carlson</b><br>
                </p>
                <h5>Website and Databases</h5>
                <p class="h4p">
                    <b>Aram Comjean</b> - Lead<br>
                    <b>Ron Newman</b><br>
                    <b>Raj Raman</b><br>
                    <b>Jason Jong</b><br>
                    <b>Matt Carrano</b>
                </p>



                <h5>Artist-Relations and Membership</h5>
                <p class="h4p">

                </p>
                
                <h5>Volunteer Coordinators</h5>
                <p class="h4p">

                </p>

                <h5>Volunteer Show</h5>
                <p class="h4p">

                </p>

                <h5>Kids' Show</h5>
                <p class="h4p">

                </p>

                <h5>Beyond the Pattern Fashion Show</h5>
                <p class="h4p">

                </p>

                <h5>First Look Show</h5>
                <p class="h4p">

                </p>

                <h5>Home/Locavore Show</h5>
                <p class="h4p">

                </p>

                <h5>Inside-Out Gallery Show</h5>
                <p class="h4p">
                   <b>Heather Balchunas</b><br>
                   <b>Hilary Scott</b>
                </p>

                <h5>Armory Community Space</h5>
                <p class="h4p">

                </p>

                <h5>Trolley Coordinators</h5>
                <p class="h4p">

                </p>

                
                <h5>Promotion - Social Media</h5>
                <p class="h4p">
               </p>

                <h5>Promotion - Traditional Media</h5>
                <p class="h4p">
                   <b>Thea Paneth</b> - Lead<br>
                   <b>Anne Johnstone</b><br>
                   <b>Nancy Anderson</b>
               </p>
              
                <h5>Graphic Design - Map Guide, Poster, Ads</h5>
                <p class="h4p">

                </p>

                <h5>Map Guide and Poster Distribution</h5>
                <p class="h4p">

                </p>

                <h5>Business and Corporate Relations</h5>
                <p class="h4p">

                </p>

                <h5>Special Projects</h5>
                <p class="h4p">
                </p>

            </div>
        </div>


        <div class="col-md-4">
            <div class="bs-callout bs-callout-info">
                <h3>2021 SOS Board of Directors</h3>
                <p>
                    <b>Hilary Scott</b>   <em>President</em><br>
                    <b>Peter Belford</b>   <em>Treasurer</em> <br>
                    <b>Terry Dovidio</b>   <em>Clerk</em> <br>

                    <br>
                    <b>Aram Comjean</b>  <br>
                    <b>John Haiduk</b><br>
                    <b>Matt Kaliner </b><br>
                    <b>Thea Paneth</b><br>
                    <b>Katya Popova</b><br>



                </p>
    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock content %}