{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.history' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Somerville Open Studios History</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

<div id="row">
        <div class="staff_list highlight bs-callout bs-callout-danger">

<h3> A Brief History of Somerville Open Studios</h3>
<hr>
  <div class="row">
  <div class="col-xs-4"> <img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_1999.jpg" alt="map book cover SOS_1999"  width="120" height="200" /> </div>
  <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2000.jpg" alt="map book cover SOS_2000"   width="120" height="200"/>  </div>
  <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2001.jpg" alt="map book cover SOS_2001"   width="120" height="200"/>  </div>
  </div>
            <p>Somerville Open Studios was born in the winter of 1999 when two Somerville artists, Jonathan Derry and Laura Fayer, decided that there was a need for a city wide open studio event that could provide a venue for artists working out of their homes and small studio buildings, as well as those in larger and established buildings, to exhibit their work to the public. After placing a call to artists throughout the city, an inaugural planning committee was formed to organize the first annual Somerville Open Studios to take place during the first weekend of May that year. SOS 1999 featured just over 80 artists exhibiting at 25 sites throughout the city.<br/>
            <br>
  <div class="row">
  <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2002.jpg" alt="map book cover SOS_2002" width="120" height="200" /> </div>
  <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2003.jpg" alt="map book cover SOS_2003" width="120" height="200"/>  </div>
  <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2004.jpg" alt="map book cover SOS_2004" width="120" height="200"/>  </div>
  </div>
<p>In the sixteen years since, SOS has grown to become one of the largest events of its kind in the country with over 400 participating artists displaying their work every spring. In 2001 we introduced the first SOS online artist directory to allow visitors to better plan their tour by previewing artist work online. In 2002 the first Artist&rsquo;s Choice exhibit was held at the Somerville Museum to give visitors a further opportunity to see a wide selection of Somerville artists&rsquo; work in a single venue. <br/>
<br>

 <div class="row">
          <div class="col-xs-4">   <img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2005.jpg" alt="map book cover SOS_2005" width="120"  /></div>
          <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2006.jpg" alt="map book cover SOS_2006" width="120" /></div>
          <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2007.jpg" alt="map book cover SOS_2007" width="120" /></div>
    </div>



<p><br/>In 2004 Somerville Open Studios became a Massachusetts non-profit organization established for the purpose of providing access to artists and exposing the public to the wide variety of art-making activities taking place in the city of Somerville, Massachusetts.<br>

<p><br/>The Volunteers that make SOS happen got a special group show dedicated to their work, starting in SOS of 2011. In SOS of 2012 a group of Somerville clothing designers and creators approached SOS to launch the first SOS runway Fashion Show. Likewise Somerville Community Access Television coordinated an SOS Film Festival to run in conjunction with SOS. Each of these initiatives have brought more attention to the deep and diverse arts community that thrives in the City of Somerville.<br><br>

 <div class="blockwide float2 clear2">
<p>In 2012, SOS also for the first time expanded to three days, with some artists opting to open their studios for three hours on Friday evening.</p>

<p>Starting in 2013, SOS has presented a Kids' Art Show in the Armory Cafe.</p>

<p>While experiencing steady growth, we have striven to keep the event inclusive and diverse. In this spirit, we welcome artists who are exhibiting for the first time to show next to established professionals. We work hard to make a place for artists working out of their home studios as well as those who are part of large studio buildings. While doing this we continue to look for new ways to build community and make connections between visual artists and the people of Somerville.

</div>

 <div class="row">
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2008.jpg" alt="map book cover SOS_2008" width="170" height="90"/></div>
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2009.jpg" alt="map book cover SOS_2009" width="170" height="90"/></div>
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2010.jpg" alt="map book cover SOS_2010" width="170" height="90"/></div>
 </div>
 <div class="row">
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2011.jpg" alt="map book cover SOS_2011" width="170" height="90"/></div>
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2012.jpg" alt="map book cover SOS_2012" width="170" height="90"/></div>
     <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2013.jpg" alt="map book cover SOS_2013" width="170" height-"90"/></div>
 </div>

<div class="row">

    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2014.jpg" alt="map book cover SOS_2014" width="170" height-"90"/></div>
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2015.jpg" alt="map book cover SOS_2015" width="170" height-"90"/></div>
    <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2016.jpg" alt="map book cover SOS_2016" width="170" height-"90"/></div>
</div>
        <div class="row">

            <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2017.jpg" alt="map book cover SOS_2017" width="170" height-"90"/></div>
            <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2018.jpg" alt="map book cover SOS_2018" width="170" height-"90"/></div>
            <div class="col-xs-4"><img src="{{ app.request.basepath }}/web/images/mapbooks/SOS_2019.jpg" alt="map book cover SOS_2019" width="170" height-"90"/></div>

        </div>
        </div>
    </div>



    <div class="col-md-4">
        <div class="bs-callout bs-callout-info">

                <h3>Past Event Coordinators</h3>
                <hr/>
            <span style="font-weight: bold">2018 &#150; </span>Ellien Laramee-Byers<br>
            <br>
            <span style="font-weight: bold">2017 &#150; </span>Ellien Laramee-Byers<br>
            <br>
            <span style="font-weight: bold">2016 &#150; </span>Gena Folts<br>
            <br>
            <span style="font-weight: bold">2015 &#150; </span>Ellien Laramee-Byers<br>
                <br>
                <span style="font-weight: bold">2014 &#150; </span>Emily Garfield<br>
                <br>
                <span style="font-weight: bold">2013 &#150; </span>Rachel Mello<br>
                <br>
                <span style="font-weight: bold">2012 &#150; </span>Terry Dovidio & Bonnie Denis<br>
                <br>
                <span style="font-weight: bold">2011 &#150; </span>Terry Dovidio & Bonnie Denis<br>
                <br>
                <span style="font-weight: bold">2010 &#150; </span>Peter Belford<br>
                <br>
                <span style="font-weight: bold">2009 &#150; </span>Nick Shectman<br>
                <br>
                <span style="font-weight: bold">2008 &#150; </span>Nick Shectman<br>
                <br>
                <span style="font-weight: bold">2007 &#150; </span>Mary Curtin<br>
                <br>
                <span style="font-weight: bold">2006 &#150; </span>Audra Ladd<br>
                <br>
                <span style="font-weight: bold">2005 &#150; </span>Ilona Fried<br>
                <br>
                <span style="font-weight: bold">2004 &#150; </span>Meghan Moore<br>
                <br>
                <span style="font-weight: bold">2003 &#150; </span>Suzi Weber<br>
                <br>
                <span style="font-weight: bold">2002 &#150; </span>Matt Carrano<br>
                <br>
                <span style="font-weight: bold">2001 &#150; </span>Matt Carrano<br>
                <br>
                <span style="font-weight: bold">2000 &#150; </span>Matt Carrano &amp; Nancy Fulton<br>
                <br>

                <span style="font-weight: bold">1999 &#150; </span>Jonathan Derry &amp; Laura Fayer</td>


        </div>

        </div>
    </div>
{% endblock content %}