{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.in_the_news' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>About SOS</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}



        <div class="staff_list highlight bs-callout bs-callout-danger">
            <h3> Somerville Open Studios in the News</h3>



            <table class="table table-condensed table-striped table-responsive">
                <thead>
                <th>Date</th>
                <th>Author</th>
                <th>Article</th>
                </thead>

                {% for key,item in news_data %}
                    <tr>
                        <td>{{ item.article_date }} </td>
                        <td>{{ item.author}} </td>
                        <td><a href="{{ item.link_url }}">{{ item.link_name }} </a> <br/>{{ item.description }}  </td>


                    </tr>

                {% endfor %}


            </table>



    </div>

{% endblock content %}