{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.press_info' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>About SOS</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}



        <div class="staff_list highlight bs-callout bs-callout-danger">


            <h2>Virtual Somerville Open Studios</h2>
            <h3>Saturday, May 2 and Sunday, May 3, 2020</h3>

            <h3>Press Advisory</h3>

            <a href="/web/images/press_release/Virtual-SOS-2020.pdf"> Download Press Release [pdf]</a>


<p>Contact for this release:  <br>
Thea Paneth, SOS publicity coordinator<br>
<a href="mailto:tpaneth@gmail.com">tpaneth@gmail.com</a>, <a href="publicity@somervilleopenstudios.org">publicity@somervilleopenstudios.org</a><br>
781-316-0103

            <div style="font-family: 'Times New Roman'; font-size:1.2em ">

<p>Somerville Open Studios (SOS), the annual city-wide open studios across the City of Somerville, has moved to a virtual platform to showcase artist members.  The art loving public and our loyal visitors do not have to forgo the entire event despite the Covid-19 pandemic.  

<p>SOS members are participating in a Virtual Gallery, <a href="https://www.youtube.com/watch?v=hPbIV6bvF2c">https://www.youtube.com/watch?v=hPbIV6bvF2c</a>, organized by Heather Balchunas at the Somerville Arts Council.  This show usually is at the Inside-Out Gallery (CVS windows in Davis Square) but this year it is on-line.  

<p>The <a href="https://www.youtube.com/channel/UCdXMH821q4vKV8CUkFtaKZA">SOS YouTube channel</a> has virtual tours filmed by artists available.  A new SOS team, led by Timeline manager Christina Tedesco and SOS Board President Hilary Scott, formed to create an authentic and unique artist-made experience to introduce visitors to SOS artists and their workspaces via a YouTube Channel after we had to cancel the weekend in-person event.

<p>Zoom visits with some participating artists are also available at the <a href="/">SOS website</a>.  The list of participating artists and zoom links will be posted on May 2.  

<p>SOS is organized entirely by artists and dedicated supporters, showcasing established and emerging artists working across a broad range of fine art and craft – painting, sculpture, photography, fiber, jewelry, clay, class, furniture and installation art – anything you might want to explore or collect is being created in Somerville!

<p>Member artist profiles are at the <a href="/">SOS website</a>.  In these difficult days of global pandemic, artists are still working and will be glad to interact safely through websites and by email with public supporters.  

<p>Somerville Open Studios plans to be back bigger and better than ever the first weekend in May, 2021.  




                <br/>
                <hr>
                <br/>

                <h4>Images of works by 2020 SOS artists:</h4>
                <ul>
                    <li><a href="/web/images/press_release/Anne_Johnstone_Seasonal_Teaser_Acrylic_2019.jpg">"Seasonal Teaser", by Anne Johnstone</a></li>
                    <li><a href="/web/images/press_release/Anne_Johnstone_Yellow_Tornado_Acrylic_2020.jpg">"Yellow Tornado", by Anne Johnstone</a></li>

                   
                </ul>
                <p>(more to come)</p>

            <br> If you have questions about this year's event, please
contact us at <a href="mailto:publicity@somervilleopenstudios.org">publicity@somervilleopenstudios.org</a>
            </p>
            </div>
        </div>

{% endblock content %}