{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.sos_budget' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>SOS Budget</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div id="row">
    <div class="col-md-8">

        <div class="bs-callout bs-callout-danger">
            <h2> Somerville Open Studios Budget </h2>

            <h3>Where do SOS Registration fees and donations go?</h3><br>
            <br>
            As a non-profit, volunteer run organization, we work with a close budget. Every expenditure directly furthers our mission to promote visual artists and the art community in Somerville. <br>
            <br>
            SOS produces a high-quality map booklet&#151;a directory of Somerville artists. This  major budget item organizes the event in a form accessible to the public. We continue to develop the mobile-based version, too. <br>

            <br>
            Teams of volunteers work to market SOS through every channel we can including social media and printed posters. Some well-placed paid advertising helps get the word out, too.<br>
            <br>
            To create an interconnected event we hire a set of Trolleys to loop the city and bring visitors from site to site. These trolleys also raise visibility for the event. Plus, they're fun!<br>

            <br>	The planning and organizing of the SOS weekend takes a full year of work. A Coordinator (or sometimes duo of Co-Coordinators) recruits volunteers, organizes all the parts, and keeps the ship sailing forward to the next year. The Coordinator draws a small administrative stipend, and other on-going expenses are carried in the budget as well. <br>
            <br>
            <h3>Where does the funding for SOS come from?</h3><br>
            <br>
            The most important aspect of the SOS budget is the volunteer labor. Without the un-told hours and years of dedicated work, SOS could not be the premier Open Studios event that it is. <br>
            <br>
            Additionally, donations of food, venues for events, and discounts on most purchases help keeps SOS vibrant, thriving, and truly community based. <br>
            <br>
            Artists create this event and support it with time, dedication, and also money. Because of the breadth of our community, we have a solid foundation while keeping our rates low and offering financial aid to those who need it.<br>

            <br>
            We rely on the generous support of many local businesses. Always remember to thank businesses who advertise in the SOS map booklet. <br>
            <br>
            Additionally, we receive generous sponsorship from the City of Somerville, and donations from artists and visitors. Thank you, everyone, for helping make SOS happen! <br>
            <br>	 <br>
            <br>

            To make a donation, <a href="../support/donate.php">
                visit our Donate page.</a> <br>

         </div>
    </div>
    <div class="col-md-4">

         <img src="{{ app.request.basepath }}/web/images/budget/SOS2013_Budget_vert_300w.jpg" alt="budget">

    </div>
    </div>

{% endblock content %}