{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Volunteering With Somerville Open Studios!</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">

        <div class="bs-callout bs-callout-danger">
            <h2> Thanks for Volunteering!</h2>
            <p> Someone from SOS should contact you about volunteering</p>
        </p><br>

        </div>

    </div>



{% endblock content %}