<li id="2020-cancel" class="p-3">

<h3 class="bg-info p-2">COVID-19 and Somerville Open Studios 2020</h3>
    <span style="color:red">Update March 28th, 2020 </span>

<p>Dear SOS Artists and Supporters,

    <p>After a week of heartfelt deliberation, the SOS Board has decided to <b>cancel our SOS 2020 event</b>. For 22 years, SOS has provided an opportunity for the artistic community of Somerville to physically connect with fellow artists and the general public. Unfortunately, the COVID-19 coronavirus outbreak, and the consequent government restrictions on public gatherings, make it impossible for SOS to fulfill that mission this year.</p>

    <p>We considered postponing instead, but some aspects of  the event—such as securing venues and trolleys—require
    months if not a full year of advance notice, and yet we cannot be
    assured that a particular future date will work given the
    coronavirus pandemic measures. We considered postponing to
    the fall but that would mean competing with many other events
    that are also moving to the fall, as well as with those that
    normally take place in September. Fall is also a busy time for
    SOS planning volunteers since that’s when we start planning for
        the following year’s event.</p>


</li>
