<li class="p-3 callout-boxed bg-ligh">

    <h3>Artists! The SOS Virtual Gallery team is looking for your videos!     </h3>

    <p> We're looking for short videos of you introducing your art/studio.

    <a class="btn btn-sm  btn-info"  href="/for_artists/virtual_gallery_info">Find Out More </a>
    </p>
    {#
    <h3>Virtual Meeting</h3>
    <p> We held six live in person Zoom meetings with artists during SOS weekend, May 2-3.  We may schedule additional Zoom meetings later in the spring and summer if there is sufficient interest.
    <a class="btn btn-sm btn-info"  href="/for_artists/live_stream_info">Find Out More </a>
    </p>
    #}
    <hr>
    <h3>Update your profile</h3>

            <p>We encourage all artists to update the photos and statements on your SOS profile pages.

    <p><a class="btn btn-sm btn-danger" href="{{ path('login') }}"> Login and update.</a>


</li>