{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Somerville Open Studios<br/>Trolley Tracker</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="">
        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger">

            <p>Trolleys run from noon to 6 pm, Saturday and Sunday. Note that the trolleys begin their last route around 5:30pm. The trolleys finish their route at Joy Street.<br>
<a href="/visit/directions_parking#trolley">List of trolley stops</a><br>
<b>page should autorefresh every 20 seconds</b>
            
            <p>When a trolley marker <img src="{{ app.request.basepath }}/web/images/mapicons/blue/number_1.png"> is approaching your nearest stop <img src="{{ app.request.basepath }}/web/images/mapicons/trolley_icon.png">, it's time to hop on!
            <div style="width: 100%; height: 480px; border: 1px" id="map_canvas" class="map rounded"></div>

        </div>
    </div>

    {% include "common/map_js.html.twig" %}

{% endblock content %}
