{% extends 'common/basic_layout_artists_profile.html.twig' %}
{% set spc=' ' %}
{%  block title %} {{ app.year }} Somerville Open Studios : {% if  artist_data.BusinessName is not empty %} {{ artist_data.BusinessName }} : {% endif %} {{ artist_data.PublicFirstName }}{{ spc }}  {{ artist_data.PublicLastName }}
{% endblock %}


{% block meta_description %} {{ artist_data.ShortDescription }}

{% endblock %}

{% block meta_image %}{% if thumbnail_data.image_exists %}/{{ thumbnail_data.filename_and_path }}{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% set active = 'about.press_info' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}

    <style>

        .clearboth{
            clear:both;
        }

        {# https://web.dev/centering-in-css/ #}
        .gentle-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1ch;
        }

        .boxr {
            position: relative;
        }

        .bet_time {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .btn-group.special {
            display: flex;
        }

        .special .btn {
            flex: 1
        }

        .flex-container {
            display: flex;
            flex-flow:  wrap;
            align-content: flex-start;
            align-items: center;
        }
        .flex-container-cent {
            display: flex;
            flex-flow:  wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: ;
        }


        .flex-container > div {
            margin: 5px;
            text-align: center;
        }



        .socialMediaLinks a:hover {
            color: #f1f3f0;
        }
        .socialMediaLinks a {
            font-size:2rem;
            margin: 0 10px 0 0;
            color: #4ab143;
            text-decoration: none;
            padding: 5px;
            box-sizing: border-box;
            text-align: center;
        }
        .wt{
            color:white;
        }


        .one-event {
            margin-top:1rem;
        }




    </style>

    {# https://hollypryce.com/social-media-icons/ #}


<div class="container-fluid" style="padding-right:0px; padding-left: 0px;" >
        <div class="row" style="padding-left:15px">

            <span class="col-md-12" style="margin-bottom:10px">
                <br>
                {% if search_nav is not empty %}
                    <span style="font-size: 1.3em; padding-top: 200px"> <b> Search: <a
                                href="{{ search_nav.url }}">  {{ search_name }}  </b> {{ search_nav.counter }} </a>
                    &nbsp &nbsp </span>

                <div class="btn-group" role="group" aria-label="...">

                    {# MENU FOR SEARCH #}

                    {% if search_nav.previous is not empty %}
                        <a href="{{ path('artists_profile',{'id':search_nav.first }) }}" type="button"
                           class="btn btn-default"> << First </a>
                        <a href="{{ path('artists_profile',{'id':search_nav.previous }) }}" type="button"
                           class="btn btn-default"> < Previous </a>
                    {% else %}
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> << First </span>
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> < Previous </span>
                    {% endif %}

                    {% if search_nav.next is not empty %}
                        <a href="{{ path('artists_profile',{'id':search_nav.next }) }}" type="button"
                           class="btn btn-default"> Next > </a>
                        <a href="{{ path('artists_profile',{'id':search_nav.last }) }}" type="button"
                           class="btn btn-default"> Last >> </a>
                    {% else %}
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> Next > </span>
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> Last >> </span>

                    {% endif %}


                    {% if search_nav.random is not empty %}
                        <a href="{{ path('artists_profile',{'id':search_nav.random }) }}" type="button"
                           class="btn btn-default"> Random </a>
                    {% endif %}


                </div>
                {% endif %}

                {% if search_nav is  empty %}
                <span style="font-size: 1.3em; padding-top: 200px">
                <div style="float:right;padding-bottom: 15px">
                        <a href="{{ path('artists_directory') }}" type="button"
                           class="btn btn-default" > New Search </a>
                    </div>
               </span>
                {% else %}
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="{{ path('artists_directory') }}" type="button"
                       class="btn btn-default"> New Search </a>


                {% endif %}
            </div>
        </div>






    {# header bar #}



    <div class="row boxr" style="min-height:180px; margin-bottom:0px; padding: 14px 14px 0px 14px; background-color:#4A5568;  color:white">

        <div class="col-md-6">
            {% if thumbnail_data.image_exists %}

                <div style="float:left; margin-right:20px;padding-top:8px">
                    <img src="/{{ thumbnail_data.filename_and_path }}{{ app.cache_date_string_profile_page }}" alt="artist thumbnail" width="120px">
                </div>
            {% endif %}


            {% if artist_data.BusinessNameOption == "Y" %}
                <h2 class="wt">{{ artist_data.BusinessName }} </h2>
            {% endif %}
            <h2 class="wt">
                {%  if  artist_data.PublicFirstName is not empty%}
                {{ artist_data.PublicFirstName }}&nbsp
                {% endif %}
                {{ artist_data.PublicLastName }}  </h2>
            {% if artist_data.MemberType >3 %}

                <p>
                    {{ artist_data.OrganizationDescription |nl2br }}
                </p>
            {% endif %}
            <p> {{ artist_data.ShortDescription }} </p>
        </div>
        <div class="col-md-6 bet_time" style="text-align:right">
        </div>
    </div>



    </div>

{% endblock jumbotron %}




{% block content %}

   {% include "common/map_js.html.twig" %}
    {%  set space=' ' %}


<script>


    jQuery(document).ready(function () {

//            https://2018.somervilleopenstudios.org/mobile/itin_remove.php?command=remove&id=376


// ADD
        jQuery('#add_favorite').click(function (e) {
            jQuery.ajax({
                type: "GET",
                url: "/web/itin/command=add&id={{ artist_data.member_id }}",
            }).done(function (data) {
                var json = $.parseJSON(data); // create an object with the key of the array
                if (json.total == 1) {
                    alert("Response: " + json.message);
                }
                jQuery('#remove_favorite').show();
                jQuery('#add_favorite').hide();
                jQuery('#show_favorite').show();
            });
            e.preventDefault();

        });


        jQuery('#remove_favorite').click(function (e) {

            jQuery.ajax({
                type: "GET",
                url: "/web/itin/command=remove&id={{ artist_data.member_id }}",
            }).done(function (data) {
                var json = $.parseJSON(data); // create an object with the key of the array
                //   alert( "Response: " + json.message );
                jQuery('#remove_favorite').hide();
                jQuery('#add_favorite').show();
                jQuery('#show_favorite').show();
            });
            e.preventDefault();

        });

{#  
        $('#locate_self').click(function (e) {

            $('#map_canvas').gmap('getCurrentPosition', function (position, status) {
                if (status === 'OK') {

                    var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var iconH = 37;
                    var iconW = 24;
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': '/web/images/mapicons/you.png',
                            'scaledSize': {'width': iconW, "height": iconH},
                        }, 'position': clientPosition, 'bounds': true
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': "Your Aprox Location"}, this);
                    });

// add the marker and set within bounds
                    $.each(data.markers, function (i, marker) {
                        $('#map_canvas').gmap('addMarker', {
			    //                            'icon': '/web/images/mapicons/orange/number_' + marker.map_number + '.png',
			                                'icon': '/web/images/mapicons/orange/number_' + marker.map_number + '.png',
                            'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                            'bounds': true
                        }).click(function () {
                            $('#map_canvas').gmap('openInfoWindow', {'content': marker.content}, this);
                        });

                    });


                } else {

                    //alert ("could not find your location");
                }
            });

            e.preventDefault();
        }); // click

        $('#zoom_out').click(function (e) {

            var gmapMarkers = $('#map_canvas').gmap('get', 'markers');
            for (var i = 0; i < gmapMarkers.length; i++) {
                if (gmapMarkers[i].modified) { // HACK: only trolleys have "modified" property
                    $('#map_canvas').gmap('addBounds', gmapMarkers[i].getPosition());
                }
            }

            e.preventDefault();
        }); // click
        #}

        //---------------------------------------
        // Slideshow

        var showingImage = 0;
        var artistImages = {{ json_image_data | raw }}
        var availableImages = artistImages.length;

        jQuery('.nextImage').click(function () {

            showingImage++;
            showingImage = showingImage % availableImages;
            var imageText = showingImage + 1;
            var imageCountTest = imageText + " of " + availableImages;

            jQuery('#title').html("<b>" + artistImages[showingImage].Title + "</b>");
            jQuery('#medium').html(artistImages[showingImage].Medium);
            jQuery('#dimensions').html(artistImages[showingImage].Dimensions);
            jQuery('#images_count').html(imageCountTest);
            jQuery('#profile_image').attr("src", "/" + artistImages[showingImage].filename +"{{ app.cache_date_string_profile_page }}");

        })


        jQuery('.prevImage').click(function () {

            showingImage--;
            if (showingImage < 0) {
                showingImage = availableImages - 1;
            }
            var imageText = showingImage + 1;
            var imageCountTest = imageText + " of " + availableImages;

            jQuery('#title').html("<b>" + artistImages[showingImage].Title + "</b>");
            jQuery('#medium').html(artistImages[showingImage].Medium);
            jQuery('#dimensions').html(artistImages[showingImage].Dimensions);
            jQuery('#images_count').html(imageCountTest);
            jQuery('#profile_image').attr("src", "/" + artistImages[showingImage].filename + "{{ app.cache_date_string_profile_page }}");

        })



        $("#fullwidth").click(function () {
            $('#aboutpanel').toggleClass('col-md-6 col-md-12 clearboth');
            $('#artpanel').toggleClass('col-md-6 col-md-12 clearboth mw600');

        });

    });
</script>


<style>
    @media (max-width: 992px) {
        #fullwidth {
            display: none;
        }
    }


    .break {
        flex-basis: 100%;
        height: 0;
    }

    .mw600{
        max-width: 600px;
    }

</style>






{% if social_data is defined and social_data.youtube_intro is defined %}
    <div class="container-fluid" style="padding-right:0px; padding-left: 0px;" >
    <div class="row" style="background-color: black; color: white; height:425px">
        <div class="col-md-8 col-md-offset-2 " style="height:300px">
            <h2>&nbsp</h2>
            <div class="embed-responsive embed-responsive-4by3" style="">
                <iframe style="height: 300px;" class="embed-responsive-item"
                        src="https://www.youtube.com/embed/{{ social_data.youtube_intro.user_name }}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
{% endif %}




    <div class="container-fluid">
        <div class="row flex-container-cent" style="padding-top:25px ; min-height:60vh; ">
            {# image 1 #}

            <div id="artpanel" class="col-md-6 mw600" style="min-height: 300px; padding-right:15px;">


                {% set item = image_data[0] %}

                {% if item is not empty %}


                    <div class="gentle-flex">
                        <div class="btn-group special" role="group" aria-label="...">


                            <span type="button" class="btn prevImage "
                                  style="min-width: 100px; color:grey"> < Previous  </span>
                            <span type="button" class="btn" id="images_count"
                                  style="min-width: 100px;color:grey">  1 of <span> </span>{{ image_data|length }}   </span>
                            <span type="button" class="btn nextImage"
                                  style="min-width: 100px; color:grey"> Next   ></span>


                            {# https://stackoverflow.com/questions/25832340/css-flexbox-vertically-horizontally-center-image-without-explicitely-defining-pa #}
                        </div>


                        <img style="max-height: 55vh" class="nextImage img-responsive" id="profile_image"
                             src="/{{ item.filename }}{{ app.cache_date_string_profile_page}}"
                             alt="art by somerville artist {{ artist_data.PublicFirstName }}  {{ artist_data.PublicLastName }} titled  {{ item.Title }}">

                        <div class="break"></div> <!-- break -->


                        <div class="gentle-flex" style="">
                            <span id="title"> <b>{{ item.Title }}</b> </span>
                            <span id="medium"> {{ item.Medium }} </span>
                            <span id="dimensions"> {{ item.Dimensions }}</span>
                        </div>

                    </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="btn-group special pull-right" role="group" aria-label="...">


                                    <button id="fullwidth" type="button" class="btn btn-default"
                                            style="float: right; color: grey; background-color:#E3E5EA">
                                        full width <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                                    </button>
                                    {# https://stackoverflow.com/questions/25832340/css-flexbox-vertically-horizontally-center-image-without-explicitely-defining-pa #}
                                </div>
                            </div>
                        </div>



                {% endif %}

            </div>


            <div id="aboutpanel" class="col-md-6 mw600">

                {% if itin_artist %}
                <a class="btn" href="#" style="" id="remove_favorite"> - Remove From Favorites <br/> </a>
                <a class="btn  btn-primary" href="<a class="btn btn-success"
                    href="{{ path('artists_directory_list', {'display_type':"map",  'genre': "All", 'map_number':'All', 'event':'favorites', 'display_order':'default'  }) }}" style=""
                   id="show_favorite"> Show Favorites  </a>

                <a class="btn" href="#add_favorite" style="display:none" id="add_favorite"> + Add To Favorites ❤️ <br/> </a>


                {% else %}
                <a class="btn" href="#" style="display:none" id="remove_favorite">

                    - Remove From Favorites <br/> </a>
                <a class="btn  btn-primary"  href="{{ path('artists_directory_list', {'display_type':"map",  'genre': "All", 'map_number':'All', 'event':'favorites', 'display_order':'default'  }) }}" 
                   style="display:none" id="show_favorite">
                    Show Favorites </a>

                <a class="btn btn-warning" href="#add_favorite" id="add_favorite">
                    + Add To Favorites ❤ <br/> </a>

                {% endif %}



                {% if social_data is defined and social_data %}

                <div class="row  " style="margin-bottom:0px; padding-bottom: 0px; ">
                    <b>Social Media</b><br>
                    <div class="flex-container" style="padding-right:10px" >




                            {% for sourceRow in social_data %}

                                {% if sourceRow.url and sourceRow.short_name != "youtube_intro" %}
                                    <div style="font-size: 1.2rem;" class=" socialMediaLinks">


                                        <a class="flex-container" href="{{ sourceRow['url'] }}" target="_blank">

                               <span>
                           <i class="{{ sourceRow['fa_name'] }} p-2"> </i>
                               </span>


                                            {% if sourceRow['social_media_id'] == '1' or sourceRow['social_media_id'] == '2' or sourceRow['social_media_id'] == '3'  %}

                                                <span style="font-size:1.5rem">
                               &nbsp  {{ sourceRow['user_name'] }}
                               </span>
                                            {% else %}
                                                <span style="font-size:1.5rem">
                                         &nbsp  {{ sourceRow['display_text'] }}
                               </span>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endif %}

                            {% endfor %}
                    </div>
                </div>

                        {% endif %}

                    {% if genre_list is not empty %}
                        <br><b>Medium</b><br><br>

                        <div class="btn-group" role="group" aria-label="...">
                            {% for genre, genre_text in  genre_list %}
                                <a type="button" class="btn btn-default"
                                   href="{{ path('artists_directory_list', {'display_type':"list",  'genre': genre, 'map_number':'All', 'event':'All', 'display_order':'default' }) }}">  {{ genre_text }} </a>
                            {% endfor %}

                        </div>
                    {% endif %}


                    <br><br>





                    {% if  events is not  empty %}
                <p><b>Events {{ space }}{{ app.year }}</b><br></p>
                    {%  endif %}


                <ul class="event-list">

                    {#  LIST MAIN EVENT #}

                    {% if events[app.location_event_id]is defined and artist_data.Active =='Y' %}
                        <li class="one-event">
                            {% set oneEvent = events[app.location_event_id] %}
                            {% if oneEvent.exception is empty %}
                                <b>Open Studios ({{  app.location_event_name}})<br> </b>
                            {% else %}
                                <b>Open Studios {{ space }} {{ oneEvent.exception | raw}}</b><br>
                            {% endif %}

                            {% if artist_data.map_number is not empty %}<b>
                                <a href="{{ path('artists_directory_list', {'display_type':"map",  'genre': 'All', 'map_number': artist_data.map_number, 'event':'All', 'display_order':'default' }) }}">
                                    Map# {{ space }}{{ artist_data.map_number }} <br>
                                </a>
                                </b>
                                {#
                                <a type="button" stlye="padding-right:10px" class="btn btn-default btn-sm"   href="https://www.somervilleopenstudios.org/wp-content/uploads/2021/04/SOS21MapLetter.pdf"> PDF Map</a>
                                <a type="button" stlye="padding-right:10px" class="btn btn-default btn-sm" href="https://www.somervilleopenstudios.org/wp-content/uploads/2021/04/SOS21MapTabloid.jpg"> jpg Map</a>
                                <br/>
                                #}
                            {% endif %}

                            {% if artist_data.building_name is not empty  %}
                                {{ artist_data.building_name }} <br>
                            {% endif %}

                            {{ artist_data.street_address }}

                            {% if artist_data.address_details is not empty  %}
                                <em> {{ artist_data.address_details }} </em>
                            {% endif %}


                            {% if artist_data.HandicapAccessible == 'Y'%}
                                <br> <img src="{{ app.request.basepath }}/web/images/mapicons/wheelchair.png" alt="Accessible Location"> Accessible (self reported) <br>
                            {%else %}
                                &nbsp  <br>[Not reported as Accessible]
                            {% endif %}


                            {% if artist_data.address_details is not empty %}
                                {# - {{ artist_data.address_details }} #}

                            {% endif %}
                        </li>


                    {% else %}
                        <li>
                        {% if artist_data.member_year == app.year -1  %}
                            <p><b>Not yet registered for &nbsp  {{ app.year }} Open Studios Event</b></p>
                        {%  else %}
                            <p><b>Studio Not Open For SOS  &nbsp{{ app.year }} </b></p>
                        {% endif %}
                        </li>
                    {% endif %}

                    {#  LIST OTHER EVENTs #}

                    {% if  events is not empty %}
                </ul>
                <ul>
                    {% for oneEvent in events %}
                        {%  if oneEvent.event_id !=  app.location_event_id%}
                            {% if loop.first and events |length >=2 %}
                                <b>Shows</b><br>
                            {% endif %}

                            <li class="one-event">
                            {% if oneEvent.time_description is not empty %}
                                <b> {{ oneEvent.event_name }}  </b> <br>  ({{ oneEvent.time_description }})<br>
                            {% else %}
                                <b> {{ oneEvent.event_name }}  </b>  <br>
                            {% endif %}

                            {% if oneEvent.location_description is not empty %}
                                  {{ oneEvent.location_description }} <br>
                            {% endif %}

                            {% if oneEvent.event_url is not empty %}
                                 <a class=""
                                                    href="{{ oneEvent.event_url }}">  Details </a>
                                </li>

                            {% endif %}

                            </li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>


                {#  SHOW MAP #}

                {% if events[app.location_event_id]is defined and artist_data.Active =='Y' %}

                <div style="width: 100%; height: 280px; border: 1px" id="map_canvas" class="map rounded"></div>
                    <div style="font-weight: bold; font-size: 1.2em"> <a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q={{ artist_data.street_address |replace({' ': '+'})}}+,+Somerville+MA+" target="_blank">  Directions (google maps) >></a></div>
                {% endif %}

                <div style="margin-top: 1em;">
                    <hr>
                    {% if artist_data.statement is not empty %}

                        <p><b>Artist's Statement</b></p>
                        {{ artist_data.statement | raw }}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>



    {% endblock content %}
