{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}
    {% include "common/menu_wp_2021_top_static.html.twig" %}
{% endblock menu %}

{% block title %}
     Somerville Open Studios Artists
{% endblock title %}
{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px; margin-top:50px;  background-image: url('{{ app.request.basepath }}/web/images/artists_banner.jpg');
            background-size: cover; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style='color:white'>SOMERVILLE OPEN STUDIOS <br/>{{app.year}} Artists </h2>

                </div>
            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="container-fluid soswide">

    <script>
        function checkAllCheckboxes(id) {
            var existingURL = window.location.href;
            var newURL = existingURL.replace(/medium\=([A-z,]*)\//, "medium=All/");
            window.location = newURL;

        }

        jQuery(document).ready(function () {

//            https://2018.somervilleopenstudios.org/mobile/itin_remove.php?command=remove&id=376


// ADD
            jQuery('.medium-select').click(function (e) {

                jQuery('#form_genreList_All').prop('checked', false);

                $('.medium-select').attr("disabled", true);
                setTimeout(function() {
                    $('.medium-select').removeAttr("disabled");
                }, 10000);


                var selected = [];
                $('.checkbox input:checked').each(function () {
                    selected.push($(this).attr('value'));
                });

                var selectedString = selected.toString();
                console.log("string:" + selectedString);

                if (selectedString == "") {
                    selectedString = "All";
                }

                var existingURL = window.location.href;
                var newURL = existingURL.replace(/medium\=([A-z,]*)\//, "medium=" + selectedString + "/");
                console.log(existingURL);
                console.log(" NEW: " + newURL);

                //medium\=([A-z]*)\/

                window.location = newURL;
                //console.log(selected);
//http://127.0.0.1:8888/artists/artist_directory_list/display=grid/medium=Drawing/event=All/map_num=All
            });
        })
    </script>



    <style>
        .artistlist-container {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            max-width:1200px;
        }


        .artistlist {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: #E3E5EA;
            align-items: flex-start;
            justify-content: space-between;

        }

        .artistlist:nth-of-type(2n) {
            background-color: white;
        }


        .artistlist-thumb-namediv {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

        }

        .sosmw {
            max-width:400px;
            width: 400px
        }
        .sosmww2 {
            max-width:600px;
            width: 600px
        }
        .artistlist-thumb {
            flex: 50%;
            margin: 10px;
            max-width:120px;
        }

        .artistlist-location {
            margin-top: 7px;
            flex: 50%
            max-width:220px;
            padding-left:4px;

        }

        .al-bc  {
            margin-top: 7px;
            margin-left:10px;
            font-size:0.9em;
            padding-righ:15px;
            width:140px
        }
        .al-ip {
            margin-top: 7px;
            margin-left:10px;
            font-size: 0.9em;
            padding-right: 15px;
            text-align: right;
        }


        .artistlist-details {
            flex:65%;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 7px;
        }


        .container2 {
            font-size:0.95em;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            margin-right:10px;
        }

        @media only screen and (min-width: 992px) {
            .boxmenu1 {
            }
        }
        @media  only screen and  (max-width:1050px) {

            .container2{
                flex-direction: column;
                justify-content: flex-end;
            }
            .al-ip {

                text-align: left;
            }
        }
        @media  only screen and (max-width:400px) {

            .soswide{
                padding-left:0px !important;
                padding-right:0px !important;
            }
        }



    </style>



    <div class="row">
        {%  if top_include is defined and top_include is not empty %}
            {% include top_include %}
        {% endif  %}
    </div>


    <div class="">

        {% if display_type == "map" %}
        {%  if app.listing_show_map is defined and app.listing_show_map != 'N' %}
        <div class="row" style="padding-left:25px ">

            <h2> Map</h2>
            Legend: <img src="/web/images/mapicons/map_legend_v3.png" alt="map legend" height="20px">
	    <span style="padding-left:10px"> </span>
            <button class="btn-xs" id="showMyLocation">Show my location</button>

            # Check if map is selected to be shown.



            {% if display_type == "map" %}
                &nbsp &nbsp
                        <label>
                            <input type="checkbox" name="SOSmapFilter" id="optionsCheckboxes1" value="ARTISTS" {% if app.request.get('mapFilter') in ['ARTISTS',''] %} checked {%endif %}>
                            Artists &amp; Events
                        </label>


                &nbsp &nbsp
                        <label>
                            <input type="checkbox" name="SOSmapFilter" id="optionsCheckboxes3" value="TROLLEYS" {% if app.request.get('mapFilter') in ['TROLLEYS',''] %} checked {% endif %} >
                            Trolleys <img src="https://www.somervilleopenstudios.org/web/web/images/mapicons/trolley_icon_green.png" height="20px">
                        </label>
                Trolleys Run 12-6pm.
            {% endif %}



            <div style="width: 100%; height: 480px; border: 1px" id="map_canvas" class="map rounded"></div>
                {%else %}
                <h3>  Map available soon</h3>
            {% endif %}
           {#
            <span style="float:right"><a href="https://www.somervilleopenstudios.org/wp-content/uploads/2023/04/2023_SOS_Map_with_legend.jpg"> Static Map (jpg)</a> </span>
           #}

            {% include "common/map_js.html.twig" %}

        </div>
        {% endif %}



        <div class="row" style="padding-left:5px ">

            <div class="col-md-4 boxmenu1" >


                <h4>{{ list_name }}</h4>
                  {%  include "common/listing_events_details.html.twig" %}

                {% if list_name starts with "Search For Term" %}
                    <br>
                    <a class="btn btn-success"
                       href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': "All", 'map_number':'All', 'event':'All', 'display_order':'default'  }) }} ">Reset Search</a>
                {% endif %}

                {#
                {% if display_type == "map" or list_name starts with  " Map" or list_name starts with  "Map" %}
                    <a class="btn btn-success"
                       href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': "All", 'map_number':'All', 'event':'All', 'display_order':'default'  }) }} ">Clear Search</a>
                {% endif %}
                #}
            </div>
            <div class="col-md-5 boxmenu1" >
                {% if list_name starts with "Search For Term" %}

                {% else %}
                <h3> Events</h3>
                    {% include "common/listing_events.html.twig" %}
                {% endif %}


            </div>

            <div class="col-md-3 boxmenu1" >
                <div style="width:280px">
                    <h3> Search </h3>
                    {{ form_start(search_form) }}
                    {{ form_errors(search_form) }}
                    {{ form_widget(search_form.search_term)}}
                    <br>
                    {{ form_widget(search_form.submit, { 'label': 'Search'}) }}

                    {{ form_end(search_form) }}
                </div>
            </div>

        </div>




        {# SIDE MENU #}



        {# Don't show side menu if its a search by name #}

        {%  if list_name starts with "Search For Term" %}

        {% else %}
            <div class="col-sm-2">
                <div class="medium-div">
                    <h3>Medium</h3>

                    <div class="checkbox">
                        <label class=""><input type="checkbox" id="form_genreList_All" name="form[genreList][]" value="All"
                                    {% if 'All'  in mediums_array %}
                                        checked="checked"
                                    {% endif %}                                                                                                     onclick="checkAllCheckboxes(this.id);"   /> <b>All</b></label><hr>
                    </div>

                    {% for medium_key, medium_text in mediums %}

                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" class="medium-select"  id="form_genreList_1" name="form[genreList][]" value="{{ medium_key}}"
                                        {% if medium_key  in mediums_array %}
                                            checked="checked"
                                        {% endif %}
                                />

                                {{ medium_text }}

                            </label>
                        </div>


                    {% endfor %}

                </div>
            </div>
        {% endif %}




        {# RESULT ROWS / GRID CONTROLS #}


        {% if list_name starts with "Search For Term" %}
            <div class="col-sm-12 style=" padding-left:10px">
        {% else %}
            <div class="col-sm-10 style=" padding-left:10px">
        {% endif %}

{#  Control Buttons #}


        {% if not (list_name starts with "Search For Term") %}

        <div class="row" style="margin-bottom: 15px">

            <div class="col-md-8" style="padding-left:30px">
                <p>
                    &nbsp
                </p>
                <div class="btn-group" role="group" aria-label="...">

                <a href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': display_order }) }}" type="button" class="btn btn-default" {% if display_type == "grid" %}   disabled    {% endif%} > Gallery</a>
                <a href="{{ path('artists_directory_list', {'display_type':"list",  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': display_order }) }}" type="button" class="btn btn-default"    {% if display_type == "list" %}   disabled    {% endif%} >  List </a>

                    {#only display map for certain searches .#}
                    {%  if event == app.location_event_id or  event =="favorites" %}
                        <a href="{{ path('artists_directory_list', {'display_type':"map",  'genre': genre, 'map_number':map_number, 'event':event, 'display_order':  'default'}) }}" type="button" class="btn btn-default"    {% if display_type == "map" %}   disabled    {% endif%} >  Map </a>
                        {%else%}
                            <a href="{{ path('artists_directory_list', {'display_type':"map",  'genre': genre, 'map_number':map_number, 'event':app.location_event_id, 'display_order':  'default'}) }}" type="button" class="btn btn-default"    {% if display_type == "map" %}   disabled    {% endif%} >  Map </a>
                    {% endif %}

                </div>
                {% include "common/listing_events_name.html.twig" %}
            </div>


            <div class="col-md-4" style="padding-right: 0px;">
                <div class="pull-right">
                    {%if display_type == 'map' or display_type == 'list'%}
                    <img src="{{ app.request.basepath }}/web/images/mapicons/wheelchair.png" alt="Accessible Location" height=15px> <span style="font-size: .6em"> =  Accessible (self reported) &nbsp
                    {%endif %}
                    <p>&nbsp</p>
                    <span style="color: lightgray">Order By:</span>

                    <div class="btn-group" role="group" aria-label="...">

                        <a href="{{ path('artists_directory_list', {'display_type':display_type,  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': 'default' }) }}" type="button" class="btn btn-default" {% if display_order == "default" %}   disabled    {% endif%}> Name </a>



                        {% if display_type == "map"  %}

                        <a href="{{ path('artists_directory_list', {'display_type':display_type,  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': 'map' }) }}" type="button" class="btn btn-default"  {% if display_order == "map" %}   disabled    {% endif%}  > Map </a>
                    {% endif  %}

                        <a href="{{ path('artists_directory_list', {'display_type':display_type,  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': 'random' }) }}" type="button" class="btn btn-default"   > Random </a>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}



        {# RESULT ROWS / GRID #}

        <div class="row" style="min-height: 400px; padding-left:25px">

            <ul class="artistlist-container">
                {% for key,item in artist_data %}
                    <li class="artistlist">

                        {#  Use different div if no other items in row #}


                        {% if  item.Participating=='Y'   %}
                            {% if  events[item.id] is defined and events[item.id] is not empty and events[item.id]['1013'] is defined %}
                              <div class="artistlist-thumb-namediv sosmw aram">
                            {% else %}
                             <div class="artistlist-thumb-namediv sosmw aram2 ">
                          {% endif %}
                        {% elseif  events[item.id] is defined and events[item.id] is not empty and events[item.id]['1013'] is defined %}
                                      <div class="artistlist-thumb-namediv sosmw">
                                   {% else %}
                                          <div class="artistlist-thumb-namediv sosmww2 ">
                        {% endif %}


                            <div class="artistlist-thumb">
                                {% if item.id  matches '/^\\d+$/' %}
                                <a href="{{ path('artists_profile',{'id': item.id}) }}">
                                    {% else %}
                                        no link
                                    {% endif %}
                                    {# r={{ "now"|date("z_h") }} #}
                                    <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg{{ thumb_cache }}" height="90px"
                                    {# <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg?r={{ now|date("z_h") }}" height="90px"#}
                                         width="90px"
                                         alt=" {{ item.PublicFirstName }} &nbsp {{ item.PublicLastName }} thumbnail "
                                         onerror="imgError(this);">
                                </a>
                            </div>


                            <div class="artistlist-location">
                                <a href="{{ path('artists_profile',{'id': item.member_id}) }}">
                                    <b> {%  if  item.PublicFirstName is not empty%}
                                            {{ item.PublicFirstName }} &nbsp 
                                        {% endif %}
                                        {{ item.PublicLastName }} </b>

                                    {% if item.BusinessName is not empty %}
                                        <br/><b>{{ item.BusinessName }} </b>
                                    {% endif %}
                                </a>


                                <br>{{ item.ShortDescription }}
                            </div>
                        </div>

                                          {% set oneEvent = app.location_event_id %}

                        <div class="container2">
                           {#  <div class="al-bc" style="">app.location_event_id

                            </div>
#}


                            <div class="al-ip" style="">

                            {% if item.Participating=='N' and item.Active =='Y' %}

                                {% if events[app.location_event_id] is not defined %}

                                    <p><b> Artist Studio Not Open for &nbsp {{ app.year }}</b></p>
                                    {% endif %}
                            {% elseif item.Active =='N' %}
                                <p> Artist Studio Not yet registered for &nbsp {{ app.year }}</p>
                            {% else %}
                                            {% if item.map_number is not empty and item.Participating =='Y' and map_settings.showMapNumber == 'true' %}
                                                <a href="{{ path('artists_directory_list',{'display_type': display_type   ,'genre' : 'All', 'event': event, 'map_number': item.map_number, 'display_order' : 'default'}) }}">
                                                <b> &nbsp Map#: {{ item.map_number }}</b></a>
                                                {% endif %}
                                                {% if item.HandicapAccessible == 'Y'%}
                                                    <br><img src="{{ app.request.basepath }}/web/images/mapicons/wheelchair.png" alt="Accessible Location" height=15px>Accessible (self reported) &nbsp



                                                {%endif%}

                                <br>
                                {#  Print time exception if available#}

                                {% if events[item.id] is defined and events[item.id] is not empty and events[item.id][oneEvent] is defined and events[item.id][oneEvent]['exception'] is defined and events[item.id][oneEvent]['exception'] is not empty %}
                                    <em>{{events[item.id][oneEvent]['exception'] |raw}}</em><br>
                                {% else %}

                                {% endif %}


                                {% if item.building_name is not empty and item.Participating =='Y' %}
                                    {{ item.building_name }} <br>
                                {% endif %}

                                <em> {{ item.street_address }} </em>
                                {% if item.address_details is not empty %}
                                    : {{ item.address_details }}
                                {% endif %}

                            {% endif %}

                            {#   NO BUILDINGS THIS YEAR

#}


{#
                            {% if item.map_number is not empty and item.Participating =='Y' and map_settings.showMapNumber == 'true' %}
                              <br>   <a href="{{ path('artists_directory_list',{'display_type': display_type   ,'genre' : 'All', 'event': event, 'map_number': item.map_number, 'display_order' : 'default'}) }}">
                                  Map#: {{ item.map_number }}</a> <br>

                                {% if item.HandicapAccessible == 'Y'%}
                                    <img src="{{ app.request.basepath }}/web/images/mapicons/wheelchair.png" alt="Accessible Location">Accessible Location <br>

                                {% endif %}

                                <br>

                            {% else %}
                                {% if item.Participating =='N' and item.Active =='Y' %}
                                    <br>Studio Not Open for Event
                                {% endif %}
                            {% endif %}
#}
{#
                            {% if item.FridayNight =='Y' and item.Active =='Y'  %}
                                <a href="/artists/artist_directory_list/display=list/medium=All/event=friday/map_num=All">Open Friday</a><br>

                            {% endif %}

                            {% if item.fashion_show =='Y' %}
                                <a href="{{ path("show_event_page", {'event_name': '2019_fashion_show'}) }}">Fashion
                                    Show </a><br>
                            {% endif %}


                          {% if item.inside_out =='Y' %}
                                <a href="/visit/#inside_out">Inside-Out Show</a> <br>
                            {% endif %}
                            #}



                            {# <a href="{{ path('artists_profile',{'id': item.id}) }}" class="btn btn-outline-dark"> View Profile </a><br> #}


                        </div>

                    </li>



                {% else %}

                    <h4> No Artists Found</h4>

                {% endfor %}

            </ul>
        </div>
    </div>
    </div>
    </div>

{% endblock content %}
