{%  if type_link is defined and type_link is not null and type_link is not empty %}
View: <div class="btn-group" role="group" aria-label="...">
    <a href="{{ type_link.list }}" type="button" class="btn btn-default"> List </a>
    <a href="{{ type_link.grid }}" type="button" class="btn btn-default"> Thumbnails </a>
    {#  <a href="{{ type_link.map }}" type="button" class="btn btn-default"> Map </a> #}
</div>

    {#
<div class="btn-group" role="group" aria-label="..." style="margin-left:70px">

    <a href="{{ path('artists_directory')}}" type="button" class="btn btn-default">  New Search</a>
</div>
#}
{% endif %}
<p> </p>