{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}

    {% include "common/menu_wp_2021_top_static.html.twig" %}

{% endblock menu %}

{% block title %}
    {{app.year}}  Somerville Open Studios Artists
{% endblock title %}
{% block jumbotron %}


    <script>
        function checkAllCheckboxes(id) {
            var existingURL = window.location.href;
            var newURL = existingURL.replace(/medium\=([A-z,]*)\//, "medium=All/");
            window.location = newURL;

        }

        jQuery(document).ready(function () {

//            https://2018.somervilleopenstudios.org/mobile/itin_remove.php?command=remove&id=376


// ADD
            jQuery('.medium-select').click(function (e) {


                $('.medium-select').attr("disabled", true);
                setTimeout(function() {
                    $('.medium-select').removeAttr("disabled");
                }, 10000);

                jQuery('#form_genreList_All').prop('checked', false);

                var selected = [];
                $('.checkbox input:checked').each(function () {
                    selected.push($(this).attr('value'));
                });

                var selectedString = selected.toString();
                console.log("string:" + selectedString);

                if (selectedString == "") {
                    selectedString = "All";
                }

                var existingURL = window.location.href;
                var newURL = existingURL.replace(/medium\=([A-z0-9,]*)\//, "medium=" + selectedString + "/");
                console.log(existingURL);
                console.log(" NEW: " + newURL);

                //medium\=([A-z]*)\/

                window.location = newURL;
                //console.log(selected);
//http://127.0.0.1:8888/artists/artist_directory_list/display=grid/medium=Drawing/event=All/map_num=All
            });
        })
    </script>

    <style>
        .thumb_container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            grid-gap: 1px;
            list-style: none;
            margin: 0;
            padding: 2.2rem;

            background-color: #fcfcff;
        }

        .thumb_container li {
            font-size: 0.9em;
            margin: auto;
            background: white;
            padding: 10px 10px;
            margin-top: 10px;
            border-radius: 30px 0 /0px 0px;
            /*box-shadow: 0px 1px 2px 1px #c4c4c4;*/
            min-height: 200px;
            min-width: 150px;
            max-width: 180px;

            border: 1px solid transparent;
        }

        .thumb_container li:hover {

            border: solid 1px #30a832;


        }
        .cardicon {
            display: none;
        }

        @media  only screen and  (max-width:475px) {
            .thumb_container li {
             max-width: 100%;
                font-size:1.0em;
            }
            .cardicon {
                display: block;
            }
        }

    </style>

    <div class="jumbotron" style="margin-bottom: 0px; margin-top:50px;  background-image: url('{{ app.request.basepath }}/web/images/artists_banner.jpg');
            background-size: cover; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style='color:white'>SOMERVILLE OPEN STUDIOS <br/>{{app.year}} Artists </h2>

                </div>
            </div>
        </div>
    </div>
{% endblock jumbotron %}



{% block content %}
    <div class="container-fluid">


        <div class="row" style="padding-left:10px;">
            {% if top_include is defined and top_include is not empty %}
                {% include top_include %}
            {% endif %}
        </div>


        <style>event

            @media only screen and (min-width: 992px) {
                .boxmenu1 {
                    height: 180px;
                }
            }

        </style>


        <div class="row" style="padding-left:25px ">

            <div class="col-sm-4 boxmenu1">
                <h3>{{ list_name }}</h3>
                {%  include "common/listing_events_details.html.twig" %}

                {% if list_name starts with "Search For Term" %}
                    <br>
                    <a class="btn btn-default"
                       href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': "All", 'map_number':'All', 'event':'All', 'display_order':'default'  }) }} ">Reset
                        Search</a>
                {% endif %}


            </div>
            <div class="col-sm-5 boxmenu1">
                <h3> Events</h3>
                <p>
                    {% include "common/listing_events.html.twig" %}


                </p>
            </div>

            <div class="col-sm-3 boxmenu1" style="">
                <div style="width:280px" class="">
                    <h3> Search </h3>
                    {{ form_start(search_form) }}
                    {{ form_errors(search_form) }}
                    {{ form_widget(search_form.search_term) }}
                    <br>
                    {{ form_widget(search_form.submit, { 'label': 'Search'}) }}

                    {{ form_end(search_form) }}
                </div>
        </div>



    </div>


    {# RESULT ROWS #}

    {# Main bar. #}


    <div class="row" style="padding-left:25px">

        {% if list_name starts with "Search For Term" %}

        {% else %}
            <div class="col-sm-2">
                <div class="medium-div">
                    <h3>Medium</h3>

                    <div class="checkbox">
                        <label class=""><input type="checkbox" id="form_genreList_All" name="form[genreList][]"
                                               value="All"
                                    {% if 'All'  in mediums_array %}
                                        checked="checked"
                                    {% endif %} onclick="checkAllCheckboxes(this.id);"/> <b>All</b></label>
                        <hr>
                    </div>

                    {% for medium_key, medium_text in mediums %}

                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" class="medium-select" id="form_genreList_1"
                                       name="form[genreList][]" value="{{ medium_key }}"
                                        {% if medium_key  in mediums_array %}
                                            checked="checked"
                                        {% endif %}
                                />

                                {{ medium_text }}

                            </label>
                        </div>


                    {% endfor %}

                </div>
            </div>
        {% endif %}

        {# Don't show side menu if its a search by name #}

        {% if list_name starts with "Search For Term" %}
            <div class="col-sm-12 style=" padding-left:10px">
        {% else %}
            <div class="col-sm-10 style=" padding-left:10px">
        {% endif %}




        {#  Control Buttons #}




        {% if not (list_name starts with "Search For Term") %}

            <div class="row" style="margin-bottom: 15px">

                <div class="col-md-8" style="padding-left:30px">
                    <p>
                        &nbsp
                    </p>
                    <div class="btn-group" role="group" aria-label="...">

                        <a href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': display_order }) }}" type="button" class="btn btn-default" {% if display_type == "grid" %}   disabled    {% endif%} > Gallery</a>
                        <a href="{{ path('artists_directory_list', {'display_type':"list",  'genre': genre, 'map_number':map_number, 'event':event, 'display_order':  'default'}) }}" type="button" class="btn btn-default"    {% if display_type == "list" %}   disabled    {% endif%} >  List </a>
                        {#only display map for certain searches .#}
                        {%  if event == app.location_event_id or  event =="favorites" %}
                            <a href="{{ path('artists_directory_list', {'display_type':"map",  'genre': genre, 'map_number':map_number, 'event': event, 'display_order':  'default'}) }}" type="button" class="btn btn-default"    {% if display_type == "map" %}   disabled    {% endif%} >  Map </a>
                            {%else%}
                                <a href="{{ path('artists_directory_list', {'display_type':"map",  'genre': genre, 'map_number':map_number, 'event': app.location_event_id, 'display_order':  'default'}) }}" type="button" class="btn btn-default"    {% if display_type == "map" %}   disabled    {% endif%} >  Map </a>
                        {% endif %}
                    </div>


                    {% include "common/listing_events_name.html.twig" %}




                </div>

                <div class="col-md-4" style="padding-right: 10px;">
                    <div class="pull-right">
                        <p>&nbsp</p>
                        <span style="color: lightgray">Order By:</span>

                        <div class="btn-group" role="group" aria-label="...">

                            <a href="{{ path('artists_directory_list', {'display_type':display_type,  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': 'default' }) }}" type="button" class="btn btn-default" {% if display_order == "default" %}   disabled    {% endif%}> Name </a>

                            {% if display_type == "map"  %}

                            <a href="{{ path('artists_directory_list', {'display_type':display_type,  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': 'map' }) }}" type="button" class="btn btn-default"  {% if display_order == "map" %}   disabled    {% endif%}  > Map </a>
                        {% endif  %}


                            <a href="{{ path('artists_directory_list', {'display_type':display_type,  'genre': genre, 'map_number':map_number, 'event':event, 'display_order': 'random' }) }}" type="button" class="btn btn-default"   > Random  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> </a>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}



        <ul class="thumb_container">
            {% for key,item in artist_data %}

                <li>
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ item.id }} ">
                        {#  ?r={{ now|date("z_h") }} #}
                        <img class="img-responsive" src="/artist_files/artist_images/splash/{{ item.id }}.jpg{{ thumb_cache }}"
                             alt=" {{ item.PublicFirstName }}&nbsp{{ item.PublicLastName }} thumbnail "
                             onerror="imgError(this);">

                        <div class="thumbnail_label">
                            {% if item.BusinessName is not empty %}
                                {{ item.BusinessName }} <br>
                            {% endif %}
                            {{ item.PublicFirstName }}&nbsp{{ item.PublicLastName }}

                            <span   style="font-size:1.3em; color: darkgray; padding-left:6px; float:right" class="glyphicon glyphicon-new-window cardicon" aria-hidden="true">
                     </span>
                        </div>
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>


    </div>
    </div>

{% endblock content %}
