{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Somerville Open Studios <br/>  {{app.year}} Artist Directory </h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="">
        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger">

            <h3> <a href="{{ path('artists_directory') }}">Artist Directory </a></h3>


            <h4> {{ list_name }}</h4>

            {% include "artists/artist_button_type.html.twig" %}

            <h4> MAP</h4>
            <div style="width: 100%; height: 480px; border: 1px" id="map_canvas" class="map rounded"></div>


        </div>
    </div>



    <style>
        .artistlist-container {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }


        .artistlist {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: #dddddd;

        }

        .artistlist:nth-of-type(2n) {
            background-color: white;
        }


        .artistlist-thumb {
            flex: 20%;
            margin: 10px;

        }

        .artistlist-location {
            margin-top: 7px;
            flex: 30%


        }

        .artistlist-details {
            flex: 20%;
            margin-right: 10px;
        }


    </style>

    <div class="row">
        {%  if top_include is defined and top_include is not empty %}
            {% include top_include %}
        {% endif  %}
    </div>

    <div class="row">
        {% include "common/map_js.html.twig" %}
    </div>

    <script>


        jQuery(document).ready(function () {

//

            $('#locate_self').click(function(e) {


                $('#map_canvas').gmap('getCurrentPosition', function(position, status) {
                    if ( status === 'OK' ) {

                        var clientPosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        var iconH=37;
                        var iconW=24;
                        $('#map_canvas').gmap('addMarker', { 'icon': {'url' :'/web/images/mapicons/you.png',
                                'scaledSize' : {'width':iconW, "height":iconH},
                            },'position': clientPosition, 'bounds': true}).click(function() {
                            $('#map_canvas').gmap('openInfoWindow', { 'content': "Your Aprox Location"}, this);
                        });

// add the marker and set within bounds
                        $.each( data.markers, function(i, marker) {

                            $('#map_canvas').gmap('addMarker', {
                                'icon': '/web/images/mapicons/orange/number_'+marker.map_number+'.png',
                                'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                                'bounds': true
                            }).click(function() {
                                $('#map_canvas').gmap('openInfoWindow', { 'content': marker.content }, this);
                            });

                        });



                    } else {

                        //alert ("could not find your location");
                    }
                });

                e.preventDefault();
            }); // click




        });
    </script>


    <div class="row">
        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger" style="display:flex;flex-flow: row wrap;">

            <div class="legend" style="flex:4">
                <img src="/web/images/mapicons/map_legend.png" alt="map legend">
                <ul>
                    <li>Trolleys run sat-sun 12-6pm.</li>
                    <li>blue circles require zooming in to see sites
                    </li>
                </ul>
            </div>
            <div class="legend" style="flex:4">
                <a id="locate_self" href="#map_canvas" class="btn btn-primary" >Show My Location</a>
            </div>
        </div>
    </div>
{% endif %}

    <div class="row">
        {%  if undermap is defined and undermap is not empty %}
            {% include undermap %}
        {% endif  %}
    </div>












    {# LIST #}






    <div class="row">
        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger">


        <ul class="artistlist-container">
        {% for key,item in artist_data %}
            <li class="artistlist">
                <div class="artistlist-thumb">
                    {% if item.id  matches '/^\\d+$/' %}
                    <a href="{{ path('artists_profile',{'id': item.id}) }}">
                        {% else %}
                            no link
                        {% endif %}
                        <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="90px"
                             width="90px"
                             alt=" {{ item.PublicFirstName}} {{ item.PublicLastName }} thumbnail "   onerror="imgError(this);">
                    </a>
                </div>
                <div class="artistlist-location">
                    <a href="{{ path('artists_profile',{'id': item.member_id}) }}">
                        <b>{{ item.PublicFirstName }}
                            {{ item.PublicLastName }} </b>

                        {% if item.BusinessName is not empty %}
                            <br/><b>{{ item.BusinessName }} </b>
                        {% endif %}
                    </a>


                    <br><b>{{ item.ShortDescription }} </b>
                </div>
                <div class="artistlist-details">


                    {% if item.building_name is not empty and item.Participating =='Y' %}
                        {{ item.building_name }}<br>

                    {% endif %}

                    {% if item.Participating=='N' and item.Active =='Y' %}
                        <p> Artist Studio Not Open for {{ app.year }}</p>
                    {% elseif item.Active =='N' %}
                        <p> Artist Studio Not yet registered for {{ app.year }}</p>
                    {% else %}
                        {{ item.street_address }}
                        {% if item.address_details is not empty %}
                            - {{ item.address_details }}
                        {% endif %}
                        <br/>
                    {% endif %}

                    {% if item.map_number is not empty and item.Participating =='Y' and map_settings.showMapNumber == 'true' %}
                        <a href="{{ path('artists_directory_list',{'display_type': display_type   ,'genre' : genre, 'event': event, 'map_number': item.map_number}) }}">
                            Map#: {{ item.map_number }}</a> <br>

                        {% if item.HandicapAccessible == 'Y'%}
                            <img src="{{ app.request.basepath }}/web/images/mapicons/wheelchair.png" alt="Accessible Location">Accessible Location <br>

                        {% endif %}
                        <br>

                    {% else %}
                        {% if item.Participating =='N' %}
                            <br>Studio Not Open for Event
                    {% endif %}
			    
                    {% endif %}
                            {% if item.HandicapAccessible == 'Y'%}
                            <img src="{{ app.request.basepath }}/web/images/mapicons/wheelchair.png" alt="Accessible Location">Accessible Location <br>

                        {% endif %}

                    {#     {% if item.inside_out =='Y' %}
                             <a href="/visit/#inside_out">Inside-Out Show</a> <br>
                         {% endif %}
#}

                    <br>
                </div>

            </li>



        {% else %}

            <h4> No Artists Found</h4>

        {% endfor %}

    </ul>
    </div>
</div>

{% endblock content %}
