{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists_directory' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
  <style>
        .jumbotron-custom  {
            background-image: url('/web/images/visit/artist_listing_banner.jpg')  !important;
            background-color:black;
 background-repeat: no-repeat;

            color:black;
            font-weight: bold;
        }
    </style>

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


    <h2 style="background: rgba(255,255,255, 0.6)">Somerville Open Studios <br/> Artist Directory </h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">

            <h3> {{app.year}} Artist Directory/ Maps</h3>

            <p> Find a list of the hundreds of artists that participate in Somerville Open Studios </p>


	    <h3> Search Artists</h3>
            <div style="width:280px">
            {{ form_start(search_form) }}
            {{ form_errors(search_form) }}

            {{ form_widget(search_form.search_term)}}
            {{ form_widget(search_form.submit, { 'label': 'Search' }) }}

            {{ form_end(search_form) }}
            </div>

            <h3> All Artists </h3>
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_list', {'display_type':"list",  'genre': "All", 'map_number':'All', 'event':'All' }) }}  "> List of All Artists (300+)</a>


            <h3>Random</h3>
            <p> Check out member artists in a thumbnail grid</p>
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_random', {'type':"grid"}) }}"> Browse Random Order Thumbnail Grid </a>

            {#
            <h3> Accessible Locations</h3>
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_list', {'display_type':"list",  'genre': "All", 'map_number':'All', 'event':'accessible' }) }}"> Accessible List</a> <br>

            <h3> Itineraries</h3>
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_itin', {'type':"list" }) }}"> Itinerary List</a> <br>
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_itin', {'type':"map" }) }}"> Itinerary  Map</a> <br>
            #}
            
            <h3> By Genre</h3>
            <ul>

            {% for key, value in genre_list %}
                <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_list', {'display_type':"list",  'genre': key, 'map_number':'All', 'event':'All' }) }}">  {{ value }} </a>

            {% endfor %}
            </ul>

    </div>

}

{% endblock content %}
