{% extends 'common/basic_layout_no_container.html.twig' %}





{% set active = 'manage_itin' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}
<script src="{{ app.request.basepath }}/web/datatables/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ app.request.basepath }}/web/datatables/jquery.dataTables.js"></script>
<script src="{{ app.request.basepath }}/web/datatables/dataTables.buttons.min.js"></script>
    <script src="{{ app.request.basepath }}/web/datatables/jszip.min.js"></script>
    <script src="{{ app.request.basepath }}/web/js/qrcode.min.js"></script>
<script src="{{ app.request.basepath }}/web/datatables/buttons.html5.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/web/datatables/jquery.dataTables.css">

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

    <h2>Somerville Open Studios <br/> Artist Directory</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}

{% block content %}


    <style>
        .artistlist-container {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }


        .artistlist {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: #dddddd;

        }

        .artistlist:nth-of-type(2n) {
            background-color: white;
        }


        .artistlist-thumb {
            flex: 20%;
            margin: 10px;

        }

        .artistlist-location {
            margin-top: 7px;
            flex: 30%


        }

        .artistlist-details {
            flex: 20%;
            margin-right: 10px;
        }

        #qrcodediv {
            width:200px;
            height:200px;
            margin-top:15px;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-danger">    <h2>Manage Your Favorites/ Itinerary</h2>

                <h3> 1. Add Your Favorites from Another Device</h3>

        To transfer your favorites  <b>from </b>another device to this one, enter your share data code (from the other device) here. <em> Note this will overwrite any existing itinerary information stored on this machine.</em>

        {{ form_start(form) }}
        {{ form_end(form) }}



                <h3>2. Share the Itinerary from this device with another device</h3>

                <p> You can share your itinerary across multiple devices.  <em> Note that changes made on one device will show up on
                        all connected devices. </em></p>

                {% if itin_data is empty %}
                    <div class="alert alert-danger" role="alert">This device currently has no itinerary data to share.</div>
                {% else %}

                    <div class="alert alert-success" role="alert">
                The share key for this itinerary is <b>{{ itin_data.share_key }}</b>
                </div>

                    <p> Alternatively, you can text/email this link.  Opening this link on another device will activate the itinerary.</p>
                <div id="qrcodetext" class="alert alert-success" role="alert">
                        https://www.somervilleopenstudios.org/web/artists/artist_directory/set_itinerary/{{ itin_data.share_key }}/{{ itin_data.edit_key }}
                    </div>

                    <div id="qrcodediv">


                    </div>

                    You can text/email the link or use our form.  We won't store or share your email address.
                    Email the link:

                    {{ form_start(mail_form) }}
                    {{ form_end(mail_form) }}


                    </p>

                    <a class="btn btn-warning" href="{{ path('artists_directory_itin', {'type':"map" }) }}"> See Itinerary</a> <br>

                {% endif %}


                {% if new_itin %}

                    <a class="btn btn-warning" href="{{ path('artists_directory_itin', {'type':"map" }) }}"> See Itinerary</a> <br>

                {% endif %}

<h4>Details / Downloads</h4>
                

        </div>

        {%if artist_data is not empty %}
        <table id="artist_list" class="table table-condensed table-bordered table-striped dataTable">
            <thead>
	    <td>id</td>
            <td>Name</td>
	    <td>BusinessName</td>
	    <td>description</td>
	    <td>building name</td>
	    <td>address</td>
	    <td>address details</td>
	    <td>map number</td>
	      
            </thead>
            <tbody>
            {% for one_artist in artist_data %}
            <tr>
            

	    
	    <td>{{one_artist['id']}}</td>
            <td>{{one_artist['PublicFirstName']}} {{one_artist['PublicLastName']}}</td>
	    <td>{{one_artist['BusinessName']}}</td>
	    <td>{{one_artist['ShortDescription']}}</td>
	    <td>{{one_artist['building_name']}}</td>
	    <td>{{one_artist['street_number']}} {{one_artist['street_name']}}</td>
	    <td>{{one_artist['address_details']}}</td>
	    <td>{{one_artist['map_number']}}</td>
	    


        </tr>
                {%endfor%}
            </tbody>
        </table>

        {% else %}

            <h4> No Artists Found</h4>

        {% endif %}
        </div>
    </div>
<script>
$(document).ready( function () {
    var qrcode = new QRCode("qrcodediv",{width:200, height:200, correctLevel : QRCode.CorrectLevel.H});
//    var elText = document.getElementById("qrcodetext");
    qrcode.makeCode("https://www.somervilleopenstudios.org/web/artists/artist_directory/set_itinerary/{{ itin_data.share_key }}/{{ itin_data.edit_key }}");


       var d = new Date();
            var yearText = d.getFullYear() + "-" +
                ("00" + (d.getMonth() + 1)).slice(-2) + "-" +
                ("00" + d.getDate()).slice(-2) + " " +
                ("00" + d.getHours()).slice(-2) + ":" +
                ("00" + d.getMinutes()).slice(-2) + ":" +
                ("00" + d.getSeconds()).slice(-2);
    
    $('#artist_list').DataTable({
         dom: 'lBfrtip',
         buttons: {
                        buttons: [
                            //'pageLength',
                            {
                                extend: 'copy',
                                exportOptions: {
                                    rows: {search: 'none'},
                                },
                            },
                            
                            {
                                extend: 'excelHtml5',
                                exportOptions: {
                                    rows: {search: 'none'},
                                },
                                //exportOptions: {orthogonal: 'export'},
                                title: "sos_event" + yearText
                            },
                            {
                                extend: 'csvHtml5',
                                //exportOptions: {orthogonal: 'export'},
                                exportOptions: {
                                    rows: {search: 'none'},
                                },
                                title: "sos_event_" + yearText

                            }
                        ],
                        dom: {
                            button: {
                                className: 'btn btn-outline-secondary'
                            }
                        }
                    },
            "lengthChange": true,
            "lengthMenu": [10, 50, 100, 200, 400, 500, 750, 1000,1400],
            "pageLength" : 100,
        }
        
    );
} );
</script>



{% endblock content %}

