{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.artist_listing' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Visitor  Info</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}


        <div class="bs-callout bs-callout-danger">    <h2>Member Artist Listings</h2>



        </div>


{% endblock content %}