{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.calendar' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Visitor  Info</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}



        <h1>Calendar </h1> <p> Watch this page for a listing of Somerville Open Studios Events.
            <br><br>
            For more details see the <a href = "{{ path('visit.calendar') }}"> events details page   </a>.
            <br><br>

            Download the calendar <a href="https://www.google.com/calendar/ical/hsmcuuk9j79ta5hbu32o7kbkas%40group.calendar.google.com/public/basic.ics"> iCal format </a> |
            | <a href ="https://www.google.com/calendar/feeds/hsmcuuk9j79ta5hbu32o7kbkas%40group.calendar.google.com/public/basic"> XML </a>
            | <a href ="https://www.google.com/calendar/embed?src=hsmcuuk9j79ta5hbu32o7kbkas%40group.calendar.google.com&ctz=America/New_York"> Web Format </a>
            <br><br>

            <iframe src="https://www.google.com/calendar/embed?title=Somerville%20Open%20Studios%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hsmcuuk9j79ta5hbu32o7kbkas%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FNew_York" style=" border-width:0 " width="90%" height="600" frameborder="0" scrolling="no"></iframe>



{% endblock content %}