{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.directions_parking' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Getting To and Around Somerville</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}


        <div class="bs-callout bs-callout-danger">



            <h2>Getting To and Around Somerville</h2>


            <p style="color:red"><b>We have canceled SOS 2020 because of the Covid-19 pandemic.  No Open Studios event will take place in 2020.</b>
            
{#

            <p>If you live in Somerville, we recommend leaving your car
                at home. Visitors arriving by car, please park your car and
                leave it parked and use other modes to get from studio to studio.</p>

            <h3>Mix it up</h3>
            <p>
                At just over 3 miles long, the City of Somerville is remarkably walkable. Walk to a studio, catch a Trolley up hill to the next, and pick up a bike share to ride the flat or coast down to the next station.
            </p><p>
                Plan your visit in advance, plot a course, and leave room for serendipity!
            </p>


            <div class="" style="display:flex;flex-flow: row wrap;">
                <div style="flex:1; margin-right:15px">

                    <img src="/web/images/visit/200px-MBTA.png" alt="mbta logo" >
                </div>

                <div style="flex:3; margin-right:10px">
            <p>                     <h3>MBTA</h3>

                    Arrive in Somerville by T to Porter or Davis (Red Line) or Sullivan (Orange Line), then connect to a cross town bus or the nearby free SOS trolley.
            </p>

            <h3>MBTA Bus</h3>

            <p>An MBTA bus can be a quick way to go straight from one
                end of the city to the other. Routes 80, 83, 86, 87, 88, 89,
                90, 91, 94, 95, 96, and 101 may be of use. Arrive in Somerville
                by T to Porter or Davis (Red Line) or Sullivan (Orange Line),
                then connect to a cross town bus or the nearby free SOS
                trolley. For more information on routes (including helpful
                mobile apps!), see <a href="www.mbta.com">www.mbta.com </a> the
                <a href="https://www.mbta.com/trip-planner">MTBA Trip Planner </a> or
                <a href="https://maps.google.com"> Google Maps</a>

            </p>
                </div>
            </div>

            <div class="" style="display:flex;flex-flow: row wrap;">
                <div style="flex:1; margin-right:15px; min-width:200px">


            <h3 id="trolley" class="anchor">SOS Free Trolley</h3>

            <p>Look for the Old Town Trolleys, sponsored by Mayor Joseph
                A. Curtatone and the City of Somerville. The trolleys will run
                every twenty minutes during SOS, making convenient stops
                along the way.  This year, SOS will provide <a href="/artists/artist_directory/trolley/">live tracking of trolley locations</a>.</p>

            <p>Trolleys will run from noon to 6 pm, Saturday and Sunday.

            <p>PLEASE NOTE: If at the end
                of the day you need to be at a specific place and are using
                the trolleys, please note that the trolleys begin their last
                route around 5:30pm. The trolleys finish their route at
                Joy Street by 6pm.</p>
                
            <p>Because of several large construction projects, including the Green Line extension, SOS 2019 will have a different trolley route and stops from previous years.   Here are this year's stops:
            
            <ul>
              <li>A. <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=78">Joy Street Studios</a>, 86 Joy Street
              <li>B. <a href="/artists/artist_profile/471">Mudflat Pottery</a>, Broadway at Indiana Ave.
              <li>C. <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=70">Mad Oyster Studios</a>, Pearl Street at Bradley Street.
              <li>D. <a href="/artists/artist_directory/search/vernon">Vernon Street Studios</a>, opposite <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=46">20 Vernon Street</a>.
              <li>E. Highland Avenue at Conwell Street.  Bus stop before fire station
              <li>F. Davis Square: Tufts shuttle-bus stop across from Somerville Theatre
              <li>G. Across from from <a href="/artists/artist_profile/539">Nave Gallery</a>, 155 Powder House Blvd.
              <li>H. Kidder Ave. at Liberty Ave., far side of intersection
              <li>I. Highland Ave. at Willow Ave. bus stop
              <li>J. <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=45">Arts at the Armory</a>, 191 Highland Ave.
              <li>K. <a href="/visit/#first_look">Somerville Museum</a>, Avon Street at Central Street
              <li>L. Dane Street at Tyler Street, near <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=62">Artisan's Asylum</a>
              <li>M. Washington Street at Perry Street bus stop, across from <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=63">Washington Street Studios</a>
              <li>N. Union Square: bus stop in front of Mandarin Chinese restaurant
              <li>O. <a href="/artists/artist_directory_list/display=list/medium=All/event=All/map_num=79">Brickbottom Artist Building</a>, end of Joy Street at Fitchburg Street
             </ul>


                </div>
                <div style="flex:1">

                    <img src="/web/images/visit/sos_trolley1sm.jpg" alt="trolley" >
                </div>
            </div>

            <h3>Bicycle</h3>
            <p>Riding between artist sites is a fantastic way to get around, but if you want to park your bike and walk, look for large bike corrals in most business districts.
                </p><p>Remember: Lock up! Never lock up to a handicap parking sign. Your bike may block a disabled person from getting to the curb.
            </p>
            <h3>Parking</h3>

            <p>Thanks to the support of the City of Somerville and Mayor
                Curtatone, resident-only parking restrictions are lifted
                during SOS hours. Parking on side streets is still limited.
                Never block hydrants or driveways. Remember: meters
                are in eff ect on Friday and Saturday. Only use handicap
                spaces if you have an appropriate tag.</p>


            <p>The City of Somerville has donated
                FREE PARKING in three large city school lots. The FREE
                TROLLEY will loop past or near all of these lots.
                MIX IT UP!</p>

            <p>Ride a trolley to the top of a hill, walk to a few sites, then
                rent a bike from a bike share station to coast down hill. At the end of the day catch a
                trolley back to your car. So “pahk yah cah” once,
                and enjoy the compact tree-lined streets
                of Somerville.</p>


        </div>
#}

{% endblock content %}