{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.faq' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

            <p><span style="color:red"><b>We have canceled SOS 2020 because of the Covid-19 pandemic.  No Open Studios event will take place in 2020.</b></span>   The information on this page still describes SOS 2019, and we will leave it online to give you some idea what our event is normally like.

                <h2>Visitor FAQ</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}


        <div class="bs-callout bs-callout-danger">    <h2>Visitor FAQ</h2>

            <h3> Preview The Art</h3>
            <p>Visit the <a href="/artists/artist_directory">Artist Directory</a>
                on our website, the <a href="/visit/#first_look">First Look Exhibit</a> at the Somerville Museum, and the <a href="/visit/#volunteer">Volunteer Show</a> at Bloc Cafe in Union Square,
                to preview the studios and artwork. </p>
                
            <p>You'll also find SOS art on display at two curated shows: <a href="/visit/#inside_out">Art &amp; Soul</a> at the Inside-Out Gallery in the windows of the Davis Square CVS; and the <a href="/visit/#home">Home</a> show at Ivy Realty, 20 Holland Street in Davis Square. 

            <h3>Make A Plan</h3>

            <p>Map out artists you’d like to visit ahead of
                time. Choose artists by medium, style, or
                neighborhood. Visit artists’ home studios and
                studio buildings side-by-side. Remember to mix
                in some new artists with your perennial favorites.</p>

            <h3>Talk With The Artists</h3>

            <p>You are invited into the
                private working spaces of artists working across
                all visual media, across genres, styles, moods
                and modes of expression. Open studios provides
                a perfect opportunity to speak with artists and ask
                questions in an informal setting.</p>

            <h3>Be Prepared</h3>
            <p>Wear comfortable shoes and clothing. Be prepared
                for variable weather. Consider bringing a water
                bottle. And definitely bring a bag. You’ll want
                to carry postcards, flyers, and that great art
                you purchase. Always ask before bringing an animal
                into an artist’s space.</p>

            <h3>Be Ready To Buy</h3>
            <p>SOS is about connecting with art and artists, and
                you’re under no pressure to buy anything. But it’s
                still a good idea to be prepared for that piece
                you fall in love with and want to take home. Bring
                cash or checks, as some artists will not be able to
                ccept credit cards.</p>

            <h3>Refresh Yourself</h3>
            <p>Take breaks, rest, enjoy your weekend. Check out
                our <a href="/support/sponsor_list_food">Food and Drink Guide</a>, a list of cafes and restaurants that sponsor SOS and
                help make this weekend
                possible.</p>

            <h3>Avoid Parking Headaches</h3>

            <p>If you come to Somerville
                by car, we recommend that you park in one of
                the three free city lots and then ride the <a href="/visit/directions_parking#trolley">free SOS
                trolleys</a>, use bike-share rentals, and walk to get
                around town. Several MBTA bus routes also
                easily connect one end of town to the other.
                If you’re able, consider coming by bike, public
                transportation, or on foot.
            </p>

            <h3>SOS With Kids</h3>
            <p>You know your kids
                better than anyone. Take the time to prepare
                them, and make sure they understand the rules
                about not touching things in the studios. Not only
                can the art be fragile, but working studios can be
                hazardous places. Stay aware!</p>

            <p>If your kid needs a break between focusing on new
                things, plan walks, or visit a playground in between
                stops (not a bad idea for grown-ups either).
                Many artists will put out food and drinks for
                visitors. Make sure your kid understands
                your expectations around snacking.</p>

            <p>Visit the SOS Kids' Art Show, in the cafe of Arts at the Armory, 191 Highland Avenue.


        </div>


{% endblock content %}