{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.home' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Visitor Information</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}






{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h2>
                2021 Visitor Information</h2>

    <div class="bs-callout bs-callout-info">

        <h3>  VISIT 2021 Somerville Open Studios</h3>
    <p> SOS will take place on May 1-2, 2021.<br>
            <p style="color:red">
                 <p> SOS 2021 is currently being planned but will likely be a hybrid with both some in person and some virtual events.  More Details shortly.</p>

{#
    {% include "events_short/2019_first_look_show.html.twig" %}
    {% include "events_short/2019_volunteer_show.html.twig" %}
    {% include "events_short/2019_inside_out_show.html.twig" %}
    {% include "events_short/2019_home_show.html.twig" %}
    {% include "events_short/2019_kids_show.html.twig" %}

    <h3> Past Events</h3>
    {% include "events_short/2019_fashion_show.html.twig" %}
    {% include "events_short/2019_flatbread_fund_raiser.html.twig" %}
#}

{#
            <div class="well"><p>Shrink the browser width to make the sidebar collapse off canvase.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well"><p>4 col-md-4 </p></div>
        </div>
        <div class="col-md-4">
            <div class="well"><p>4 col-md-4</p></div>
        </div>
        <div class="col-md-4">
            <div class="well"><p>4 col-md-4</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="well"><p>6 cols, 6 small cols</p></div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="well"><p>6 cols, 6 small cols</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="well">4 cols, 6 small cols</div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="well">4 cols, 6 small cols</div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="well">4 cols, 12 small cols</div>
        </div>
    </div>
#}
    {#

    <div class="bs-callout bs-callout-danger">    <h2>2018 Somerville Open Studios Calendar</h2>

        <h3>  2018 ARTISTS</h3>
        <p> Sos has over 300 artists working in many different mediums.  We have a directory to allow you to search Artists and see some of their artwork.
        </p>
        <a class="btn btn-warning" href="{{ path('visit.artist_listing') }}">Event Details</a></p>

        <h3>  2018 Events</h3>
        <p> Sos has a large quantity of events planned for 2018 </p>
        <ul>
            <li>Artists' Choice show at the Armory </li>
            <li>Volunteer Show at Diesel Cafe</li>
            <li>Kids show at the Armory </li>
            <li> The Main Open Studios event</li>
        </ul>

        <a class="btn btn-warning" href="{{ path('visit.events') }}">Event Details</a></p>

        <h3>  2018 Calendar</h3>
        <p> For a complete calendar view visit the</p>
        <a class="btn btn-warning" href="{{ path('visit.calendar') }}">Visitor Calendar</a></p>

        <h3>  Parking Info/ Trolley Info and Hints </h3>
        <p> See out Frequently Asked Questions (FAQ) page </p>
        <a class="btn btn-warning" href="{{ path('visit.faq') }}">SOS FAQ</a></p>


</div>
#}
{% endblock content %}