{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.see_other_art' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>See Other Art</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}

{% block content %}

<div class="row">
        <div class="bs-callout bs-callout-danger">
            {% include "blocks/see_art_all_year_round.html.twig" %}
        </div>
</div>

{% endblock content %}