{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artist_tips_letter' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

                <h2>Artist Tips</h2>
    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}


{% endblock jumbotron %}

{% block content %}

    <div class="row">

        <div class="col-md-12">


            <p><link href="..//Resources/table.css" rel="stylesheet" type="text/css"> <h1>SOS Home Studio Tips &amp; Suggestions</h1>

            <h1>Example Neighbor Letter</h1>
            <p>We recommend that artists showing out of home studios send a letter to their neighbors to explain SOS weekend and to alert them that you will be opening your home for the event. If you are showing out of an apartment in a building with other residents, we also suggest you explain the hours when you will be open and that people will be visiting. Other useful topics to cover in the letter include what SOS is, why you are participating, what you will be showing, and an invitation to visit&mdash;and to explore the rest of the event!</p>

            <p><em>The following is an example of a letter used last year for this purpose and updated with 2019 dates. Thanks to SOS member artist Sarah Carlson for generously volunteering her letter!</em></p>

            <div style="background-color: white; padding: 2em; margin-top:2em; border: 1px solid #ccc; max-width:800px">


                Hi there!<br><br>
                <p>
                    It's that time of year again! Somerville Open Studios is about a couple of
                    weeks away, and I (your neighbor, Sarah in Apt #1) will be participating in the Somerville Open Studios, again this year, May 4 and 5th.  I'd like to invite you to swing my my home studio anytime between 12-6pm.
                </p><p>
                    Over the open studio weekend I will be propping the front door open during the hours of 12-6pm on Sat 5/4, and Sun 5/5. I will have plenty of signage so that anyone coming into the building knows where to go. In other words, no one should be traveling up the stairs, or knocking on your doors. If you have any questions or concerns don't hesitate to knock on my door or give me a call at 978-555-1212.
                </p>   <p>

                    Again, please stop by and visit during the open studio weekend! I'll be showing my artwork and have refreshments. I've also included the SOS mapbook so you have your own guide to all the events, and artist studios showing through the city during the weekend.
                    I hope to see you!</p> <br> <p> Cheers,</p><p>

                <p><br>Sarah</p>

            </div>

        </div>


    </div>



{% endblock content %}