{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artist_tips_home' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

                <h2>Artist Tips</h2>
    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}


{% endblock jumbotron %}

{% block content %}

    <div class="row">

        <div class="col-md-12">


            <p><link href="..//Resources/table.css" rel="stylesheet" type="text/css"> <h1>SOS Home Studio Tips &amp; Suggestions</h1>
            <p style="padding-top: 15px">Some tips for SOS artists who are exhibiting out of their homes, courtesy of <a href="/artists/artist_profile.php?artistID=1197">Sarah Carlson</a> (with some assistance from <a href="/artists/artist_profile.php?artistID=1329">Jim Baab</a>).  Sarah presented these tips at an SOS Last Wednesdays event on March 29, 2017.

            <ol style="list-style-type:upper-alpha; padding-left: 10px">
                <li> Communication: <a href="{{ path('artist_tips_letter') }}">Letter to neighbors/neighborhood</a> - hand-delivered to save postage
                    <ol style="list-style-type:numeric">
                        <li>Introduce yourself, describe your craft, give your open dates and times, mention your "light snacks", if you will be offering them, and include the fact that SOS is an annual showcase of hundreds of local visual artists - not just you
                        <li> (optional) include a 4"x6" "takeaway" post card of your work (or business card) with contact info
                        <li> (optional) include an official SOS map book
                            <ol style="list-style-type:lower-alpha">
                                <li> In <a href="{{ path('artist_tips_letter') }}"> out example letter to neighbors</a>, she suggests that people who are unable to attend keep the map book as a reminder of the wealth of artistic talent Somerville possesses and the variety of local businesses that sponsor this city-wide event.
                            </ol>
                        <li>Note: Letter and map, etc. in envelope may require rubber band
                    </ol>

                <li>Signage
                    <ol style="list-style-type:numeric">
                        <li>SOS provides <a href="{{ path('promotion_materials') }}">new designs for a Yard Sign, post cards, Facebook banners, etc.</a>, yearly. Some are customizable, some specifically mention the Friday Night Preview hours.
                            <ol style="list-style-type:lower-alpha">
                                <li>Yard Sign
                                    <ol style="list-style-type:lower-roman">
                                        <li>Customize and order as early as you can - if not printing your own
                                    </ol>
                                <li>Post Cards
                                    <ol style="list-style-type:lower-roman">
                                        <li>Get some at SOS events or promotional material distribution places

                                        <li>Mail to friends, family, and fans on your growing list of art world contacts
                                        <li>(optional) write or add a sticker to front or back with your info
                                        <li>distribute to local cafes, restaurants, businesses that are willing to help
                                    </ol>
                                <li>Social Media Banners
                                    <ol style="list-style-type:lower-roman">
                                        <li>Use them if you know how and provide links to other SOS related events/galleries that you are/will be participating in
                                    </ol>
                                <li>Balloons
                                    <ol style="list-style-type:lower-roman">
                                        <li>get some at SOS events or promotional material distribution places
                                        <li>They are orange. Use outside, inside - keep away from kids, heat, pets, etc.
                                    </ol>
                                <li>Handmade Signs - Privacy, News, Warnings, Pricing
                                    <ol style="list-style-type:lower-roman">
                                        <li>Any signs used outside of your property should be taken down each night (e.g. on street corners or in stairwells directing people to your studio)
                                        <li>Communicate where your space is in the building/house/garage, if you feel that will clear-up any potential confusion (Sarah uses signs in her windows that face the street, in the stairwell to her apartment and at the doors - which need to be closed - because she has a cat)
                                        <li>Remind visitors to watch their step coming in and out, if there are tricky steps (Jim uses signs and tape on the floor to point out one tricky, L-shaped step in the front of the space. He also uses furniture to eliminate half of that "L" and  force visitors to turn right when they enter.)
                                        <li>Privacy, food allergens, pets, pricing...
                                            <ol style="list-style-type:lower-greek">
                                                <li>Areas that are off-limits to the visiting public should be marked as such. Small signs that read "Private" can be placed on the backs of chairs that are set in doorways to block entry. Ribbons and signs can be used on furnishings that should not be touched or used as a seat.
                                                <li>food allergies - if you have snacks out for your visitors, most people who know they have an allergy will ask about the food, but you could make a card to note that the banana bread that you made contains nuts
                                                <li>pets - NO DOGS PLEASE is appropriate, because it's your personal space! (Sarah has a sign that lets visitor know there is a cat in the apartment and dogs are not allowed.)
                                                <li>Pricing - price everything you want to sell. If you want your work to present like an actual gallery, you can print small cards that have all of the important information, including year, medium, title, etc., or have a price list and markers indicating what is what, if it is not obvious. If you cannot part with your most favorite piece, mark it NFS (not for sale) or price it high enough to buy yourself a new car. At least, that will spark a conversation. Most visitors will not negotiate pricing, but others may. Be open to it or refuse. It's your choice.
                                            </ol>
                                        <li>Foam core or poster board can be used to show photos of your actual studio, if it is not accessible, your process, your work in progress, press/recognition/awards, upcoming shows, where else your work is on view during SOS, etc.
                                    </ol>
                            </ol>
                    </ol>

                <li>Flow
                    <ol style="list-style-type:numeric">
                        <li>Before you think about where to display your work during open studios, consider how people enter and exit your space and where they and you may end up talking about your work.
                            <ol style="list-style-type:lower-alpha">
                                <li>remove anything personal that you do not want to be seen or want to talk about. It's your personal space, though, so you may end up having a conversation about your travel photos or your record collection, and that could lead to a better understanding of each other, a friendship and/or a sale.
                                <li>Keep food away from tight or active areas, like the front door or sales/sign-up areas, if you can. If the coffee table in the middle of the room is your only option, consider hiding it and/or having no food. A table on the side or no table at all will make seeing your work and talking about it easier.
                                <li>use furniture in different ways - block access to specific rooms (not fire escapes and second egresses, though), change the normal layout to separate themes in your work, push the coffee table against the couch to keep people from sitting and/or display your large works on it. (Note: someone may need to sit after walking from studio to studio. Please consider those people's need, when making a decision like this.)
                            </ol>
                    </ol>

                <li>Display of artwork
                    <ol style="list-style-type:numeric">
                        <li>Will depend on your "studio room"
                            <ol style="list-style-type:lower-alpha">
                                <li>Wall space - if you have wall space and the ability to display your work that way, then great!
                                <li>Using easels, table top easels, etc.
                                <li>Stand up display for home studio: Stan Eichner has a wonderful method for using pantry shelving and zip ties to make a stand for hanging artwork. Home Depot supplies: 3 shelves (or more if you want them to lean against a wall/bookcase), zip ties, S-curves for hanging art work to stand. Standing display: put the 3 pantry shelves together to form a triangle, tie together with the zip ties, and then you have a stand that people can move around to look at your work.
                            </ol>
                    </ol>


                <li>Miscellaneous
                    <ol style="list-style-type:numeric">
                        <li>People asking to take a photo of your work:
                            <ol style="list-style-type:lower-alpha">
                                <li>Ask the person how they will be using your photos: if it's for social media, make them use your hash tag to promote you. Other than social media promotion, I would say do not allow photos of your work.
                            </ol>
                        <li>Bill of Sale: you can find legal forms for Artists online and make your own Bill of Sale slip. Make duplicates, one for customer and one for artist. Amazon has tons of very inexpensive books with sample legal forms for Artists that are worth it. If you want to take commissions, you can also find forms for this as well. Having legal forms on hand helps make a professional impression, and can protect you from unauthorized reproduction of your work.
                    </ol>
            </ol>






        </div>


    </div>



{% endblock content %}