{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artist_tips' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

                <h2>Artist Tips</h2>
    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}


{% endblock jumbotron %}

{% block content %}

    <div class="row">

        <div class="col-md-12">

            <p>
                <link href="..//Resources/table.css" rel="stylesheet" type="text/css">
            <h1>Tips for Artists </h1>


            <h3>Make Your Site Easy to Find</h3>
            <ul>
                <li><p>Place balloons and posters outside your studio or space so people can find your site. (You will
                        get these when you pick up maps.)</li>
                <li><p>Place extra balloons or signs at street corners near your studio to direct people.</p></li>
                <li><p>Use chalk to draw arrows and directions to your studio on nearby sidewalks. Get creative!</p>
                </li>
            </ul>

            <h3>Invite Your Neighbors</h3>
            <ul>
                <li>
                    <p>Especially if you are showing out of your own apartment, let your neighbors know you'll be
                        opening&mdash;and invite them to come see your work! SOS is a great opportunity to connect with
                        the people in your neighborhood; just be sure to give housemates and neighboring apartments a
                        heads-up ahead of time.</p>

              <!--                   <p>You can find a couple sample letters from different types of home studio artists <a
                                href="neighbor_letter.php">here</a>; feel free to use these as a template to write your
                        own invitations for your neighbors!</p>
                </li>
                -->
            </ul>

            <h3>Take It Outside</h3>
            <ul>
                <li><p>Some visitors feel more comfortable browsing an outdoor display than going into a home. Try
                        setting up your display of art outside -- lawns, driveways, garages, or porches make great
                        options. (Do stay off the public sidewalks and streets, though, and remember to talk to the
                        other people in your building if you'll be using any shared space!)</p></li>
                <li><p>If you can't set up outside, try having a piece or two outside or visible in a window by the
                        entrance to your studio or home so people can get a taste of your work and potentially be
                        enticed inside. Having art outside also helps make your studio more visible!</p></li>
            </ul>

            <h3>Display Your Work with Visitors in Mind</h3>
            <ul>
                <li><p>Be sure your art is well-illuminated. Good lighting makes a huge difference. Inexpensive clip
                        lights are available for less than $10 each at most hardware stores.</p></li>
                <li><p>Place as much work as possible at or just above eye level, so visitors don't have to stoop or
                        crane their necks.</p></li>
                <li><p>Clearly label your work, including pricing.</p></li>
            </ul>

            <h3>Define Your Exhibit Space</h3>

            <ul>

                <li><p>Be clear about your publicly accessible area &mdash; for people who have home studios, consider
                        keeping your work in a limited space (such as one room), and limiting access to the rest of the
                        house.</p></li>
                <li><p>Label or cordon off anything in your studio (e.g. equipment) that you don't want people to touch
                        &mdash; a friendly &quot;please don't touch&quot; sign will do the trick</p></li>
                <li><p>Be able to refer visitors to the nearest public restroom, in case your bathroom is not in an area
                        that you want open to the public.</p></li>
            </ul>

            <h3>Make Your Exhibit Space Welcoming and Interesting</h3>
            <ul>
                <li><p>Have chairs available for visitors to rest.</p></li>
                <li><p>Keep a pitcher of water and drinking cups handy at all times. Napkins and a place to put trash
                        are also appreciated by visitors.</p></li>
                <li><p>Serve light snacks. Note that children will be attending, so messy foods like chocolate may not
                        be as good an idea as something like pretzels!</p></li>
                <li><p>Invite friends or family over to socialize during the event. Having a group of people there can
                        make visitors feel more comfortable exploring your space.</p></li>
                <li><p>Have an activity visitors can engage in, especially children.</p></li>
                <li><p>If possible, be working on something so visitors can watch how your art is created. Some artists
                        also set up a slideshow of other works or video of their process, which helps visitors engage
                        with the work.</p></li>
            </ul>

            <h3>Team Up with Other Artists</h3>
            <ul>
                <li><p>Team up with other artists to display together in one space. Visitors like to make the most of
                        their time by visiting sites hosting more than one artist. If you'd like to get in contact with
                        other artists in your area, use the artist listings to find artists around you and then send
                        email to <a href="mailto:membership@somervilleopenstudios.org">membership@somervilleopenstudios.org</a>
                        with your contact information and the list of artists you'd like to get in touch with -- we'll
                        pass along your message to them!</p></li>
            </ul>

            <h3>Engage with Your Visitors</h3>
            <ul>
                <li><p>Greet everyone who comes to your studio. If it's busy, you may find it helpful to give yourself a
                        nametag so that visitors know who to address their questions to.</p></li>
                <li><p>Keep extra maps available to give to visitors.</p></li>
                <li><p>Keep a guest book or mailing list for visitors to sign. Make sure you have plenty of pens
                        around.</p></li>
                <li><p>Thank visitors for coming &mdash; do refer them to other artists if they ask for suggestions on
                        whose work to see!</p></li>
            </ul>

            <h3>Be Reachable After the Event</h3>
            <ul>
                <li><p>Stock up on hand-outs about your art - business cards, postcards, brochures, etc. - and encourage
                        visitors to take them. If you don't have your own design, personalizable SOS postcards and
                        business cards are now available on our <a
                                href="/for_artists/promotion_materials">Promotional Graphics page</a>.</p></li>
                <li><p>Have a website where people can view your art. If you can't afford a web designer or web hosting,
                        there are a number of free sites you can use to build an online art profile, such as <a
                                href="http://wordpress.com">WordPress</a>, <a href="http://tumblr.com">Tumblr</a>, and
                        <a href="http://artid.com">artid.com</a>.</p>
                    <p>Make sure to put your website address on your business cards!</p></li>
                <li><p>Follow up with the people who've signed up for your mailing list thanking them for attending SOS.
                        You can set up a free mailing list using <a href="http://mailchimp.com/">Mailchimp</a> or
                        similar services.</p></li>
            </ul>

            <h3>Take Care of Yourself!</h3>
            <ul>
                <li><p>Get lots of rest and be sure to eat well and drink lots of water throughout the weekend &mdash;
                        stay energized!</p></li>
                <li><p>Wear comfortable clothes and shoes &mdash; be prepared to be on your feet! It's best to be
                        standing or walking around when there are visitors in your space &mdash; it makes for easier
                        conversation and you won't have to crane your neck to look at people. If you need to sit, use a
                        high stool or director's chair so that you will still be at eye level with your visitors.</p>
                </li>
                <li><p>Invite a buddy to be with you during all or part of the weekend, in case you need to step away
                        for a bathroom break.</p></li>
                <li style="font-weight: bold"><p>HAVE FUN!</p></li>
                </p>
                </p>
        </div>


    </div>



{% endblock content %}