{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists.events' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


    <h2>2021 Artists' Events</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron %}

{% block content %}


    <style>


        .flex-container_f {
            display: flex;
            flex-wrap: wrap;
        = padding: 16 px;
        / / justify-content: space-around;
        / / flex-direction: column

        }

        .flex-child1 {
            flex: 1;
            font-size: 18px;
            width: 200px;
            max-width: 200px;
        }

        .flex-child4 {
            flex: 4;
            max-width: 700px;
            color: #000000;
            text-align: left;
            transition: all 1s easy-out;
        }

    </style>

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <a class="btn btn-info" href="{{ path('artists.my_profile') }}" style="float:right"> Back to member
                    home </a><br>

            </div>
        </div>


        <div class="row">

            <div class="col-md-12" style="min-height: 70vh;">

                <h3> Event Sign Up </h3>


                <p> If you haven't yet, please <a href="https://conta.cc/3m7AjNB" target="_blank">read the event
                        descriptions</a> in the 2021 options email. <br>
                </p>

                <p> Note: Artists can do BoothCentral and one of the outdoor displays simultaneously </p>


                <p>If you have any questions please email <em>domore@somervilleopenstudios.org</em></p>


                {% if saved %}
                    <div class="flex-container_f" style="padding:5px; border: 1px solid gray">
                        <div class="flex-child1">
                    <h4> Preferences Saved</h4>
                        </div>
                        <div class="flex-child1">
                    <a class="btn btn-info" href="{{ path('artists.my_profile') }}" > Back to member home </a>
                    </div>
                    </div>
                    {% endif  %}
                <div style="background: #e9e9e9; padding: 10px ; margin-bottom: 10px">
                    {% if event_info is not empty %}

                        <p>Existing EVENTS signed up for:</p>
                        <ul>
                            {% for oneE in event_info %}

                                <li> {{ oneE['event_name'] }} -
                                    <b> {% if oneE.member_selection =='Y' %} Yes {% else %} No {% endif %}</b></li>

                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>
                            <b> No Selections Made yet. </b>
                        </p>
                    {% endif %}

                </div>


                <p>
                    Select Yes/No for the options then click the "save and continue" button.

                </p>


                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="flex-container_f">
                    <div class="flex-child1">
                        {{ form_widget(form.event_booth_central) }}
                        {{ form_errors(form.event_booth_central) }}
                    </div>
                    <div class="flex-child4">
                        {{ form_label(form.event_booth_central) }} (Virtual)
                        <p>I would like to sign up for an virtual artist’s booth on BoothCentral. I understand that I am
                            obligated to be present (online) on both Saturday and Sunday, May 1 and 2, from noon until 6:00 pm (with
                            short breaks of course!). SOS will cover the booth fee for participating artists.</p>
                        <p><em>I will produce a short video. SOS volunteers will upload your video to the SOS Youtube
                                Channel or other locations.
                                (Please also post to as many social media platforms as you can, tagging
                                #somervilleopenstudios. This helps promote you and the SOS as a whole.)
                            </em></p>
                    </div>
                </div>
                <hr>


                <div class="flex-container_f">
                    <div class="flex-child1">
                        {{ form_widget(form.event_video) }}
                        {{ form_errors(form.event_video) }}
                    </div>
                    <div class="flex-child4">
                        {{ form_label(form.event_video) }} (Virtual)
                        <p>I will produce a short video. SOS volunteers will upload your video to the SOS Youtube
                            Channel or other locations. (Please also post to as many social media platforms as you can,
                            tagging #somervilleopenstudios. This helps promote you and the SOS as a whole.)

                        </p>

                    </div>
                </div>
                <hr>

{#
                <div class="flex-container_f">
                    <div class="flex-child1">
                        {{ form_widget(form.event_outdoors_sos) }}
                        {{ form_errors(form.event_outdoors_sos) }}
                    </div>
                    <div class="flex-child4">
                        {{ form_label(form.event_outdoors_sos) }}

                        <p> I would like a space at an SOS outdoor group display if it becomes possible. I will commit
                            to bringing my work and understand that I am obligated to be present Saturday May 1 from
                            noon to 6 pm (with short breaks of course!) or, if it rains Saturday, I will be present on
                            Sunday May 2 from noon to 6 pm. I understand that inclement weather on both days could
                            result in cancellation of the event. I also understand that space may be limited as SOS does
                            not have the resources or volunteers to accommodate a large number of artists in outdoor
                            locations.
                        </p>


                        <div class="flex-container_f">
                            <div class="flex-child1">
                                {{ form_widget(form.event_i_have_tent) }}
                                {{ form_errors(form.event_i_have_tent) }}
                            </div>
                            <div class="flex-child4">
                                <br><br>
                                I checked the box above and will bring my own pop-up tent.


                            </div>
                        </div>

                    </div>
                </div>
                <hr>
#}

                <div class="flex-container_f">
                    <div class="flex-child1">
                        {{ form_widget(form.event_outdoors_myspace) }}
                        {{ form_errors(form.event_outdoors_myspace) }}
                    </div>
                    <div class="flex-child4">
                        {{ form_label(form.event_outdoors_myspace) }}
                        I plan to display <b>outside at </b> my studio or home following state and city mandated COVID
                        protocols. I am obligated to be present Saturday May 1 from noon to 6 pm (with short breaks of
                        course!) or, if it rains Saturday, I will be present on Sunday May 2 from noon to 6 pm. I
                        understand that inclement weather on both days could result in cancellation of the event.
                    </div>
                </div>
                <hr>


                {{ form_end(form) }}


            </div>

        </div>
    </div>

{% endblock content %}