{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists.home' %}


 {% block menu %}
     {% extends 'common/event_wrapper.html.twig' %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}
                <h2>Artist's Information</h2>
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

{% endblock jumbotron%}

{% block content %}

<div class="col-md-12">

    <div class="col-md-12">


        <h1>Events </h1> <p> Watch this page for a listing of Somerville Open Studios Events. <br/>




    </div>

</div>

{% endblock content %}