{% extends 'common/basic_layout.html.twig' %}
{% set active = 'for_artists.home' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}
                <h2>Member Pages</h2>
     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}
{% block content %}




    <!-- END: Constant Contact Stylish Email Newsletter Form -->


        <!--h3>Pick up SOS 2017 mapbooks, posters, postcards, and balloons</h3>

        <p>See <a href="pick_up_materials.php">this page</a> for where and when to find these materials.-->
   

    <div class="alert alert-info">


{#
        <p>Any artist who lives in or maintains a studio in Somerville is invited to participate in SOS 2019 on May 4 & 5.  <b>The 2019 registration period closes on January 31, 2019</b>.  However, if you would like <b>to <a href="https://join.somervilleopenstudios.org/join/financial_aid">apply for financial assistance</a>, you must register by January 7, 2019</b>. Those who are not exhibiting this year but would like to maintain their SOS membership and page in our Artists Directory should register as Nonparticipating/Sustaining members.
        <br>
        <br>

        <p><a class="btn btn-info" href="https://join.somervilleopenstudios.org">Click Here to Register</a>
        <br>
        <br>
   #}
        <p>stay up to date on SOS events, by joining the mailing list.
        <br>

        <div style="width:390px; background-color: #ffffff;">
            <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank"
                  method="post" style="margin-bottom:3;"><span style="background-color: #006699;
float:right;margin-right:5;margin-top:3"></span>

                <p class= "shaded">Enter email <input type="text" name="ea" size="20"
                                                                   value="" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px;
border:1px solid #999999;">
                    <input type="submit" name="go" value="Join SOS Mailing List!" class="submit"
                           style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
                    <input type="hidden" name="m" value="1102783429438">
                    <input type="hidden" name="p" value="oi">
                </p>
            </form>


        </div>
    </div>


    <h3 id="2021-calls">  2021 Calls For Art.</h3>

    <p> The 2021 Inside Out Gallery (CVS Window) exhibit call for art is live. </p>
    <a href="{{ path('inside_out_show') }}" class="btn btn-info"> More Info </a>

<br> <br>
<p> The 2021 Small Works Show (Bow Street Market) exhibit call for art is live. </p>
<a href="{{ path('small_works_at_bow_market_show') }}" class="btn btn-info">   More Info </a>

    {% include "blocks/2020_virtual_gallery.html.twig" %}

    {% include "blocks/2019_profile_update.html.twig" %}
    {#{% include "blocks/2019_cc_email.html.twig" %} #}
    {# {% include "blocks/2019_promotional_materials.html.twig" %} #}

    {# <div class="bs-callout bs-callout-danger box-gray">
        <h3>Adopt a Map Stand</h3>
        <p> please email <em>volunteer<span>@s</span>omervilleopenstudios.org </em> Please note, more than one person can sign up for a slot. Busier locations often run out of maps more quickly!

        </p> #}

        {#
            <h3>Attend the 2019 Planning Meetings</h3>
            <p>SOS is a fully independent organization run entirely by participating artists and arts supporters.  We are not under the auspices of the Somerville Arts Council or any other city department.  We need artists to help make the event happen.  The next 2019 organizational meeting is on <b>Wednesday January 9, 6:30 to 8:30 at Mad Oyster Studios</b>, 2 Bradley Street.
            <p>
                For 2019, we're changing up the coordinator role in favor of a more organic model. Instead, we will foster individual groups of artists focusing specific tasks and goals. Periodic general meetings will the bring groups together and timeline managers will keep us on track. Check out <a href="2019_initiatives.php">some core initiatives</a> or email us your thoughts at <a href="mailto:domore@somervilleopenstudios.org">domore@somervilleopenstudios.org</a>.
#}

        </div>

{#       <div class="bs-callout bs-callout-danger">


          <h3>Become a Volunteer</h3>

            <p>The simplest way to volunteer, and one of the most helpful to SOS, is to adopt a map stand for the week leading up to our main event.
                There are map stands all over the city where map books are offered to passers-by. Those stands tend to empty quickly and need to be filled in
                the morning and evening. It's a simple task to do and helps so much. If you are interested in helping to accomplish this task, please get in
                touch with our Map Book Distribution Coordinator, Christina Tedesco at <a href="mailto:maps@somervilleopenstudios.org">maps@somervilleopenstudios.org</a>.
                She can connect you with map stand locations and slots that are available for adoption.

            <p>Volunteering is an excellent way to be connected with the Somerville arts community.
                You can also get involved in behind-the-scene preparation for Open Studios in some of the following areas: Operations, Fundraising, Graphics, Public Relations,
                Web Content Management, Short Administrative Tasks, and Miscellaneous Labor and Light Construction, and more. <br>
                +  <a href="{{ path("volunteer.signup") }}">See our Volunteer Form for more information </a></p>

        </div>  #}


{% endblock content %}
