{% extends 'common/basic_layout.html.twig' %}
{% set active = 'virtual_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

    <h2>Artist Information: Somerville Open Studios - Live Streaming Info</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="row">

        <div class="col-md-12 bg-light"  style="max-width:900px; background-color:white" >

            <div class="bs-callout bs-callout-info">

                <h2>Virtual Gallery Visits via Zoom Live Streaming</h2>

<p>Schedule a personal virtual meeting(s) to see your audience during the time of the Open Studios: Saturday and Sunday, May 2-3. Send your "Zoom link-invitation" link(s) to <b><a href="mailto:sosvirtualgallery2020@gmail.com">sosvirtualgallery2020@gmail.com</a></b> <!--no later than Thursday, April 30th-->.   You must be a registered SOS 2020 artist to participate.
 
<p>If you have a free <a href="https://zoom.us/">Zoom</a> account, it will allow for 40-minute meetings at the most. Since we don't expect most of the artists to have premium Zoom accounts, please schedule multiple meetings given your availability.  It is advised not to start all your meetings at the beginning of the hour, in order to stagger the meeting times between artists. 
  
<p>Please don't forget to set up a simple password for your meeting to keep it secure! See all of the instructions here: 

                <h3>How to schedule a Zoom Meeting</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XhZW3iyXV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <h3>How to use Virtual Backgrounds in Zoom, by Katya Popova</h3>
                <iframe src="https://player.vimeo.com/video/405914197" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

            </div>
        </div>



{% endblock content %}