{% extends 'common/basic_layout.html.twig' %}
{% set active = 'login' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>SOS Artist Registration / Member Login</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">

        {%if login_ok %}

            <h2> Logged in</h2>
            <a class="btn btn-info" href = "{{  path('artists.my_profile') }}">  Continue  </a>
<div style="height: 200px"></div>

        {% else %}
            {% if  app['registration_closed'] is defined and app['registration_closed'] == false %}

            <h2> Register</h2>
                <p>Registration for artists looking to become members is open.</p>
            <a class="btn btn-info" href="{{  path('join_homepage') }}"> Register Here </a></b>

            <hr>
            {% endif %}

            <h2>Member Login</h2>
            <p> Member artists  login to update your profile.</p>
            <br>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            <br/><br/>
            {{ form_row(form.submit, { 'label': 'Login' }) }}

            {{ form_end(form) }}

            <br>
            <a href="{{ path('password_reset_request') }}"> Forgot Password?</a>

        {% endif %}

    </div>

{% endblock content %}