{% extends 'common/basic_layout.html.twig' %}
{% set active = 'password_reset' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Member Pages</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">


        <h2>Password Reset</h2>


    {%if reset_ok %}

        <h3>Email Sent</h3>

        <p> You Password has been Reset and an email with instruction on setting a new password has been sent.  Please check your email for more info.</p>

        <p> Note: Check your spam folder if mail does not show up in 5 minutes.  We have some trouble sending from this domain. </p>

    {% else %}
        <p> Please enter your email address and your password will be reset and a link will be emailed to you.  Follow the link in your email to reset your password</p>

        <br>




        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}


    {% endif %}


    </div>

{% endblock content %}