{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'homepage' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

                <h2>Profile Home</h2>
                <br>

                <p>
                    This is your profile information
                </p>
     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
     {% endblock jumbotron %}

{% block content %}

    {% set sp=' '%}
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <a class="btn btn-info" href="{{ path('logout') }}" style="float:right;  margin-right:20px"> Logout </a><br>

            </div>
        </div>

        <div class="row">

            <div class="col-md-12">


                <h3> Map Information </h3>
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert">x</button>


                    {% if event_data[app.location_event_id] is  defined and event_data[app.location_event_id]['approved_selection'] =='Y' %}

                <p><em> This is information that is included in the map if you are a participating artist. We Freeze
                        this information on <b>{{ app['profileFreezeDate']  }}</b>, so we can
                        get the information to the people making the printed mapbook. Please update today! Thanks</em>
                </p>
                        <p>
                    Name:<b>{{ artist_data.PublicFirstName}}&nbsp{{ artist_data.PublicLastName }}</b><br>
                    Your Short Description: <b>{{ artist_data.ShortDescription }}</b> <br><br>

                    {% if artist_data.BusinessName is not empty %}
                    Business Name(Optional): {{ artist_data.BusinessName}}<br>
                    {% endif %}
                    {% if artist_data.building_name is not empty %}
                        Building Name:: <b>{{artist_data.building_name  }}</b><br>
                    {% endif %}
                    Address:: <b>{{artist_data.street_address  }}</b><br>
                        </p>
                    {% else %}

                        <p>  We currently have you listed as not participaing in the Open Studios Event this year.  If this is in error, please contact membership@somervilleopenstudios.org</p>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                {#
                <h3> 2021 Event Sign Up </h3>
                <p>
                Make you selections for 2021 Events here:
                    <a class="btn btn-info btn-lg" href="{{ path('event_selection') }}" target="_blank">Select Events</a> <br>
                </p>

                #}

                <h3> Current Profile</h3>
                <p> Every artist has an artist profile page.  This page contains the information about you and your
                art.   The artist profile pages are the most visited pages on the open studios
                web site and help visitors browsing art figure out who to visit.

                <p> <a class="btn btn-info" href="{{ path('for_artists.show_my_profile') }}" target="_blank">Vist your current profile in a new window.</a> <br>
                Make updates from the links on this page</p>


<br>
            </div>
            <div class="col-md-6">
                           <h3>Discord</h3>

            We have a discord server.  Its a bit experimental, but we invite you to join and contribute to the community. Click to Join.
            <a href="https://discord.gg/EFzAN66Uew"> https://discord.gg/EFzAN66Uew  - Click to Join </a>

            </div>
        </div>
    {# MAP BOOK ROW #}


    <div class="row">


        <div class="col-md-12" style="margin-top: 15px" id="wrap">
            <h3> Location Information</h3>

           {%  if app.profileFreeze %}
                <div class="well well-sm" style="color:red "> <strong> Some Map Data is currently Frozen </strong> so that the map book can be made.
                questions email membership@.   Any data on available forms can be changed.</div>
           {% endif  %}


            {% if event_data[app.location_event_id] is  defined and event_data[app.location_event_id]['approved_selection'] =='Y' %}

                <p><em> This is information that is included in the map if you are a participating artist. We Freeze
                        this information on <b>{{ app['profileFreezeDate']  }}</b>, so we can
                        get the information to the people making the printed mapbook. Please update today! Thanks</em>
                </p>

                {% for key,item in mapbook_info_cols %}

                    {% if key =='PublicFirstName' %}
                        {#
                        <span class="sos_label">Name: </span> <b>{{ artist_data.PublicFirstName}}  {{ artist_data.PublicLastName }} </b> <br/>
                        #}
                    {% elseif key == 'BusinessName' %}
                        {% if artist_data.BusinessNameOption == 'Y' %}
                            {#
                            <span class="sos_label">Business Name: </span> <b> {{ artist_data.BusinessName }}</b> <br/>
                            #}
                        {% endif %}

                    {% elseif key == 'OrganizationDescription' %}
                        {% if artist_data.MemberType > 3 %}
                            <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>
                        {% endif %}
                    {% elseif key == 'BusinessName' and  artist_data['BusinessNameOption'] == 'Y' %}
                        {#
                        <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>
                        #}
                    {% elseif key == 'building_name' %}
                        {% if artist_data['building_name'] is not empty %}
                            <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>
                        {% endif %}

                    {% elseif key == 'FridayNight' or key =="ShortDescription" %}


                    {% else %}
                        <span class="sos_label">{{ item }}: </span> <b>    {{ artist_data[key] }} </b> <br/>

                    {% endif %}

                {% endfor %}

                <div stlye="clear:both"></div>

                {% if not app.profileFreeze %}
                {#  To update information visit: <a href="{{ path('update_artist_info')}}" class="btn btn-info"> Update Artist Info</a><br><br> #}

                To update Location visit: <a href="{{ path('update_location') }}" class="btn btn-info"> Update Location
                Info</a>

                {% endif %}
                {#
                <div style="width: 100%; height: 280px; border: 1px" id="map_canvas" class="map rounded"></div>
                <p> If the address is right but the location is wrong, let us know (webmaster<em></em>@somerverilleopenstudios.org </p>
                #}
            {% else %}
                <p> You are listed as non-participating so you will not be listed in the mapbook. If this is not correct
                    please let us know asap. (membership@..)</p>

            {% endif %}


        </div>
    </div>




    <div class="row" style="border-top: 1px solid #BBBBBB; margin-bottom: 15px">
      <div class="col-md-12">

            <h3> Events </h3>

            {% if event_data is empty %}

                <b> None Selected</b>

            {% else %}
                <ul>
                    {% for oneEvent in event_data %}
                        {% if  oneEvent['event_id'] != 1019 and  oneEvent['event_id'] != 1018 %}
                        <li> {{ oneEvent['event_name'] }} - <b> {{ oneEvent['member_selection'] }}   </b></li>
                        {% endif %}

                    {% endfor %}
                </ul>

            {% endif %}

          {#  <a class="btn btn-info" href="{{ path('event_selection') }}" target="_blank">Select Events.</a> <br>

            <p> Event selection is currently closed and cannot be user updated.  Questions about 2021 events: email <em> domore@somervilleopenstudios.org  </em></p>
          #}

        </div>
</div>




        {# LOCATION only for participating artists.#}



{#

        {%  if artist_data.Participating == 'Y' %}

        <div class="row" style="border-top: 1px solid #BBBBBB; margin-bottom: 15px; padding-bottom: 15px">


            <h3> Showing Location </h3>
            <br>
            {% if event_data is empty %}

                <b> No Events Selected - location not shown on profile</b>


            {% elseif event_data['1017'] is defined and event_data['1017']['member_selection'] =='Y'  %}



                <p> You signed up to showing in person at your own location May 1st with rain date May 2nd. <br>
                    {% if event_data['1017']['approved_selection'] =='N'  %}

                        {% else %}

                            <b> You location is confirmed and will show up in the artist directory shortly. </b>

                            {% endif %}

                </p>


                <div class="col-md-6">
                    Building Name (4 or more people):<b> {{  artist_data.building_name }} </b><br/>

                    Street Address: <b>{{  artist_data.street_address }} </b><br/>
                    Location Detail:<b> {{  artist_data.address_details }} </b><br/>
                    City: <b>{{ artist_data.city}} , {{ artist_data.state }} </b><br/>

                </div>
                <div class="col-md-6">





                    {%  if profile_freeze %}
                        <strong> Locations are not able to be updated at this time</strong>
                    {% else %}
                        <a href="{{ path('update_location') }}" class="btn btn-info"> Update Location</a>
                    {% endif %}

                </div>




            {% elseif event_data['1018'] is defined and event_data['1018']['member_selection'] =='Y'  %}

                <p> Your selected events include a group outdoor location.  This location will be updated by Somerville Open Studios Staff.   </p>

            {% else %}

                <p> Your selected events don't include any in person displays.  Location selection is not required</p>


            {% endif %}
            {% endif %}

<br>
            <p><em>If you have questions contact domore@somervilleopenstudios.org</em></p>

        </div>

#}



        <div class="row" style="border-top: 1px solid #BBBBBB; margin-bottom: 15px">

            <div class="col-md-7">
                <h3>Contact Info</h3>
                <p> <em>Not available to the  Public.</em></p>

                {{ artist_data.FirstName}}{{ sp }}{{ artist_data.LastName }}  <br/>
                {{ artist_data.HomeAddressOne}}{{ sp}}  {{ artist_data.HomeAddressTwo }}  <br/>
                {{ artist_data.HomeCity}} {{ sp}} {{ artist_data.HomeState }} {{ sp }} {{ artist_data.HomeZip }}    <br/>
                {{ artist_data.Phone}} {{ sp}}  {{ artist_data.EmailAddress }}  <br/>
            </div>
            <div class="col-md-5">

                <br>


                <a href="{{ path('update_contact_info') }}" class="btn btn-info"> Update Contact Infromation</a>
            </div>
        </div>
        <div class="row" style="border-top: 1px solid #BBBBBB; margin-bottom: 15px" >

            <div class="col-md-7">

                <h3>Artist Info</h3>
                {% if  app.profileFreeze %}

                    <span style="color:red"> We've currently locked these fields to make the mpa.  We'll allow updated of fields not used in the map book shortly</span><br>

                {% endif %}

                {% for key,item in atist_info_cols %}

                    {%  if key =='PublicFirstName' %}
                        <span class="sos_label">Name: </span> <b>{{ artist_data.PublicFirstName}}&nbsp{{ artist_data.PublicLastName }} </b> <br/>
                    {% elseif key == 'BusinessName' %}
                        {% if artist_data.BusinessNameOption == 'Y' %}
                            <span class="sos_label">Business Name: </span> <b> {{ artist_data.BusinessName }}</b> <br/>
                        {% endif %}
                    {% else %}
                        <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>

                    {% endif %}
                    {# {% if artist_data.FridayNight == 'Y' %}
                            <span class="sos_label"><b> Studio Open on Friday Night</b>  <br/>
                         {% else %}
                             <span class="sos_label">  Not Open on Friday  <br/>
                         {% endif %}

         #}
                {% endfor %}
            </div>


            <div class="col-md-5">
              <br>
                {% if not  app.profileFreeze %}

                <a href="{{ path('update_artist_info')}}" class="btn btn-info"> Update Artist Info</a>
                {%  endif  %}


	      
            </div>

        </div>


        {# Artist Statement  #}


        <div class="row" style="border-top: 1px solid #BBBBBB; margin-bottom: 15px" >

            <div class="col-md-7">
                <h3>Artist's Statement</h3>

                {% if artist_data.statement is empty %}

                    <b>No Statement</b>

                {% else %}

                    <div style="max-height: 138px; overflow: hidden;">{{ artist_data.statement | raw }}</div>

                {% endif %}

           </div>
            <div class="col-md-5">
                <br><br>
                <a href="{{ path('update_artist_statement')}}" class="btn btn-info"> Update Artist Statement</a>

            </div>

            </div>


        <div class="row" style="border-top: 1px solid #BBBBBB">
            <div class="col-md-7">
                <h3>Webstite / Social Media</h3>

                {% if social_data is defined and social_data %}
                    <ul>
                        {% for sourceRow in social_data  %}
                        {%  if sourceRow.url  %}
                        <li><b>{{ sourceRow['short_name']}} </b>
                            {% if sourceRow.short_name == "website" or sourceRow.short_name == "other" %}
                                <a class="btn" href="{{  sourceRow['url'] }}">  {{  sourceRow['url'] }} </a>
                            {% else %}
                                <a class="btn" href="{{  sourceRow['url'] }}">  {{  sourceRow['url']  }} </a>
                            {% endif %}
                            {% endif %}

                            {% endfor %}
                    </ul>
                {% else %}
                    none.
                {% endif %}

            </div>
            <div class="col-md-5">
                <br>
                <a href="{{ path('update_social_media')}}" class="btn btn-info"> Update Social Media</a>
            </div>
        </div>

        <div class="row" style="border-top: 1px solid #BBBBBB">
            <hr/>

            <h3>Images</h3>
            <p> Upload images to your profile, we have a <a href="/web/files/help/uploading_images.pdf"><b> New help pdf </b></a> that guides you through the process.
            </p>

            <a href="{{ path('update_thumbnails')}}" class="btn btn-info"> Update thumbnail</a>


            <div class="bs-callout">
                Thumbnail (small square representation of your work)  <a href="{{ path('update_thumbnails')}}"> [+ Update thumbnail]</a>;<br>
                <img src="/{{ thumbnail }}?r={{ random(5000) }}" alt="thumbnail" width="100px" > <br>
            </div>
            <div class="bs-callout">
                <a href="{{ path('update_images')}}" class="btn btn-info"> Update images</a>
                Large images of your art that appear on your profile page <a href="{{ path('update_images')}}"> [+ Update images]</a><br>
                <p>
                    {% for key,item in image_data %}

                <div class="col-md-3">

                    <br><img src="/{{ item.filename }}?r={{ random(5000) }}" alt="{{ item.Title }}" width="90%" > <br>
                    <div>
                        <b>{{ item.Title }}</b> <br/>
                        {{ item.Medium }}<br/>
                        {{ item.Dimensions }}<br/>
                        <hr/>
                    </div>
                </div>
                {% else %}

                    No Image

                {% endfor %}

                </p>
            </div>
        </div>




    </div>

{% endblock content %}
