{% extends 'common/basic_layout.html.twig' %}
{% set active = 'promotion_materials' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}


    <style>
        .thumb_container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 1px;
            list-style: none;
            margin: 0;
            padding: 2.2rem;



        }
        .thumb_container li {
            font-size:0.8em;
            margin:auto;
            background: white;
            padding: 10px 10px;
            margin-top: 10px;
            border-radius: 30px 0 /0px 0px;
            box-shadow: 0px 1px 2px 1px #dddddd;
            width:280px;
            mazheight:280px;


            border : 1px solid gray;}

        .photo > img {
            object-fit: cover;
            width: 90%;
            max-height: 100%;
            margin: auto;
        }

    </style>



    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

                <h2>Promotional Graphics</h2>
    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}


{% endblock jumbotron %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="alert alert-danger" > 2020 Promotional Materials Available March 2020</b> </div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h3>2019 Promotional Graphics</h3>
            <p> to save right click and select "save image as".  </p>
            <p> click on image to embiggen.  </p>

            <ul class="thumb_container">
                {% for name, file_name in promo_files %}

                <li class="photo">

                    <a href="/{{ app.request.basepath }}{{ image_dir }}{{ file_name.file }} ">
                        <img src="/{{ app.request.basepath }}{{ image_dir }}{{ file_name.thumb }}" style="width: 270px"
                             alt=" ">

                        <div style="font-size:1.3em">
                           click to Download: {{ name }}  ({{ file_name.file }})

                        </div></a>
                </li>
                {% endfor %}
            </ul>





        </div>


    </div>



{% endblock content %}