{% extends 'common/basic_layout.html.twig' %}
{% set active = 'locavore_home_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


    <h2>Artist Information:  Small Works Exhibit   </h2>
    <h2><a href="https://bowmarketsomerville.com/">Bow Street Market</a></h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}



    <div class="row">

        <div class="col-md-12">

            <div class="bs-callout" style="max-width:850px">


                <h3>Small Works Exhibit </h3>
                <h4>Somerville Open Studios & Bow Street Market </h4>
<p>
    SOS Small Works Exhibit for May & June 2021 <b>Submission deadline March 28</b></p>

                <p> Delicate paint strokes, 0ny carved impressions, minute folds of cloth or metal. A piece of art may be small in scale, but compelling in impact — a little artfact that sets  the imagination free of the constraint of space.
</p><p>
                Somerville Open Studios is partnering with Bow Street Market in Union Square to host the SOS Small Works  Exhibit  for  the  months  of  May  and  June,  2021.    All  SOS  2021  members  are  invited  to  submit pieces for exhibit.  All mediums will be considered, but no piece may exceed 11”x11”x11”.   This is a great way to put your small works in front of a buying public.
                </p><p>
                Looking forward to seeing how you’ve reimagined the world on an enirely different scale.
                </p><p>
                This is a closed call for artists that are registered for SOS 2021. Please note that this is a juried exhibition and not all submitted work will be accepted.

                </p><p>
                <div style="background-color: #efefef; padding:22px">
<h4>To Apply</h4>
                    <b>Applicants’ work must be available from May 1 - June 30.</b>
                </p><p>

                Submissions should include: Up to 5 JPEGs of the available work you would like to show (maximum 1200 pixels in length), and the following information should accompany each image:
                <ol>
                    <li>Arist name & Contact Info (phone & e-mail)</li>
                    <li>Title of the piece</li>
                    <li>Descrip0on of Medium</li>
                        <li>Complete accurate dimensions (length, width, depth, not to exceed 11’x11’x11’) </li>
                    <li>Weight may not exceed 10 pounds</li>
                </ol>
                Please submit completed applications to
                    <a href="mailto:hilary@hilaryscottART.com">hilary@hilaryscottART.com </a> and include “SOS Small Works Exhibit Call 2021” in the message header.
                <p>
                <b>Submission deadline will be March 28.</b>
                </p>
                </div>
                <h3> About Bow Street Market’s “Get Arists Paid” Space</h3>
                <p> <em>
                    Bow Market, in it’s commitment to local arists,
                    make a space available to arists, rent-free, for a two month period. During that time artists can
                    display, perform, or create their art and are encouraged to explore creative funding sources. More
                    information can be found at <a href="https://bowmarketsomerville.com/GAP"> https://bowmarketsomerville.com/GAP</a>
                    </em>
                </p><!--</editor-fold>-->




            </div>

        </div>
    </div>



{% endblock content %}