{% extends 'common/basic_layout.html.twig' %}
{% set active = 'inside_out_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Artist Information: 2021 Inside Out Show</h2>
                <h3>Inside Out Gallery (CVS Window) Davis Square</h3>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <img src="{{ app.request.basepath }}/web/images/event/inside_out_gallery/inside_out_window.jpg" alt="Inside Out Galleryimage" style="width: 100%; max-width: 600px;">
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">

            <div class="bs-callout bs-callout-info" style="max-width:850px">

                <h2>Somerville Arts Council and the Inside-OUT Gallery </h2>

                <h3>Call to SOS Artists: 2021</h3>



        <p class="has-text-color" style="color:#a30003;font-size:22px"><strong>Submission deadline March 28</strong></p>



        <p><em>The Somerville Arts Council’s Inside-OUT Gallery seeks works that showcases the breadth of talent of our creative community.</em></p>



        <p>What a year this has been! One of the shining moments throughout this ordeal has been the beckon of light which is the arts and the creative community. As a perennial favorite, Somerville Open Studios has been dedicated to bringing art to the masses for decades. While this year’s event will not have the traditional fanfare, it will include various ways artists can showcase their work&#8211;one of which will be a members’ showcase at the Inside-OUT Gallery in Davis Square.</p>



        <p>This year, Somerville Open Studios, the Somerville Arts Council and the Inside-OUT Gallery once again welcome seasoned members and newcomers alike to submit pieces for the exhibit. All works will be considered. Share your style and your technique in this highly visible art show, on view through from April 20-May 16.</p>



        <p>Looking forward to hearing from you. We would love to see what you have been up.</p>

                <div style="background-color: #efefef; padding:10px">

<p>Applicants’ work must be available from April 14- May 20. Work will be taken down on May 17th (weather permitting)

<p><b>Submissions should include:</b>

<p>Up to 5 JPEGs of the available work you would like to show (maximum 1200 pixels in length), and the following information should accompany each image:

<ol>
<li>Artist name and contact info (phone & e-mail)
<li>Title of the piece
<li>Description of Medium
<li>Complete accurate dimensions (length, width, depth, & approximate weight)
</ol>

<p><b>When choosing work to submit please keep in mind that each panel of the display space has the following dimensions: </b>

<ul>
<li><b>Height – 7.5'</b>
<li><b>Depth – 16"</b>
<li><b>Width – 3’ and 5”</b>
</ul>

<p>Please submit completed applications to <a href="mailto:hbalchunas@somervillema.gov">hbalchunas@somervillema.gov</a>, and include                                                                                                   “Inside-OUT Call to SOS Artists 2020” in the message header. <b>Submission deadline will be March 25.</b>
</p>
                </div>
<h3>About the Inside-Out Gallery</h3>
        <p><strong>About the Inside-Out Gallery</strong><br><em>The Inside-Out Gallery is located in the CVS Window in Davis Square, a unique space that allows the public to view an eclectic array of works from artists and local organizations each month. </em><em>The mission of the Somerville Arts Council is to cultivate and celebrate the creative expressions of the Somerville community. Through innovative collaborations and quality programming we work to make the arts an integral part of life reflective of our diverse city.</em></p>

            </div>

        </div>
    </div>



{% endblock content %}