{% extends 'common/basic_layout.html.twig' %}
{% set active = 'locavore_home_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Artist Information: 2020 Locavore show</h2>
                <h3></h3>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}



    <div class="row">

        <div class="col-md-12">

            <div class="bs-callout bs-callout-info">

                <h2> Locavore Show: Ice Cream</h2>

                <h3>Call to SOS Artists for a group show  </h3>


            <p style="color:red"><b>We have canceled SOS 2020 because of the Covid-19 pandemic.  This show will not take place in 2020.</b>


            </div>

        </div>
    </div>



{% endblock content %}