{% extends 'common/basic_layout.html.twig' %}
{% set active = 'first_look_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>2020 "First Look" exhibit at The Somerville Museum</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

<div class="col-md-12">

    <div class="col-md-12">

        <div class="bs-callout bs-callout-info">


            <p style="color:red"><b>We have canceled SOS 2020 because of the Covid-19 pandemic.  This show will not take place in 2020.</b>


                <h3>All current SOS artists/members are welcome to put a piece in this exhibit!</h3>
        <li>You don't have to register in advance for this show, just bring your art to a drop-off <p><strong>(see below.)</strong> <br><ul>
            <ul>
        <li>This is NOT a juried show, all will be included. Please no work that has been included in prior years.
<p>
          <s>April 19, 2020 - Sunday, May 10, 2020</s><br>
                at the Somerville Museum


            </p>
{#
        <li>Consider a piece that is truly representative of what you do! Many visitors come here in order to decide which studios to visit.
        <li>Max dimensions for artwork are 40-inches horizontal x 60-inches vertical (including frame.)
        <li>2-d work should be ready to hang. If needed, please include any special hanging instructions.
        <li>We request that all pieces be self-contained without multiple parts.
        <li>If you are a video or multi-media artist, please contact Mara at the email below.  We would love to include you!
        <li>The submitted piece must be the art itself and not a picture of it.
        <li>Sculpture and other 3-d work are strongly encouraged! We have various pedestals, or you can supply your own.
        <li>Jewelers: Please supply a stand and/or other display materials (black cloth, etc.)
        <li>If you are an artist who works in more than one medium, please choose just one piece.
        <li>You may submit a one-page artist statement or bio to be included in the binder available to visitors.
            </ul>
                    <p>
                </p>



            <h3>Art Drop-Off Information</h3>


<ul>
        

        <li> It is helpful if you can print and fill out the drop-off form in advance. (Forms also available at the drop-off.)
            <a class="btn btn-primary" href="/web/files/forms/2019_FL_Artwork_Submission_Form.pdf">  submission form (pdf)  </a> Cut off the bottom portion of the completed form and attach it securely to the back of your artwork.
        <li>Please also write your name on the back of your artwork to ensure identification should the label come off your piece.
        <li>Don't forget your statement and/or bio. (Not required but helpful.)

        <li>  If you cannot make one of the drop off times, please find another artist or friend who can do it for you! We can't accept art outside of the scheduled drop-off slots.<p>
</ul>

        </div>

        <div class="bs-callout bs-callout-info">
            <h3>ART DROP-OFF TIMES</h3>

            <p>Coming Soon</p>


            <h3>Pick Up Times</h3>
            <p><b>At Somerville Museum, One Westwood Rd.</b><br>
                We do not have storage space and cannot take responsibility for artwork that is not picked up!

            <p>If you are unable to pick up then, please have some one pick up for you and notify us at <a href="mailto:firstlook@somervilleopenstudios.org">firstlook@somervilleopenstudios.org</a>


            <p>Coming Soon</p>

            <h3>Sales</h3>
            <p> Any interested buyers will be referred directly to the artist, who is responsible for making all arrangements. The museum does not handle sales in any manner (other than providing access to the museum to facilitate a sale by the artist). 100 percent of proceeds go to the artist.</p>

            <h3>Questions?</h3>
            <p>Please email Mara Brod at <a href="mailto:firstlook@somervilleopenstudios.org">firstlook@somervilleopenstudios.org</a>.</p>
            <br>
            <p><span style="font-style: italic">Neither Somerville Open Studios nor The Somerville Museum assume any liability for and work displayed at the Museum: artists exhibit at their own risk.</span><br></p>
            <br>
            </p>
        </div>
    </div>
</div>
#}


{% endblock content %}
