{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Support Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
    <div class="row">
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3>Current Profile Information</h3>

            <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a><br>

            {% if profile_data is defined and profile_data %}

                {% for key, value in profile_data %}

                    {%  if key == 'Artist Statement' %}
                        <b> {{ key }}  : </b> {{ value|raw }}  <br>
                    {% else %}
                        <b> {{ key }}  : </b> {{ value }}  <br>
                    {% endif %}
                {% endfor %}



            {% endif %}
        </div>
    </div>
        <div class="col-md-6">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Update Your Profile Information  </h2>
            {%  if profile_freeze %}
                <div class="well well-sm" style="background-color:#B0413E "> <strong> Some Mapbook Data is currently Frozen </strong> so that the map book can be made.
                    questions? email membership@.   Any data available on this forms can be changed anytime throughout the year</div>
            {% endif  %}

            <ol>
                <li>Update Fields</li>
                <li>Click "update" button at bottom of form</li>
                <li>Confirm change in blue "Current profile Information"</li>
            </ol>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>

            {% endif %}


            <p> Your profile information helps visitors know about you and your art.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>
    </div>

<script src="https://cdn.tiny.cloud/1/896jzjd4iojuxguqhi656mjsfq3gtwkrz9cnvez8p6y7oc35/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
tinymce.init(
    {
        plugins: "paste",
        paste_as_text: true,
        selector:'textarea',
        menubar: false,
        style_formats: [
            { title: 'Inline', items: [
                { title: 'Bold', format: 'bold' },
                { title: 'Italic', format: 'italic' },
                { title: 'Underline', format: 'underline' }
            ]},
            { title: 'Blocks', items: [
                { title: 'Paragraph', format: 'p' }
            ]}
        ],
        toolbar: [
            {
                name: 'history', items: [ 'undo', 'redo' ]
            },
            {
                name: 'styles', items: [ 'styleselect' ]
            },
            {
                name: 'formatting', items: [ 'bold', 'italic', 'underline']
            }
        ]
    }
);
</script>

{% endblock content %}
