{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


    <h2> Somerville Open Studios</h2>
    <h3> Update Profile Images</h3>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <h3> Thumbnail Image</h3>

            <p> Your thumbnail image is a small representation of your art work. Its used in artist listing and for
                users to browse through artist listings</p>
            <a class="btn btn-info" href="{{ path('artists.my_profile') }}"> Back to member home </a> <br>
            <div class="bs-callout">
                <p>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Current Thumbnail</h3>
                        <img id="original_thumb" src="/{{ thumb_data.filename_and_path }}?r={{ random(5000) }}"
                             alt="thumbnail"> <br>

                        <form action="" method="post">
                            <input type="hidden" id="rotateCCW" name="rotateCCW">
                            <button type="submit">Rotate 90 CCW</button>
                        </form>
                        <form action="" method="post">
                            <input type="hidden" id="rotateCW" name="rotateCW">
                            <button type="submit">Rotate 90 CW    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        </form>
                    </div>


                    <div class="col-md-4">
                        <h3>Update Thumbnail</h3>
                        Instructions:
                        <ul>
                            <li>Click "browse".</li>
                            <li>Use the image window to crop to a square.</li>
                            <li> Click "upload image"</li>
                        </ul>
                        <strong>Select Image:</strong>


                        <br/>

                        <input type="file" id="upload">

                        <br/>

                        <button class="btn btn-success upload-result">Upload Image</button>
                    </div>



                    <div class="col-md-4">

                        <div id="upload-thumb" style="width:350px"></div>
                        <div style="clear:both"></div>
                        {#
                        <div class="control-group">
                            <label class="control-label" for="thumbnail_source">
                                Source:
                            </label>
                            <select id="thumbnail_source" class="input-xlarge">
                                <option value="">Select a Source...</option>
                                <option value="{{ app.request.basepath }}/artist_files/artist_images/profile/{{ profile_data.id }}-01.jpg?random=121948">Image 1                </option>
                                <option value="{{ app.request.basepath }}/artist_files/artist_images/profile/{{ profile_data.id }}-02.jpg?random=967537">Image 2                </option>
                                <option value="{{ app.request.basepath }}/artist_files/artist_images/profile/{{ profile_data.id }}-03.jpg?random=765672">Image 3                </option>
                            </select>
                        #}


                    </div>
                    {#
                    <div class="control-group">
                        <input type="hidden" id="croppie_image_index" name="croppie_image_index"/>
                        <input type="hidden" id="croppie_image_points" name="croppie_image_points"/>
                        <div class="croppie" style="width:100%; height:400px; margin-bottom:50px;"></div>
                    </div>
                    <div class="clear"></div>

                    <input class="btn btn-primary" type="submit" value = "update thumbnail"/>

                    </fieldset>
                    </form>
                    #}

                </div>
                </p>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/croppie.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/exif.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/web/css/croppie.css"/>




    <script>
        $(document).ready(function () {

            imageUploaded = false;

            $uploadCrop = $('#upload-thumb').croppie({

                enableExif: true,

                viewport: {

                    width: 250,

                    height: 250,


                },

                boundary: {

                    width: 400,

                    height: 400

                }

            });


            $('#upload').on('change', function () {

                var reader = new FileReader();

                reader.onload = function (e) {

                    $uploadCrop.croppie('bind', {

                        url: e.target.result

                    }).then(function () {

                        console.log('jQuery bind complete');
                        imageUploaded = true;
                    });


                }

                reader.readAsDataURL(this.files[0]);

            });


            $('.upload-result').on('click', function (ev) {

                if (imageUploaded == false) {
                    alert("image can't be blank")
                } else {
                    $uploadCrop.croppie('result', {

                        type: 'canvas',

                        size: 'viewport'

                    }).then(function (resp) {


                        $.ajax({

                            url: "",

                            type: "POST",

                            data: {"image": resp},

                            success: function (data) {

                                html = '<img src="' + resp + '" />';

                                $("#original_thumb").html(html);
                                // reload page
                                location = location;


                            }

                        });

                    });
                }

            });



            {#
            $('#thumbnail_source').change(function(e) {
                $('.croppie').croppie('destroy');
                if ($(this).val()) {
                    $('.croppie').croppie({
                        url: $(this).val(),
                    });
                }
            });

            $('#croppie_form').submit(function(e) {
                if (!$("#thumbnail_source").val()) {
                    alert('You must select a source image.');
                    return false
                }

                var info = $('.croppie').croppie('get');
                var optionText = $("#thumbnail_source option:selected").text();
                var optionNum = optionText.match(/(\d+)/)[0];
                $('#croppie_image_index').val(optionNum);
                $('#croppie_image_points').val(info.points.toString());

                return true;
            });
            #}


        });
    </script>

{% endblock content %}
