{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}



 {% endblock menu %}


{% block jumbotron %}

    <script src="{{ app.request.basepath }}/web/js/jquery-ui.min.js"></script>
    <link href="{{ app.request.basepath }}/web/css/jquery-ui.min.css" rel="stylesheet">

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3>Current Location Information</h3>

            <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a><br>

            {% if location_data is defined and location_data %}

                {% for key, value in location_data %}

                    <b>{{ key}}  :  {{ value }}</b> <br>

                {% endfor %}

            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Update Your Location Information  </h2>

            {% if form_status is defined and form_status %}

                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert">x</button>Form Updated
                </div>
            {% endif %}

            <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a>


            <p> Keeping your Location  information is important, as it may be important for us to contact you.  We respect yourprivacy and will never share your information with third paties.<br>
                <br>

                <span style="color:red; font-size:1.2em"> Select "Other" from drop down if not showing from a studio location.</span>
                <br>
                <br>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>

    <script>
        $(document).ready(function () {
            $(function () {

                $("#form_street_name").autocomplete({
                    source: function (request, response) {
                        console.log("json"+ $("#form_street_name").val());
                        $.ajax({
                            dataType: "json",
                            type: 'Get',
                            // data: {search_value: $('#street_search_value').val(), string: "street_name"},
                            url: '/web/api/get_street_names/'+  $("#form_street_name").val(),
                            success: function (data) {
                                //response( $.map( data, function(item) {
                                response(data);
                            },
                            error: function (data) {
                                console.log("error");
                            }
                        });
                    },
                    minLength: 2,
                    open: function () {
                    },
                    close: function () {
                    },
                    focus: function (event, ui) {
                    },
                    select: function (event, ui) {
                    }
                });
            });

            $("#singleForm_submit").click(function() {
                $("#searching").show();
            });


        var locationID = {{ location_id }};

            console.log ("Studio" +$('#form_studio_picker').val());
        if ($('#form_studio_building').val() !=='Other'){
            $('#form_street_name').prop('disabled', true);
            $('#form_building_name').prop('disabled', true);
            $('#form_street_number').prop('disabled', true);
        }


        $('#form_studio_picker').change(function(e){
            updateFormFields();
            console.log('changed');

        });

        function updateFormFields()
        {
            var pickedVal = $("#form_studio_picker option:selected").val();
            // array of locations

            if (pickedVal=='Other'){
                //$('#BuildingName').val("");;
                $('#form_building_name').prop('disabled', false);
                $('#form_street_name').prop('disabled', false);
                $('#form_street_number').prop('disabled', false);
            } else {
                $('#form_street_name').val("");
                $('#form_street_number').val("");
                $('#form_building_name').prop('disabled', true);
                $('#form_street_name').prop('disabled', true);
                $('#form_street_number').prop('disabled', true);


            }


        }
            // update the form initially based on state
        updateFormFields();

        });





    </script>


{% endblock content %}