{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Support Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
    <div class="row">
    <div class="col-md-6">
    <div class="bs-callout bs-callout-info pfont">
        <h3>Current Social Media Information</h3>
        <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a> <br>

{#
        {% if social_data is defined and social_data %}
            <table class="table table-striped table-condensed table-hover table-bordered" >
                <thead>
                {% for key, field in social_data_columns %}
                    <th> {{  key | raw }} </th>
                {% endfor %}

                </thead>
                <tbody>
                {% for sourceRow in social_data  %}

                    <tr>
                        {% for field in social_data_columns %}

                            {%  if field == 'url'  %}
                                <td>  <a href="{{ sourceRow[field] }}" target="_blank">   {{ sourceRow[field] }} </a> </td>

                            {% elseif  field == 'link'  %}
                                <td> <a href="{{ path('getOrthologsFromGene',{'geneID': sourceRow['geneid'] }) }}" target="_blank"> {{  sourceRow['geneSymbol'] }}  Orthologs</a> </td>

                            {% else %}

                                <td> {{  sourceRow[field] }} </td>

                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        {% endif %}
        #}

        {% if social_data is defined and social_data %}

                {% for sourceRow in social_data  %}

                        {% for field in social_data_columns %}
                            {%  if field == 'url'  %}
                            {% if sourceRow[field] is not empty %}
                                   <a href="{{ sourceRow[field] }}" target="_blank">   {{ sourceRow[field] }} </a> <br>
                            {% endif %}
                            {% elseif  field == 'short_name'  %}
                                <h3>{{  sourceRow[field] }}</h3>
                            {% elseif  field == 'user_name'%}
                                {% if sourceRow[field] is empty %}
                                  <em>Not Used</em>
                                    {% else %}
                                 {#username/url:{{  sourceRow[field] }} <br>#}
                                {% endif %}
                            {% else %}
                                {% if sourceRow[field] is not empty %}
                                    {{  sourceRow[field] }} <br>
                                {% endif %}
                            {% endif %}

                        {% endfor %}

                {% endfor %}

        {% endif %}


    </div>
    </div>
    <div class="col-md-6">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Update Your Social Media Information  </h2>

            <p> Fill in your username under all fields excecpt website/other which take a full URL (eg: https://www.my_website_here)</p>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>
                <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a>
            {% endif %}




            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>
    </div>



{% endblock content %}