{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


    <h2> Somerville Open Studios</h2>
    <h3> Update Profile Images</h3>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <h3>Current Images</h3>


            <p> To upload and new or change an image: <br>
            <ol>
                <li> click button ("browse" or "file") and select the file you wish to upload</li>
                <li> Enter information about the image (title/medium/dimensions)</li>
                <li><b> Click the update/upload button</b></li>
            </ol>
            Note: you can only upload one image at a time.
            </p>
            <p> If you want to upload the image title/medium/dimensions, follow the above instructions
                skipping steps 1 & 2
            </p>


            </p>
            <a class="btn btn-info" href="{{ path('artists.my_profile') }}"> Back to member home </a><br>
            <div class="bs-callout">
                <p>
                    {% for key,item in image_data %}


                <h4>Image {{ item.ImageNumber }} </h4>


                <div class="row">
                    <div class="col-md-4">
                        <img style="width: 100%;" src="/{{ item.filename }}?r={{ random(5000) }}" alt="picture2"> <br>
                    </div>
                    <div class="col-md-4">
                        <b> Title: </b> {{ item.Title }} <br/>
                        <b> Medium: {{ item.Medium }}</b><br/>
                        <b> Dimensions {{ item.Dimensions }}</b><br/>
                        <br>
                        To update:
                        <ol>
                            <li>click the button and select a file</li>
                            <li> Enter the Title/Medium/Dimension</li>
                            <li>click upload/update.</li>
                            To update just image description just change the text without selecting a new file.,
                    </div>
                    <div class="col-md-4">
                        {{ form_start(form_array[item.ImageNumber]) }}
                        {{ form_errors(form_array[item.ImageNumber]) }}
                        {{ form_end(form_array[item.ImageNumber]) }}

                    </div>
                </div>

                <hr/>

                {% else %}

                    No Image

                {% endfor %}

                </p>
            </div>


        </div>
    </div>

    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/croppie.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/croppie.css"/>



{% endblock content %}