{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Support Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="row">
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3>Current Contact Information</h3>

            <a class="btn btn-info" href="{{ path('artists.my_profile') }}"> Back to member home </a><br>

            {% if profile_data is defined and profile_data %}

                {% for key, value in profile_data %}

                    <b>{{ key }} : {{ value }}</b> <br>

                {% endfor %}

            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Update Your Contact Information </h2>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>
                <a class="btn btn-info" href="{{ path('artists.my_profile') }}"> Back to member home </a>

            {% endif %}


            <p> Keeping your contact information is important, as it may be important for us to contact you. We respect
                your privacy and will never share your information with third paties.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>
    </div>



{% endblock content %}