{% extends 'common/basic_layout.html.twig' %}
{% set active = 'virtual_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}

    <h2>Artist Information: Somerville Open Studios - Virtual Gallery Info</h2>

    {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="row">

        {#<div class="col-md-12">

            <img src="{{ app.request.basepath }}/web/images/event/fashion_show/20180503-_R2C2211.jpg" alt="fashion show image" style="width: 100%; max-width: 600px;">
        </div>

        #}
    </div>
    <div class="row">

        <div class="col-md-12 bg-light"  style="max-width:900px; background-color:white" >

            <div class="bs-callout bs-callout-info">

                <h2>The SOS Virtual Gallery team is looking for your videos!     </h2>

                <h3>Why videos?     </h3>


                <p>It is a simple way to replace that ‘in-person’ experience that’s impossible in our uncertain times, with something as authentic and unique. We won’t be able to open our physical doors this year, but that doesn’t mean that we can’t invite visitors to see our work, our workspaces, and hear our thoughts about art and art making.</p>


                <p>Your video can be as simple or as complicated as you wish! The only requirements: it needs to be short—<b>3 minute maximum</b>—and in <a href="https://www.howtogeek.com/365037/what-is-an-mp4-file-and-how-do-i-open-one/">MP4</a> (not MOV) format.  Talk about your process, laugh into the camera, do a short and strange art video (with your artwork in it!), or all of the above. The purpose is to introduce yourself to the visitors to <b><a href="https://www.youtube.com/channel/UCdXMH821q4vKV8CUkFtaKZA">SOS’s new
                    YouTube Channel</a></b>.</p>

<p>You must be a registered SOS 2020 artist to participate.

                <p>Need ideas for your personal interview, a simple tutorial on making a video, how and where to send your video, or other questions?  <b><a href="https://docs.google.com/document/d/1v2YeJ4lzu_4w9e3lSuEGuqzrAr8GK1kQa6TOovxSCss/edit?usp=sharing">Click Here</a></b>.</p>

                <p>There is no deadline, but SOS artists and visitors always look forward to the first weekend in May, and it would be great to have some videos by then.</p>

                <p>The SOS Virtual Gallery team is looking forward to seeing your creations!</p>

               <h2>Video parameters</h2>

<p>Video should be not more than 3 minutes long.<br>
Save the video as an <a href="https://www.howtogeek.com/365037/what-is-an-mp4-file-and-how-do-i-open-one/">MP4 file</a> (not MOV). 



                <h2> Tutorials</h2>
                <h3>Tips on how best to shoot video with mobile phone from Patrick Levar:</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/x-gfkXu8OpI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <hr>
                <h3>HITFLIM EXPRESS (some other freeware for editing video from Patrick Levar)</h3>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UTjS0JVHVBg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <hr>

                <h3>iMovie basics.</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/U1Hd60lwOyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <h3>HITFLIM basicsin 11 min!</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AO1m7aZlkM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr>

                <h3>How to Record Computer Screen AND Webcam using Quicktime (Mac) from Michael Kinney</h3>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/mLyPrblmPp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr>

                <h3>How to use Virtual Backgrounds in Zoom, by Katya Popova</h3>
                <iframe src="https://player.vimeo.com/video/405914197" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                <h3>How to save video in MP4 format using iMovie</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ASx1MF-tsdM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <h2> Sample Questions </h2>

                <p> Looking for some ideas about what to talk about..  Try some of our sample questions:</p>

                <ul>
                    <li>What is your Name, medium you work in. </li>
                    <li>Where would you be showing if SOS was taking place this year?</li>
                    <li>Are you working somewhere differently if you can’t be in your studio?</li>
                    <li>If you have a home studio, do you set aside time just for making art?</li>
                    <li>If you have a studio, when do you go?</li>
                    <li></li>
                    <li>What medium do you work in?</li>
                    <li>Have you ever worked in a different medium?</li>
                    <li>What is your work about?</li>
                    <li>Where might someone have seen your work before?</li>
                    <li>What is the first piece that you make?</li>
                    <li>Why do you make art?</li>
                    <li>Does art run in your family?</li>
                    <li>What is the one thing you want me to know about you and your Art?</li>
                    <li>Don’t forget to talk about your website! Also where could someone buy your work?</li>

                </ul>



                <h2> Sharing files </h2>

                    <p>Some of you will already have file sharing applications that you are comfortable with,
                        but if not here are some links to free options:
                        Upload to <a href="https://www.google.com/drive/">Google Drive</a> and share with <span></span>sosvirtualgallery<span></span>2020@gmail.com *</p>

                    <p>Send to sosvirtualgallery<span></span>2020@gmail.com via <a href="https://wetransfer.com/sign-up?trk=Splashpage_freeaccount&tier=free">WeTransfer</a></p>

                    <p>Upload to <a href="https://www.dropbox.com/business/try?&_tk=paid_sem_goog_biz_b&_camp=142947702&_kw=dropbox%7Ce&_ad=389661549544%7C%7Cc">Dropbox</a> and share with sosvirtualgallery2020<span></span>@gmail.com</p>

                    <p>Upload to <a href="https://products.office.com/en-us/onedrive/online-cloud-storage">OneDrive</a> and share with sosvirtualgallery<span></span>2020@gmail.com</p>

                    <p>*If you are a gmail user, you can send the file directly to sos<span></span>virtualgallery2020@gmail.com.
                        Google will prompt
                        the message and send your video using Google Drive.</p>


            </div>
        </div>



{% endblock content %}