{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Support Somerville Open Studios</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="col-md-12">
    <div class="">
        <h3>Payment Information</h3>
        Payment id : {{ pid }} <br/>
        Payer :  {{ payment_data.payer_name }} <br/>
        Payment Details :  {{ payment_data.item_description }}<br/>
        Amount : $ {{ payment_data.transaction_amount }}<br/>

{#
        {{ payment_data.first_name }} {{ payment_data.last_name }} <br/>
        {{ payment_data.street_address }} <br/>
        {{ payment_data.city }} {{ payment_data.state }} {{ payment_data.zip_code }} <br/>
        {{ payment_data.email }} <br/>

        {{ payment_data.phone }} <br/>
        Amount: $ {{ payment_data.amount }} <br/>
#}

        <br/>
        <br/>
        <br/>
    </div>
    </div>

    <div class="row">


    <div class="col-md-6">
        <div class=" ">

        <h3>Pay with Credit / Online</h3>
            <p>
            Please verify the quantity/ amount when paying.
            </p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">

                <p> If all information is correct.  If not correct click back.

                    <input type="hidden" name="add" value="1">

                    <input type="hidden" name="cmd" value="_cart">

                    <input type="hidden" name="business" value="payments@somervilleopenstudios.org">

                    <input type="hidden" name="item_name" value=" po# {{ pid }} {{ payment_data.item_description |trim }}  ">

                    <input type="hidden" name="amount" value="{{ payment_data.transaction_amount }}">

                    <input type="hidden" name="no_shipping" value="1">

                    <input type="hidden" name="return" value="https://www.somervilleopenstudios.org/web/thank_you">

                    <input type="hidden" name="no_note" value="1">

                    <input type="hidden" name="currency_code" value="USD">

                    <input type="hidden" name="lc" value="US">

                    <input class="btn btn-info" type="submit" name="submit" value="Pay online with Credit Card/payapl">
            </form>
        </div>
    </div>


{#
    <div class="col-md-6">
        <div class="" style="padding:15px;background-color: #d5d1d1">

            <h3>Mail</h3>
            <p> mail payment to:
                Somerville Open Studios<br/>
                PO Box 442115<br/>
                Somerville, MA 02144<br/>
            </p>
        </div>

   </div>

 #}   </div>

{% endblock content %}
