{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.sponsor' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Sponsor Somerville Open Studios!</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">
        <div class="bs-callout bs-callout-danger highlight pfont">
            <h3> Become A Sponsor </h3>
            <p> SOS is created each year through the efforts of volunteer artists and art lovers. The majority of our
                support comes from the artists themselves in the form of registration fees and generous donations of
                time and effort to make SOS a reality.
            </p>
            <p>By becoming a Somerville Open Studios sponsor, you help create a stronger more vibrant community. You are
                demonstrating your support of the vital role that the arts play in cultural and economic development.
                Thank you for supporting the arts in Somerville, and making our neighborhoods even stronger. All funds
                raised go directly towards expenses such as publicity, printing, and mailing costs.</p>
        </div>
        <div class="bs-callout bs-callout-warning pfont">
            <h3> Ad Rates and Information</h3>


            <p>With a print run of between 10,000 and 20,000, and over a month of region-wide distribution, the SOS
                Mapbook is an excellent way to reach your customers. During SOS weekend thousands of
                studio vistors will spend the day touring Somerville with the aid of the SOS Mapbook. Many visitors keep
                their souvenir books, and will see your advertisement throughout the year. <br/>
            </p>

            Deadlines 2021
            </h4>
            <h4>
                Coming Soon.
            </h4>
          {#   <p>
            Current SOS artists receive 15% off advertising. Contact <a
                    href="mailto:sponsorship@somervilleopenstudios.org">sponsorship@somervilleopenstudios.org</a> for
            more information.
            </p>

            <h4> Purchase Online</h4>
            <p>
                <a class="btn btn-info btn-large" href="{{  path('support.sponsor_purchase') }}"> Puchase Ads Online</a>

            </p>


           <h4>Rate Info</h4>
            <a href="/web/files/sponsorship/SOS2020_RateCard.pdf"><b>Download Rate Sheet (pdf)</b></a> <br> <br>

            <table class="table table-striped table-bordered table-condensed">
                <thead>

                {% for col_name, col_title in columns_to_show %}
                    <th>{{ col_title }}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for sponsor_id ,sponsor_row in sponsor_data %}
                    <tr>
                        {% for col_name, col_title in columns_to_show %}
                            <td>
                            {% if col_name == 'description' %}

                                    <ul>
                                        {% for listitem in sponsor_row[col_name] %}
                                            <li>{{ listitem |raw }}</li>
                                        {% endfor %}
                                    </ul>

                            {% elseif col_name == 'name' %}
                                <b> {{ sponsor_row[col_name] }} </b>
                            {% else %}
                                {{ sponsor_row[col_name] }}
                            {% endif %}

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

#}
        </div>
    </div>

{% endblock content %}