{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.sponsor' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Somerville Open Studios Sponsors </h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <style>
        .thumb_container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            grid-gap: 20px;
            list-style: none;
            margin: 0;
            padding: 2.2rem;



        }
        .thumb_container li {
            font-size:0.8em;
            margin:auto;
            background: white;
            padding: 10px 10px;
            margin-top: 10px;
            border-radius: 30px 0 /0px 0px;
            box-shadow: 0px 1px 2px 1px #dddddd;
            min-height: 350px;
            min-width: 190px;
            max-width: 220px;

            border : 1px solid gray;}

    </style>


    <div class="col-md-12">
        <div class="bs-callout bs-callout-danger highlight pfont">
            <h3> 2019 Food and Drink Sponsors</h3>


            <ul class="thumb_container">

            {% for oneSponsor in sponsor_data %}


                        <li>


                            <a href ="{{ oneSponsor['link']}}">
                            <img style="width:180px" alt="{{ oneSponsor.sponsor_name }} logo" src="/web/images/sponsors/{{oneSponsor['image_name']}}_logo.jpg"/>
                                <h4> {{ oneSponsor.sponsor_name }}</h4>

                            </a>
                            <em>
                            {% if oneSponsor.food_and_drink =='Y' %}
                                {{ oneSponsor['fd_description']}}<br>
                            {% else %}
                                {{ oneSponsor['description']}}<br>
                            {% endif %}
                            </em>
                            {% if oneSponsor['street_address'] is not empty %}

                                {{  oneSponsor['street_address']}}
                                {{  oneSponsor['city'] }}

                                <a target="_blank" href=" https://maps.google.com/?q={{ oneSponsor['sponsor_name']}},{{ oneSponsor['street_address']}},{{ oneSponsor['city']}},{{ oneSponsor['state']}}">

                                    (Map)</a> <br>
                            {% endif %}
                            <a href ="{{ oneSponsor['link']}}">

                            {{ oneSponsor['link_text']}}<br>
                            </a>


                        </li>

                {% endfor %}
                </ul>



        </div>
    </div>

{% endblock content %}