
{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h4>Call for Art Inside Out Gallery </h4>
<p>
    Member artists, Consider submitting art to the show at the Inside Out Gallery - Davis Square
    <b> Deadline March 25th</b>
</p>
<a class="btn btn-sm btn-warning" href="{{ path('inside_out_show') }}"> Inside Out Gallery Details. </a>


    <h4>Call for Art Locavore "Home" show</h4>

    <p>
        This years Locavore show has a theme of "Home", and is showing at <a href="https://www.ivyrg.com/">Ivy Realty </a>, Davis square.
        <b> Deadline March 31st</b>
    </p>
    <a class="btn btn-sm btn-warning" href="{{ path('locavore_home_show') }}"> "Locavore Home" Details.</a>


{{ block('event_foot', 'common/event_wrapper.html.twig') }}