

{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h3>PROMOTIONAL MATERIALS FOR ARTISTS</h3>

<h4>Map Guide / Balloon / Postcards Pickup -</h4>
<ul>
    <li><b>The Somerville Museum</b> <em> 1 Westwood Road </em> During regular museum hours: Thursdays 2-7 pm, Fridays 2-5 pm, Saturdays 12-5pm.</li>
    <li> <b>Artisans Asylum</b> <em>10 Tyler Street </em>/ Hours: Monday-Thursday noon-10pm / Friday-Sunday 10am-6pm </li>
</ul>

<h4>Map Guides Only</h4>
<ul>

    <li><b>The Armory Cafe:</b> 191 Highland Avenue</li>
    <li><b>Mudflat: 81 Broadway, </b> 10am-9:30pm</li>
    <li><b>Washington Street Art Center:</b> 321 Washington St. during gallery hours noon-4pm</li>


</ul>

<p> <em>Remove your Balloons after SOS!</em></p>


<p>
    <b></b> <a class="btn btn-info"   href="{{ path('promotion_materials') }}">Promotional Graphics Are Available </a> (link also in sidebar)
</p>

<p>

</p>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}