{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h3>Participating Artist? Update your Profile </h3>

<p>
For participating artists, please update your profile by uploading photos and an artist's statement.
</p>

<p>For 2020, SOS has increased the number of images that you can display in your profile from 3 to 4. Feel free to log in to your SOS account and upload another image.
 
<p>If you are an Expanded Web member, you already can display up to 8 images; this will not change.

<p>If you paid for Expanded Web membership in a previous year, but not for SOS 2020, the fourth image from that previous year is now visible in your profile. You may keep it, delete it, or replace it with a new image.

<p>
<a class="btn btn-danger" href="{{ path('login') }}"> Login and update.</a>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}