{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h3>EXHIBIT & SHOW DEADLINES & DROP OFFS</h3>
<ul>
    <li><b>Inside-OUT Gallery: Art & Soul -</b> The deadline for submissions to be considered for this exhibit in the
        Davis Square CVS display windows is <b>March 25.</b> <a class="btn btn-sm btn-warning" href="{{ path('inside_out_show') }}"> Inside Out Gallery Details. </a>

        </p>
    <li>
        <b>Locavore Show: HOME </b>- At Ivy Realty Group in Davis Square, this show explores the meaning of "home".
        Deadline for submissions is <b>Sunday, March 31. </b>
        <a class="btn btn-sm btn-warning" href="{{ path('locavore_home_show') }}"> "Locavore Home" Details.</a>

        </p>
    <li><b>First Look Exhibit at the Somerville Museum </b>- We strongly recommend participating in this non-juried
        group
        show...
        many studio visitors plan their trip based on what they see here. Click here for full information. Drop off
        dates:
        <ul>
            <li>Thursday, April 4, 6-8pm</li>
            <li>Sunday, April 7, 10am - 4pm</li>
        </ul>
        at the Museum, 1 Westwood Road.</p>
        <a class="btn btn-sm btn-warning" href="{{ path('first_look_show') }}"> "First Look Home" Details.</a>
</ul>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}