
{{ block('event_head', 'common/event_wrapper.html.twig') }}



<h3>OPENINGS & HAPPENINGS</h3>

<p>While the main part of Somerville Open Studios 2019 has now ended, we have a number of exhibits that remain open for you to visit through the middle of May.

<ul>
   <li>
        <b><a href="/visit/#first_look">SOS First Look Exhibit</a></b> - At Somerville Museum, One Westwood Road.  You have two more days to see it:
           <ul>
           <li>Thursday, May 16, 2-7 pm
           <li>Friday, May 17, 2-5 pm
           </ul>
    </li><li>
       <b><a href="/visit/#volunteer">SOS Volunteers Show</a></b> - At Bloc Cafe, 11 Bow Street in Union Square, through May 16. Bloc Cafe is open daily, 7 am -7 pm.  
    </li><li>
        <b><a href="/visit/#home">Home: Varied Perspectives</a></b>, a curated show at Ivy Realty, 20 Holland Street in Davis Square.  Open daily, 9 am to 6 pm, through May 18.
     </li><li>
        <b><a href="/visit/#inside_out">Art &amp; Soul</a></b>, a curated show at the Inside-Out Gallery, in the windows of the Davis Square CVS, through May 16.
   </li><li>
        <b><a href="http://navegallery.org/wp/avatars-futures/">AVATARS // futures</a></b> - The NAVE Gallery's show is open Saturdays and Sundays, 1-5 pm, through May 18.
    </li><li>
         <b><a href="https://brickbottom.org/?exhibition=spring-baa-members-show-green">GREEN</a></b> - The Spring Brickbottom Artists Association Members' Show</a></b> is open Thursday-Saturday, 12-5 pm, through May 18.
    </li><li>
         <b><a href="https://washingtonst.org/events.php?id=714">Washington Street SOS Showcase</a></b>, Saturdays 12-4 pm, through May 25.
    </li>
</ul>


{{ block('event_foot', 'common/event_wrapper.html.twig') }}