<div style="padding-left: 20px">
<h3>Corrections to our printed Map &amp; Guide</h3>

<p>Changes since our printed Map &amp; Guide went to press:

<ul>

<li>Because of forecasted rain, the SOS information booth in Davis Square will not be open on Sunday.  Please email <a href="mailto:domore@somervilleopenstudios.org"><b>domore@somervilleopenstudios.org</b></a> if you have any pressing questions.

<li><a href="/artists/artist_profile/1670"><b>Glass Paper Scissors</b></a> will exhibit in the <a href="/artists/artist_directory_list/display=map/medium=All/event=All/map_num=45"><b>SOS Community Space at the Armory</b></a>, 191 Highland Avenue (Map #45), <b>not</b> at Workbar Union (Map #68).

<li>These artists will not be open for SOS 2019: 
  <ul>
    <li><a href="/artists/artist_profile/1621"><b>Laura Baring-Gould </b></a> (Map #41)
    <li><a href="/artists/artist_profile/1498"><b>Beth MacGillivray</b></a> (Map #25)
  <li><a href="/artists/artist_profile/1918"><b>Kroemer</b></a> (Map #47)
  <li><a href="/artists/artist_profile/1357"><b>Hani Sallum</b></a> (Map #48)
  <li><a href="/artists/artist_profile/194"><b>Matt Carrano</b></a> (Map #53)
  <li><a href="/artists/artist_profile/1964"><b>Semi-saurs</b></a> (Map #62).
  </ul>
<li><a href="https://somervilleopenstudios.org/artists/artist_directory_list/display=list/medium=All/event=All/map_num=63"><b>Washington Street Studios</b></a>, 321 Washington Street (map #63), will display <a href="https://washingtonst.org/events.php?id=714"><b>a showcase of their artists' work</b></a> in their gallery.

</ul>

</div>