<h1 style="line-height:110%">Somerville Open Studios 2019</h1>

<p> The 21st annual Somerville Open Studios.

<p>Vist some of the over 300 local artists
    who are opening their studios and workshops, inviting the public to view their work at more than 70 locations throughout the city of Somerville.
    <b>Saturday, May 4th, and Sunday, May 5th</b>, from noon to 6 pm.
    <a class="btn btn-warning"  href="{{ path('artists_directory')}}">View the Artist Directory</a>
    <!--p><b>Some artists
    <a href="{{ path('artists_directory_list', {'display_type':"map",  'genre': "All", 'map_number':'All', 'event':'friday' }) }}">will also open their studios
    on Friday, May 3rd</a> from 6 to 9 pm.</b-->

    <!--p><b>This year, our <a href="fashion"> Beyond the Pattern</a> Fashion Show returns to the Somerville Armory, Thursday May 4th, starting at 7:30 pm.</b></p-->

<p>All SOS events and locations are entirely free. There's no charge.
    There's no catch. Just come, see art, and be part of the community!
</p>
<p>
Our <a class="btn btn-warning" href="{{ path('visit.home')}}"> Visitor Information Page</a> has details on all the happenings.
</p>
<p>Not sure where to begin? Start your visit at our
    <a href="/visit/#first_look"><b>First Look Show</b></a> at the
    Somerville Museum.<br>
    <b>For SOS weekend, the show will be open both Saturday and Sunday, 11 am - 6 pm (opening one hour earlier than the rest of SOS).</b>
</p>
<br>
<p>

    <hr>
Taking the Trolley? We have an

    <a class="btn btn-large btn-warning"
                                   href="{{ path('artists_directory_list_trolley', {'display_type':"list",  'genre': "All", 'map_number':'All', 'event':'All' }) }}">
      <img src="/web/images/mapicons/trolley_icon.png" alt=""trolley icon">  Online Trolley Tracker</a> <br>

{#
<ul style="line-height:100%; color:black">
    <li><a href="fashion"><b> Fashion Show</a> at the Armory on Thursday night, May 2, 7pm</b-->
    <!--li><b><a href="/artists/location_friday.php">Friday Night Preview artists (May 5)</a></b-->
    <li><b><a href="/artists">Artist Directory</a></b>
        <!--li style="line-height:120%"> an <a href="/visit/#cinema">outdoor movie screening</a> in Union Square on Saturday night, May 6<br>
             (in case of rain, this will move indoors to the SCATV studio)<br/-->
    <!--li><a href="visit/#donuts"> Donut Art Show</a> at Union Square Donuts <!-->
    <li><a href="{{ path('visit.home')}}#kids">Kids' Show at the Armory</a>
    <li><a href="{{ path('visit.home')}}#volunteer_show"> Volunteer Art Show</a> at Diesel Cafe
    <li><a href="{{ path('visit.faq')}}">Visiting Hints</a>
    <li><a href="{{ path('visit.directions_parking')}}">Directions, Trolley, and Parking</a>
</ul>
#}
