{% set event_class = "bs-callout bs-callout-info box-gray " %}
{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h4> Member Email </h4>

<p>
    Attention SOS 2019 Artists... We sent out an email blast to all this year's participating artist. It has lots of important dates and information, as well as reminders for show submission deadlines that are hitting this week. If you didn't see it, check your promotional or spam folders or go here -
</p>
<a class="btn btn-info" href="https://conta.cc/2JKHX0K"> View Email.</a>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}