<li class="p-3 callout-boxed bg-ligh">

                <h2>The SOS Virtual Gallery team is looking for your videos!     </h2>

                <p><b>Why videos?</b>


                <p>It is a simple way to replace that ‘in-person’ experience that’s impossible in our uncertain times, with something as authentic and unique. We won’t be able to open our physical doors this year, but that doesn’t mean that we can’t invite visitors to see our work, our workspaces, and hear our thoughts about art and art making.</p>

                <p>An SOS 2020 artist video can be as simple or as complicated as you wish! The only requirements: it needs to be short—<b>3 minute maximum</b>—and in <a href="https://www.howtogeek.com/365037/what-is-an-mp4-file-and-how-do-i-open-one/">MP4</a> (not MOV) format.  Talk about your process, laugh into the camera, do a short and strange art video (with your artwork in it!), or all of the above. The purpose is to introduce yourself to the visitors to SOS’s <a href="https://www.youtube.com/channel/UCdXMH821q4vKV8CUkFtaKZA">new YouTube Channel</a>.</p>
                
<p>For more information on how to participate, please visit our new <a href="/for_artists/virtual_gallery_info">Virtual Gallery information page</a>.  You must be a registered SOS 2020 artist to participate.

<h2>We are also scheduling Virtual Gallery Visits via Zoom Live Streaming</h2>

<p>During the scheduled weekend of Open Studios, May 2-3, we would love for registered SOS 2020 artists to schedule live-streaming gallery visits via Zoom.   For information on how to do this, please visit our new <a href="/for_artists/live_stream_info">Virtual Gallery Visits via Zoom Live Streaming</a> page.

<h2>Update your profile</h2>

<p>We encourage all artists to update the photos and statements on your SOS profile pages.   We have increased the number of profile images from 3 to 4.
(Artists who paid for Expanded Web still have 8 images.)

<p><a class="btn btn-danger" href="{{ path('login') }}"> Login and update.</a>


</li>