
{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h4
    <h4>Help Wanted: Timeline Manager</h4>

    <p>


Do you like to make things happen? To create plans and help others move activities along toward clear goals and exciting outcomes? If you’ve answered yes, enjoy working with volunteers, and love Somerville Open Studios… then we’ve got an opportunity or you!

    </p>

The Time Line Manager/s play a critical role with the committees producing SOS.

Their duties include:
<ul>
    <li>Organizes the Event Committee planning calendar for all committees</li>
    <li>Organizes the monthly Event Committee meetings – which includes: scheduling, flyers, notices, reminders, agendas, graphics, tags, signup lists, food, recaps, follow up</li>
    <li>Coordinates Committee Communications - Slack, committee email list, google doc list which includes maintaining shared important information for all committee use.</li>
    <li>Constant Contact Emails to SOS membership - develop content, coordinate with various committee members for relevant information.</li>
    <li>Manage/maintain SOS Email Mailbox @somervilleopenstudios.org</li>
    <li>Review contracts and send to treasurer for payment and signature</li>
    <li>Review needed permits and attend city meetings for these permits</li>
    <li>Respond to outside emails and calls for information etc.</li>
</ul>
<p>
If you are interested or have questions, please email board@somervilleopenstudios.org
<p>


</p>
   {#  <a class="btn btn-sm btn-warning" href="{{ path('locavore_home_show') }}"> "Locavore Home" Details.</a> #}


{{ block('event_foot', 'common/event_wrapper.html.twig') }}