{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h4
    <h4>2020 Timeline Manager</h4>

    <p>


        Meet the 2020 TimeLine Manager: <b>Christina Tedesco! </b></p>

<p>
Christina has degrees from both Tufts University and the Art Institute of Boston and has been a member of the SOS community since 2010.  For the last five years she’s served on the SOS Board, and has often worked as the volunteer coordinator, organizing members and matching volunteers to jobs.  We know that this experience will serve her well as she, and her executive staff, keep all the event committees on track to make SOS 2020 the best open studios ever!

    </p>



{{ block('event_foot', 'common/event_wrapper.html.twig') }}