
{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h4
    <h4>Help Wanted: Timeline Manager</h4>

    <p>

   The <em> Time Line Manager/s </em> play a critical role in producing SOS. They keep the Event Plan Calendar, and stay in frequent touch with the Team Leads to ensure that all the aspects of this city-wide event are on track. Organize and convene monthly Event Committee meetings, and communicate and coordinate in between with all the volunteers who contribute to SOS’s success each year. If SOS is a finely balanced rowing scull, then the Timeline Manager is the coxswain! <b>This is a year-long commitment, and a stipend is provided.</b>
    </p>

<p>
    Details for applying available soon.

</p>
   {#  <a class="btn btn-sm btn-warning" href="{{ path('locavore_home_show') }}"> "Locavore Home" Details.</a> #}


{{ block('event_foot', 'common/event_wrapper.html.twig') }}