<div class="alert alert-danger" >

    <div class="row">
        <div class="col-sm-6" >
            <h3>2020 Artists, Please Update Your Profiles.</h3>
            <p> We lock Locations and short description feb 22nd (extended!)  to work on the printed map book, so please update your profiles by then.   </p>
            <a class="btn btn-info" href="{{ path('login') }}">  Update Now    </a>
        </div>
        <div class="col-sm-6" >
            <h3>Art Week</h3>
            <div style="display:flex;flex-flow: row wrap; justify-content: flex-start">
                <div style="flex:1">
                    <img src="{{ app.request.basepath }}/web/images//icons/art_week_logo.png" alt="artweek logo" style="width:100px">
                </div>
                <div style="flex:2">
                    <p>
                        ArtWeek coincides with SOS in 2020.  We encourage our members to participate by hosting an artweek event:
                        <em> (deadline Feb 21st)</em>
                        <a class="btn btn-info" href="https://www.artweekma.org/event-hosts-2020/">  ArtWeek Website    </a>
                    </p>
                </div>
        </div>
    </div>
</div>
</div>
