{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:4">
        <h2> Call For SOS Fashion Show</h2>

<p>
        Beyond the Pattern is a live wearable art and fashion show on <b> April 30th At the Somerville Armory</b> </p>

        <p> Play wear, work wear, evening wear, street fashion, clothing for special occasions, safety gear, hats, bags, umbrellas, large-scale jewelry, masks, costumes, cosplay, recycled and unconventional materials, concept pieces, puppets, marching band instruments, hair styling, body art – if it can be presented on the runway with a walk, roll, strut, or dance, bring it to the show!
</p>
</div>
<div style="flex:1; margin-right:10px">

        <img style="height:200px" src="{{ app.request.basepath }}/web/images/event/fashion_show/2018_fashion_3.jpg" alt="beyond the pattern fashion show"   />

</div>


<p>
Check the Beyond the Pattern box in the artist registration process, or
        contact  <a href="mailto:beyondthepattern@somervilleopenstudios.org "><b>beyondthepattern@somervilleopenstudios.org </b></a> with your
questions and ideas.
</p>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}
