{{ block('event_head', 'common/event_wrapper.html.twig') }}


    <h3> 🎨 Call for Art! Stipend available.</h3>
<p>
    2020 Somerville Open Studios Theme: <em>Vision 2020</em>
</p><p>
    The SOS Event Committee is seeking work to be used for the Map Guide cover, poster, postcard, museum banner and
    social media applications. It must evoke our 2020 theme of Vision 2020. There will be a single stipend of $500 if
    submitted artwork is selected for use.</p>

<h5>Guidelines:</h5>
<ul>

<li><p>Art must represent the theme - it can be an existing piece or one created especially for this call.</li>
<li><p>Art must fit the parameters of the Map Guide with the understanding there will be text placement and trimming. Please see <a href="https://www.somervilleopenstudios.org/about/sos_history">past Map Guides</a> or email us for reference on dimensions for trim areas.</li>
<li><p>We will give preference to Somerville artists but others may apply.</li>
<li><p>Your art can have words but please understand we will have to add more.</li>
<li><p>Submission Deadline February 15, 2020. You can submit up to three images/sketches. If you are submitting a sketch and are chosen - final art must be delivered by March 1, 2020.</li>
<li><p>All final images must be full color high resolution - 300+ dpi</li>
</ul>

<p>
    Please submit and/or If you have any questions please email: <b><a href="mailto:coverart@somervilleopenstudios.org">coverart@somervilleopenstudios.org</a></b>
</p> 




{{ block('event_foot', 'common/event_wrapper.html.twig') }}