<li id="2020-cancel" class="p-3 callout-boxed bg-ligh">

<h3 class="bg-info p-2">COVID-19 and Somerville Open Studios 2020</h3>
    <span style="color:red">Update March 28th, 2020 </span>

<p>Dear SOS Artists and Supporters,

    <p>After a week of heartfelt deliberation, the SOS Board has decided to <b>cancel our SOS 2020 event</b>. For 22 years, SOS has provided an opportunity for the artistic community of Somerville to physically connect with fellow artists and the general public. Unfortunately, the COVID-19 coronavirus outbreak, and the consequent government restrictions on public gatherings, make it impossible for SOS to fulfill that mission this year.</p>

    <p>We considered postponing instead, but some aspects of  the event—such as securing venues and trolleys—require
    months if not a full year of advance notice, and yet we cannot be
    assured that a particular future date will work given the
    coronavirus pandemic measures. We considered postponing to
    the fall but that would mean competing with many other events
    that are also moving to the fall, as well as with those that
    normally take place in September. Fall is also a busy time for
    SOS planning volunteers since that’s when we start planning for
        the following year’s event.</p>

    <h3>Refunds</h3>
    <p>We are currently converting all memberships to Web Only and issuing refunds of $30 to each member and arts organization. This step will go a long way to supporting the financial outlays that SOS has already made for the 2020 event. We realize that some members may need a full refund, while others will be in a position to make a donation of their full membership to support SOS’s mission and year round expenses. These options will be available. We are committed to supporting all our members in this extraordinary time.</p>

    <p><b> An email with more details will be sent in the next week.</b> If you do not receive this email, please check your spam folder and/or email <em><a href="mailto:refunds@somervilleopenstudios.org">refunds@somervilleopenstudios.org</a></em>

    <p>Refunds will be made via PayPal whenever possible.

    <p>The Default refund:
<ul>
<li>Change membership from Participating Artist ($65) to Web Only ($35) and refund $30.</li>
<li>Organizations will receive a $30 refund and be converted to Web Only.</li>
<li>Refunds will include amounts paid for Community Space ($55) if applicable.</li>
<li>Donations made when registering, Extended Web ($25), and Business Name ($12) will not be refunded. Member artists who
    originally signed up as Web Only will not receive a refund.</li>
</ul>
    <p>    An email with other options (including full / other partial refund) will be going out shortly.

    </p>

    <h3>Where do we go from here?</h3>
    <p>The Planning group has created two committees to help fill the void, if you would like to be involved please email <a href="mailto:domore@somervilleopenstudios.org">domore@somervilleopenstudios.org</a> </p>

    <p>Virtual Gallery - In addition to our <a href="/artists/artist_directory">extensive artists' profiles on our website</a>, we are exploring the possibility of creating a video collection of artists in their studios. The exact means are still being discussed. If this project is of interest to you and you have the skills, we could definitely put your talents to good use.
    </p>

    <p>A Somerville Open Studios Exhibit – Many artists have sent emails relaying that SOS is a large source of income for them.  With this in mind, we are brainstorming on our options for a stand alone SOS Show and/or Pop Ups over the summer at the Somerville Museum or other possible venues.</p>


    <p>Be well and be safe.

    <p>Sincerely,
﻿
<p>Hilary Scott, President<br>
Terry Dovidio, Clerk<br>
Matt Kaliner<br>
Christina Tedesco<br>
Sarah Carlson<br>
Aram Comjean<br>
Johanna Finnegan-Topitzer<br>
Thea Paneth<br>
Peter Belford

</li>
