<li class="p-3 callout-boxed bg-info">

<h3>COVID-19 and Somerville Open Studios 2020</h3>

<p>Dear SOS Artists and Supporters,

<p>The SOS Board met on Sunday, March 15 to discuss how Covid–19 will affect this year’s open studios event.

    <p>After much discussion we voted to <b><em>postpone SOS for at least 8 weeks</em></b> as per CDC guidelines. The SOS Board is committed to having a revised date for our event to be decided within the next two weeks. To this end we will also be working diligently with all the SOS Event Committees to make sure that the new weekend will have as engaging a schedule as originally planned for our May event.

<p>There are two exhibitions surrounding the original SOS weekend that due
to prior obligation we expect will still be taking place at their originally scheduled times:
<ul>
<li>The Inside Out Show (CVS Windows) (see <a href="/for_artists/inside_out_show">the call for artists</a>) on April 14th-May 7th
<li>The Volunteer Show at Bloc Cafe - although with the recent restaurant restrictions from the City of Somerville this might not be possible.
</ul>

<p>These exhibitions will promote the new dates for SOS weekend as well as highlighting any virtual art experiences we hope to deploy. The Event Committees are continuing their work and based on a series of emails, we are investigating and working on a Virtual Gallery to be accessed through the SOS website. Our next planning meeting is scheduled for March 25th will hammer out all the details. This will take place on Zoom and a link will be sent prior to the meeting.

<p>Having Somerville Open Studios on the first weekend in May for the last 22 years has set quite a precedent, and we recognize that no alternate date will be perfect for everyone. – but we hope to decide on a date that will work for as many people as possible.

<p>Please check the website for forthcoming updates.

<p>Stay safe, healthy, and keep creating!

<p>Sincerely,
﻿
<p>Hilary Scott, President<br>
Terry Dovidio, Clerk<br>
Matt Kaliner<br>
Christina Tedesco<br>
Sarah Carlson<br>
Aram Comjean<br>
Johanna Finnegan-Topitzer<br>
Thea Paneth<br>
Peter Belford

</li>
