{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h3>Favorites/ Itinerary</h3>

<p>
    If you click the "add to Favorites" button on any artist's profile page, they'll end up here.</p>

<p> You can transfer use your favorites as an itinerary.  You can also transfer this list to another device (phone/computer):
    <a class="btn btn-info" href="{{ path('manage_itin') }}"> Manage Your favorites/Itinerary.</a>


</p>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}