
<div class="col-md-10" style="margin-left:20px;margin-right:20px">

    <!--ul>
<li>In addition to the artists listed below, the <a href="/visit/#first_look">SOS First Look Exhibit</a> at the Somerville Museum (Map #52) will be open Friday from 2 to 9 pm, and both Saturday and Sunday from 11 am to 6 pm.

<li>The <a href="/visit/#volunteer">SOS Volunteer Show</a> at Bloc Cafe (Map #67) will be open from 7 am to 7 pm daily.

<li><a href="/visit/#home">Home: Varied Perspectives</a> at Ivy Realty (Map #12) will be open from 9 am to 6 pm daily.
    </li>

    </ul-->
</div>