<div class="bs-callout-info bs-callout" style="margin-top: 15px" id="wrap">

    <h2 id="see_art">See art in Somerville all year round</h2>
    
    <h3>Outdoor (storefront window) galleries</h3>
        
    <ul>
    
    <li><p><b><a href="https://somervilleartscouncil.org/LilyannaSayre">Fly Free works</a></b> by <a href="https://www.skydiveart.com/">Lilyanna Sayre</a>, at the Inside-Out Gallery, in the windows of the Davis Square CVS.

    <li><p><b><a href="https://www.eastsomervillemainstreets.org/window-s-art-project">East End Windows Exhibit</a></b> in the windows of the former East End Grill at 118 Broadway.   Winter-themed art works by Abigail Coyle, Kate Ryan, Linda Sacenti, and Stan Eichner.
    
    </ul>
    
    
    <h3>Virtual (online) galleries</h3>
    
    <ul>
    
    <li><p><b><a href="https://brickbottom.org/login/constructiondeconstruction/">Construction/Destruction</a></b> is a show that was hung in the <a href="http://brickbottom.org">Brickbottom Gallery</a> from April 16 - May 16, 2020, but could not be opened to the public because of Covid-19.   You can now <a href="https://brickbottom.org/login/constructiondeconstruction/">view it online</a> instead.
    
    </ul>
    
    
    <h3>In the future</h3>
    
    <ul>

    <li><p><b><a href="http://somervillemuseum.org/greetings-from-somerville-history-through-postcards/">Time Marches On: Postcards and the Poetry of the Local</a></b>, curated by David Guss, at <a href="http://SomervilleMuseum.org">Somerville Museum</a>, One Westwood Road, <s>May 21 - September 17, 2020</s>. <span style="color:red">Postponed to 2021</span>

    </ul>
    
    <p>If you know of a current or upcoming art exhibit <b>in Somerville</b> that isn't listed here,
        please send e-mail to <a href="mailto:see_art@somervilleopenstudios.org">see_art@somervilleopenstudios.org</a> .</p>
</div>
