<script>
    // SPONSOR ROTATOR SCRIPT
    // ======================

    // Ads are stored in an array
    var ads = [];

    function renderAd() {
        // Get the ad we're about to display
        // Using shift actually removes the ad from the array
        var currentAd = ads.shift();

        // Using an array for string concatenation 'cause it's easier to read
        var ad_block = [
            '<br><div class="" style="border: 0px; height:200px; width: 200px;">',
            '<a href="', currentAd.link, '" target="_blank">',
            '<img style="height:90%; width:90%" src = "',
            '/web/images/sponsors/', currentAd.image_name, '_logo.jpg',
            '" alt="Logo for ', currentAd.sponsor_name, '" /></a>',
            '</div><a href="', currentAd.link, '" target="_blank">',
            '<b>', currentAd.sponsor_name, '</b> </a>',
            '<p>', currentAd.description, '<br> '
        ].join('');

        // render the ad
        jQuery('#sponsors').html(ad_block);

        // Move the ad that was just shown to the end of the queue
        ads.push(currentAd);
    }

    // Another global just in case we need to kill it later
    var adTimerId;

    function jStartAds(adData){
        // add all of the returned Ad data to our ads array
        ads = ads.concat(adData);

        // show placeholder
        jQuery('#sponsors').html("<b> Welcome our 2019 Sponsors! </b>").show();

        adTimerId = setInterval(renderAd, 3500);
    }


    $(document).ready(function( ) {
        $.getJSON('data/ads_json').then(jStartAds);
    });



</script>

<div id="sponsors"> see sponsors here</div>