{% if event=="all" or event=="All" %}
    <b> Showing All Member Artists</b>
    <p> Click artist card/row to visit profile.</p>
{% endif %}


{% if event=="1013" %} <h4> BoothCentral (Virtual) </h4>
    <p>
        Artists will be available in individual booths through an online platform to display artwork and talk with visitors on May 1 and 2 from noon to 6 pm   <br>  <a class="btn-success btn-sm" href="https://my.boothcentral.com/v/events/somerville-open-studios-2021" target="_blank"> BoothCentral </a>
        </a>
    </p>
{%endif%}



        {% if event=="1021" %}
            <h4>In Person Event </h4>
            <p> <b>Saturday, May 1 (Rain-date Sunday, May 2) from 12 to 6 pm </b> at various locations in parking lots, porches and driveways.   <a href="https://www.somervilleopenstudios.org/wp-content/uploads/2021/04/SOS21MapLetter.pdf"> PDF Map Available</a>

                and
                <a href="https://www.somervilleopenstudios.org/wp-content/uploads/2021/04/SOS21MapTabloid.jpg"> jpg Map Available</a>
            </p>
        {% endif %}


        {% if event=="1014" %}
            <h4>Inside-Out Gallery</h4>
            <p>
                The Somerville Arts Council's Inside-Out Gallery, in the windows of the Davis Square CVS.  Art viewable from outside.
                <br><b><a href="/visit/#exhibits">[+ More Details]</a></b>
            </p>
        {% endif %}

{% if event=="1015" %}
    <h4>Small Works Show <br>
        @ Bow  Market</h4>
    <p>
        1 Bow Market Way (Union Square), space #26 (second floor) <br>
        through <b> June 27, 2021</b>
        <br><b><a href="/visit/#exhibits">[+ More Details]</a></b>
    </p>
{% endif %}


{% if event=="1016" %}
    <h4>Digital Bloom Virtual Exhibit <br>
    </h4>
    <p> A Virtual Galley to explore,
        <b> <a class="btn btn-sm btn-success" href="/visit/#digital-bllom">[+ More Details]</a></b>
    </p>
{% endif %}

{% if event=="1022" %}
    <h4>the art house in Powderhouse Square</h4>

    <p>
        862 Broadway, Somerville, <br>Saturday + Sunday, 12-6pm
        <br><b><a href="/visit/#exhibits">[+ More Details]</a></b>
    </p>


{% endif %}
