<span style="padding-left:2rem"> <b> Showing: </b>
{% if event=="All" %} All Artists {% endif %}


{% if event=="1013" %}  BoothCentral (Virtual)

{%endif%}



{% if event=="1021" %}
    In Person Event
{% endif %}


        {% if event=="1014" %}
            Inside-Out Gallery
        {% endif %}

{% if event=="1015" %}
    Small Works Show

{% endif %}

    {% if event=="1016" %}
        Digital Bloom  Virtual Exhibit

    {% endif %}

{% if event=="1022" %}
    the art house in Powderhouse Square

{% endif %}

    {% if event!="All" %}

        <a href="{{ path('artists_directory_list', {'display_type': display_type,  'genre': "All", 'map_number':"All", 'event':"All", 'display_order': display_order }) }}">
                     <span style="font-size:1.3em; padding-left:6px" class="glyphicon glyphicon-remove-sign" aria-hidden="true">
                     </span>
                    </a>
    {% endif %}

    {%  if  map_number != 'All' %}
        <span style="padding-left:10px"> Map # {{ map_number }}
        <a href="{{ path('artists_directory_list', {'display_type': display_type,  'genre': "All", 'map_number':"All", 'event': event, 'display_order': display_order }) }}">
                     <span style="font-size:1.3em; padding-left:6px" class="glyphicon glyphicon-remove-sign" aria-hidden="true">
                     </span>
                    </a>
        </span>
    {% endif %}

</span>
