<div class="row" style="font-size: 0.9em">
    <div class="col-md-6" >


{% if event=="favorites" %}
<h4> ❤️ Your Favorites/ Itinerary </h4>
        <br>
        <a class="btn btn-success"
           href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': "All", 'map_number':'All', 'event':'All', 'display_order':'default'  }) }} "> Continue Browsing All Artists</a>

    </div>
{% else %}


        <div class="radio">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios1" value="All"  {% if event=="All" %} checked {% endif %} >
                All SOS Member Artists
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios3" value="1030" {% if event=="1030" %}  checked {% endif %} >
                Artists Open for SOS 2024
            </label>
        </div>

    </div>

{% endif %}

    {#
    <div class="col-md-6">

        <div class="radio">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios4" value="1014" {% if event=="1014" %}  checked {% endif %}>
                Inside Out Gallery
            </label>
        </div>



        <div class="radio">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios5" value="1015" {% if event=="1015" %}  checked {% endif %}>
                Small Works Show
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios6" value="1022" {% if event=="1022" %}  checked {% endif %}>
                the art house in Powderhouse Sq.
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios6" value="1016" {% if event=="1016" %}  checked {% endif %}>
                Digital Bloom Virtual Exhibit
            </label>
        </div>
#}


        {#
        <div class="radio disabled">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios3" value="1015" disabled>
                Bow Street Market Small Works Show
            </label>
        </div>
        <div class="radio ">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios3" value="1022" disabled>
                Pop Up Show
            </label>
        </div>
                 <div class="radio ">
            <label>
                <input type="radio" name="SOSeventFilter" id="optionsRadios3" value="1022" disabled>
                Pop Up Show
            </label>
        </div>
</div>
        #}

</div>

<script>
$( document ).ready(function() {

$('input[type=radio][name=SOSeventFilter]').change(function() {
    var selectedEvent = $(this).val();
    var existingURL = window.location.href;
    var newURL = existingURL.replace(/event\=([A-z0-9,]*)\//, "event=" + selectedEvent + "/");


    // strip off anything after the "?" if stuck in seach

    var sloc =  newURL.indexOf('?');
    if (sloc > 0){
        newURL = newURL.substring(0, sloc);
    }

    // ajust the search

    newURL = newURL.replace(/medium\=([A-z0-9,]*)\//, "medium=All/");
    console.log(existingURL);
    console.log(" NEW: " + newURL);
    if (false /*selectedEvent ==1025*/){ // rraman: this seems wrong... why always switch to map mode when the user is just switching from "All Artists" to "2022 Open Studios"?

        newURL = newURL.replace(/display\=([A-z0-9,]*)\//, "display=map/");
        newURL = newURL.replace(/display_order\=([A-z0-9,]*)/, "display_order=map");

    }
    // booth Central
    if (selectedEvent ==1013){

        newURL = newURL.replace(/display\=([A-z0-9,]*)\//, "display=grid/");
    }


    // Other Shows
    if (selectedEvent ==1014 || selectedEvent ==1015 || selectedEvent ==1022){

        newURL = newURL.replace(/display\=([A-z0-9,]*)\//, "display=grid/");
    }





    //medium\=([A-z]*)\/

    window.location = newURL;
   })
});

$('input[type=checkbox][name=SOSmapFilter]').change(function() {

   var selections = $("input[type=checkbox][name=SOSmapFilter]:checked").map(function () {
       return this.value;
   }).get().join(",");
   if (selections != 'ARTISTS' && selections != 'TROLLEYS') {
       selections = 'ALL';
   }
   filterMarkers(selections);
});
</script>
