<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title> {% block title %}  Somerville Open Studios {% endblock %} </title>

        <meta name="description" content="{% block meta_description %}somerville open studios site{% endblock %}">
        <meta property="og:image" content="https://www.somervilleopenstudios.org{% block meta_image %}/web/images/SOS_LOGO_YO.png{% endblock %}"/>
        <meta name="author" content="Somerville Open Studios">
        <!-- Do not remove: this links sos.org to our youtube account -->
        <meta name="google-site-verification" content="SuaMjOlHjf3o32FRqrpZ4PQxX0x8VZNX9Mt63_TdchQ"/>

        {# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}

        {#<script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/web/js/jquery.min.js"><\/script>')</script> #}
        <script src="{{ app.request.basepath }}/web/js/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/web/js/bootstrap.min.js"></script>
        <link href="{{ app.request.basepath }}/web/css/bootstrap.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/web/css/somos.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/web/css/somos.doc.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/web/css/jumbotron.css" rel="stylesheet">

        <link rel="preload" href="https://fonts.gstatic.com">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="preload" href="https://fonts.gstatic.com">

        {#   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap" rel="stylesheet">
        #}
        <script>
            {#  $(document).ready(function() {


            })
            #}
            {#    https://stackoverflow.com/questions/92720/jquery-javascript-to-replace-broken-images #}
            function imgError(image) {
                image.onerror = "";
                image.src = "/artist_files/artist_images/splash/dummy.gif";
                return true;
            }
        </script>


        {# sidebar layout based on https://www.bootply.com/render/gkTHCwjLO9
https://www.bootply.com/128936
 or in bootply mode


        #}
        <style type="text/css">
            /*
    * Style tweaks
    * --------------------------------------------------
    */
            body {
                padding-top: 50px;
                background-color: #fcfcfc;
            }
            footer {
                padding-left: 15px;
                padding-right: 15px;
                background-color: #fff;
            }

            /*
             * Off Canvas
             * --------------------------------------------------
             */
            @media screen and (max-width: 768px) {
                .row-offcanvas {
                    position: relative;
                    -webkit-transition: all 0.25s ease-out;
                    -moz-transition: all 0.25s ease-out;
                    transition: all 0.25s ease-out;
                }

                .row-offcanvas-left
                .sidebar-offcanvas {
                    left: -53%;
                }

                .row-offcanvas-left.active {
                    left: 33%;
                }

                .sidebar-offcanvas {
                    position: absolute;
                    top: 0;
                    width: 33%;
                    margin-left: 10px;
                }
            }


            /* Sidebar navigation */
            .nav-sidebar {
                background-color: #f5f5f5;
                margin-right: -15px;
                margin-bottom: 20px;
                margin-left: -15px;
            }
            .nav-sidebar > li > a {
                color: #0227ca;
                font-size:1.1em;
                padding-right: 20px;
                padding-left: 20px;
            }
            .nav-sidebar > .active > a {
                color: #fff;
                background-color: #428bca;
            }

            /*
             * Main content
             */

            .main {
                padding: 20px;
                background-color: #fff;
            }
            @media (min-width: 768px) {
                .main {
                    padding-right: 40px;
                    padding-left: 40px;
                }
            }
            .main .page-header {
                margin-top: 0;
            }

        </style>

    {% endblock head %}
</head>

<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>older</em> <a href="http://browsehappy.com/"> For the bestest
    experience, upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install
    Google Chrome Frame</a> to experience this site.</p><![endif]-->

{% set active = active|default(null) %}




<!-- Fixed navbar -->

{% block menu %}
{% endblock menu %}


{% block jumbotron %}
    <br>
{% endblock jumbotron%}


<div class="container-fluid">

    {% if app.session is defined %}
        {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}">
                    <button class="close" data-dismiss="alert">x</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

</div>



{% block content %}
{% endblock content %}



{# Footer #}

<div class="container-fluid">
    <div class="row" style="padding-top:20px; padding-bottom: 20px; background: #000000; margin-top:15px">

        {% block footer %}

            <div class="col-sm-2  col-md-3">
            </div>
            <div class="col-sm-8  col-md-9" style="color:white">
                {% set sp=' ' %}

                (c) {{ app.footer_year }}{{ sp}} Somerville Open Studios
                - &nbsp &nbsp <a href="{{ path('about.contact')}}"> contact Us</a>
            </div>
            <div class="col-sm-2  col-md-3">
            </div>
        {% endblock footer %}
    </div>
</div>

<script type='text/javascript'>

    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
        });
    });

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2961GX53F0"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2961GX53F0');
</script>







</body>
</html>
