<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="description" content="somerville open studios site">
    <meta name="author" content="Somerville Open Studios">
    <!-- Do not remove: this links sos.org to our youtube account -->
    <meta name="google-site-verification" content="SuaMjOlHjf3o32FRqrpZ4PQxX0x8VZNX9Mt63_TdchQ"/>


    <title>Somerville Open Studios 2021</title>

    <script src="{{ app.request.basepath }}/web/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core CSS -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">

    <link href="{{ app.request.basepath }}/web/css/fonts.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/web/css/bootstrap4/bootstrap.min.css" rel="stylesheet">
    <!--
        <link href="css/style.css" rel="stylesheet">
        -->
    <!--
    <link href="css/oswald-muli.css" rel="stylesheet">
-->
    <link href="{{ app.request.basepath }}/web/css/bootstrap4/somos.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/web/css/jumbotron.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/26c7a569bf.js" crossorigin="anonymous"></script>

<!--    <script src="{{ app.request.basepath }}/web/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2"  crossorigin="anonymous"></script> -->

    <style>

        i.fas,
        i.fab {
            color: #b9b9b9;
            font-size: 1.8em;
        }


        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .artist-thumb-box2 {
            min-width: 260px;
            max-width: 270px;

        }
        .navbar {
            padding:0rem;
        }

        .dropdown .dropdown-menu {
            border-radius:0;
        }


        /* Medium devices (tablets, 768px and up)
        The navbar toggle appears at this breakpoint */
        @media (min-width: 768px) {
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
                border-radius:0;
            }
        }

        .sosbanner {
            background-image: url('{{ app.request.basepath }}/web/images/banner/dots_3.png') ;
            background-size: auto;
        }

    </style>


    {% endblock head %}
</head>
{% block menu %}
{% endblock menu %}


{% block jumbotron %}

{% endblock jumbotron%}



<div id="" class="sosbanner container-fluid d-flex justify-content-between"  style=""  >
    <!-- <a href="#" class="navbar-brand d-flex align-items-center">


   \
             <img src="web/images2/2020SOSwebsiteHeaderOL.png" style="max-height:100px; background-color:black">
     </a>
 -->
    <div class="pr-2" style="background-color:#000000ab; color:#c89204">
        <h1> Somerville Open Studios </h1>
    </div>
    <div class="float-left" style="background-color:#00000011; color:#c89204bb">
        <p style="font-size:.7em"> Dot design <br><a style="color:rgba(2,89,231,0.73)" href="/artists/artist_profile/1944">Allsion Tanenhaus</a> </p>
    </div>
</div>


<main role="main">
    <body>



    <!--  Artist Blocks -->

    {% if random_artists is defined %}
    <div class="col-sm-12 py-4 bg-sos-dark d-none d-sm-block" style="background-color: black">

        <ul class="thumb_container_flex" >

            {% for key,item in random_artists %}
            {% endfor %}

            <li class="d-none d-sm-block"><!--  -->
                <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[0].id }} ">
                    <img src="/artist_files/artist_images/splash/{{ random_artists[0].id }}.jpg" height="180" width="180"
                         alt=" {{ random_artists[0].PublicFirstName }} {{ random_artists[0].PublicLastName }} Art" onerror="imgError(this);">

                    <div class="thumbnail_label_flex">
                        {{ random_artists[0].PublicFirstName }} {{ random_artists[0].PublicLastName }}
                        {% if random_artists[0].BusinessName is not empty %}
                            <br/>{{ random_artists[0].BusinessName }}
                        {% endif %}
                    </div>
                </a>
            </li>
            <li class="d-none d-sm-block"><!--  -->
                <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[1].id }} ">
                    <img src="/artist_files/artist_images/splash/{{ random_artists[1].id }}.jpg" height="180" width="180"
                         alt=" {{ random_artists[1].PublicFirstName }} {{ random_artists[1].PublicLastName }} Art" onerror="imgError(this);">

                    <div class="thumbnail_label_flex">
                        {{ random_artists[1].PublicFirstName }} {{ random_artists[1].PublicLastName }}
                        {% if random_artists[1].BusinessName is not empty %}
                            <br/>{{ random_artists[1].BusinessName }}
                        {% endif %}
                    </div>
                </a>
            </li>
            <li class="d-none d-lg-block"><!--  -->
                <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[2].id }} ">
                    <img src="/artist_files/artist_images/splash/{{ random_artists[2].id }}.jpg" height="180" width="180"
                         alt=" {{ random_artists[2].PublicFirstName }} {{ random_artists[2].PublicLastName }} Art" onerror="imgError(this);">

                    <div class="thumbnail_label_flex">
                        {{ random_artists[2].PublicFirstName }} {{ random_artists[2].PublicLastName }}
                        {% if random_artists[2].BusinessName is not empty %}
                            <br/>{{ random_artists[2].BusinessName }}
                        {% endif %}
                    </div>
                </a>
            </li>
            <li class="d-none d-xl-block"><!--  -->
                <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[3].id }} ">
                    <img src="/artist_files/artist_images/splash/{{ random_artists[3].id }}.jpg" height="180" width="180"
                         alt=" {{ random_artists[3].PublicFirstName }} {{ random_artists[3].PublicLastName }} Art" onerror="imgError(this);">

                    <div class="thumbnail_label_flex">
                        {{ random_artists[3].PublicFirstName }} {{ random_artists[3].PublicLastName }}
                        {% if random_artists[3].BusinessName is not empty %}
                            <br/>{{ random_artists[3].BusinessName }}
                        {% endif %}
                    </div>
                </a>
            </li>
            <li class="d-none d-xl-block"><!--  -->
                <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[4].id }} ">
                    <img src="/artist_files/artist_images/splash/{{ random_artists[4].id }}.jpg" height="180" width="180"
                         alt=" {{ random_artists[4].PublicFirstName }} {{ random_artists[4].PublicLastName }} Art" onerror="imgError(this);">

                    <div class="thumbnail_label_flex">
                        {{ random_artists[4].PublicFirstName }} {{ random_artists[4].PublicLastName }}
                        {% if random_artists[4].BusinessName is not empty %}
                            <br/>{{ random_artists[4].BusinessName }}
                        {% endif %}
                    </div>
                </a>
            </li>
        </ul>
        <div class="d-flex flex-row-reverse" >
            <div class="pt-3 text-warning"><a  class="btn btn-outline-light"  href="{{ path('artists_directory_random', {'type':"grid"}) }}"> See More artists </a></div>
        </div>
    </div>
    {% endif %}


    <! https://stackoverflow.com/questions/42635126/bootstrap-4-navbar-with-2-rows -->
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark" style="">
        <div class="container-fluid align-items-end">

            <div>

            </div>

            <button class="navbar-toggler align-self-center" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                Menu <span class="navbar-toggler-icon"></span>
            </button>


            <div class="ml-5 collapse navbar-collapse flex-column align-items-start" id="navbarCollapse">





                {#  MENU #}

                <ul class="navbar-brand navbar-nav ml-1" style="font-size:1.1rem">
                    <a href="/" title="SOS Homepage">
                        <img style=" height: 50px;  padding: 2px;  width: auto;" src="/web/images/SOS_LOGO_YO.png" alt="logo" height="50px">

                    </a>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('visit.home') }}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('artists_directory')}}">Artist Directory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('volunteer.home')}}">Support/Volunteer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about.home')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('for_artists.home') }}">Artist Resources</a>
                    </li>

                    <li class="nav-item pl-3">

                    {% if  app.username  is defined and app.username  is not null  %}
                    <li class="nav-link"> <a href="{{ path('artists.my_profile') }}"> My Profile <br> ({{app.username}})</a></li>
                    {% else %}
                        <li class="nav-link"><a href="{{ path('login') }}"> Login </a></li>
                    {% endif %}
                </ul>


                <!---- Social Media bar -->

                    <ul class="col-12 navbar-nav mb-0 d-flex flex-row-reverse"
                    >
                        <li class="nav-item d-none d-sm-block">
                            <h4  class="pl-3" style="color:#c89204">Somerville Open Studios<br>
                                  <span style="color:red">Virtualized</span><br>
                                Visit our Artists' Profiles and YouTube channel</h4>
                        </li>

                        <li class="nav-item"><a  href="https://somervilleopenstudios.slack.com/">
                            <i class="fab fa-slack p-2"></i>
                        </a>
                        </li>
                        <li  class="nav-item">
                            <a href="https://www.flickr.com/groups/somervilleopenstudios/pool/" target="_blank">
                            <i class="fab fa-flickr p-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://instagram.com/somervilleopenstudios" target="_blank">
                                <i class="fab fa-instagram p-2"></i>
                            </a>
                        </li>
                        <li  class="nav-item">
                            <a href="https://www.facebook.com/SomervilleOpenStudios" target="_blank">
                            <i class="fab fa-facebook p-2"></i>
                            </a>
                        </li>
                        <li  class="nav-item">
                            <a href="https://www.youtube.com/channel/UCdXMH821q4vKV8CUkFtaKZA" target="_blank">
                            <i class="fab fa-youtube p-2"></i>
                            </a>
                        </li>


                    </ul>






            </div>
        </div>
    </nav>




    <div class="container-fluid">

        {% if app.session is defined %}
            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}">
                        <button class="close" data-dismiss="alert">x</button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    </div>



    <!--  Main Column -->
    {% block content %}
    {% endblock content %}
    </body>
</main>





{% block footer %}

<footer class="container">
    <hr>
    <p>&copy;  Somerville Open Studios  &nbsp &nbsp   - &nbsp &nbsp <a href="/about/contact"> contact Us</a></p>

        <a href="https://instagram.com/somervilleopenstudios" target="_blank">
            <i class="fab fa-instagram p-2"></i>
        </a>
  <a  href="https://somervilleopenstudios.slack.com/">
            <i class="fab fa-slack p-2"></i>
        </a>

        <a href="https://www.flickr.com/groups/somervilleopenstudios/pool/" target="_blank">
            <i class="fab fa-flickr p-2"></i>
        </a>

        <a href="https://www.facebook.com/SomervilleOpenStudios" target="_blank">
            <i class="fab fa-facebook p-2"></i>
        </a>


</footer>
{% endblock footer %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ app.request.basepath }}/web/js/holder.min.js"></script>
<script src="{{ app.request.basepath }}/web/js/bootstrap4/bootstrap.bundle.min.js"></script>
</body>
</html>
