<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title> {% block title %}   Somerville Open Studios {% endblock %} </title>

        <meta name="description" content="{% block meta_description %}somerville open studios site{% endblock %}">
        <meta property="og:image" content="https://www.somervilleopenstudios.org{% block meta_image %}/web/images/SOS_LOGO_YO.png{% endblock %}"/>
        <meta name="author" content="Somerville Open Studios">
        <!-- Do not remove: this links sos.org to our youtube account -->
        <meta name="google-site-verification" content="SuaMjOlHjf3o32FRqrpZ4PQxX0x8VZNX9Mt63_TdchQ"/>

        {# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}

        {#<script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/web/js/jquery.min.js"><\/script>')</script> #}
        <script src="{{ app.request.basepath }}/web/js/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/web/js/bootstrap.min.js"></script>
        <link href="{{ app.request.basepath }}/web/css/bootstrap.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/web/css/somos.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/web/css/somos.doc.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/web/css/jumbotron.css" rel="stylesheet">

        <link rel="preload" href="https://fonts.gstatic.com">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="preload" href="https://fonts.gstatic.com">

      {#   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap" rel="stylesheet">
      #}
        <script>
            {#  $(document).ready(function() {


            })
            #}
            {#    https://stackoverflow.com/questions/92720/jquery-javascript-to-replace-broken-images #}
            function imgError(image) {
                image.onerror = "";
                image.src = "/artist_files/artist_images/splash/dummy.gif";
                return true;
            }
        </script>


        {# sidebar layout based on https://www.bootply.com/render/gkTHCwjLO9
https://www.bootply.com/128936
 or in bootply mode


        #}
        <style type="text/css">
            /*
    * Style tweaks
    * --------------------------------------------------
    */
            body {
                padding-top: 50px;
                background-color: #fcfcfc;
            }
            footer {
                padding-left: 15px;
                padding-right: 15px;
                background-color: #fff;
            }


            /*
             * Main content
             */

            .main {
                padding: 20px;
                background-color: #fff;
            }
            @media (min-width: 768px) {
                .main {
                    padding-right: 40px;
                    padding-left: 40px;
                }
            }
            .main .page-header {
                margin-top: 0;
            }

        </style>

    {% endblock head %}
</head>

<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>older</em> <a href="http://browsehappy.com/"> For the bestest
    experience, upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install
    Google Chrome Frame</a> to experience this site.</p><![endif]-->

{% set active = active|default(null) %}




<!-- Fixed navbar -->

{% block menu %}
{% endblock menu %}


{% block jumbotron %}
    <br>
{% endblock jumbotron%}

{% if app.session is defined %}
<div class="container-fluid">


        {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}">
                    <button class="close" data-dismiss="alert">x</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}


</div>
{% endif %}


<div class="container">
    <div class="row  row-offcanvas row-offcanvas-left" style="right:-15px">


        {# check if a sidebar exists..  If so set up for it.    Otherwise output nothing.#}
        {# if the menu is set its a 3 -9 column split,  otherwise its just 12. #}
        {# I put the div here, so If they change it will be easier to change for all pages.#}

        {% if side_menu is defined and side_menu is not empty %}

        <div class="row  row-offcanvas row-offcanvas-left">
            <div class="col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation" style="max-width:250px">

                {% block sidemenu %}
                    {% include "common/menu_sidebar.html.twig" %}
                {% endblock sidemenu %}
            </div>

            {% else %}

            <div class="row">

                {% endif %}


                {# if there is no sidemenu just go 12 acoss, otherwise smaller.#}


                {% if side_menu is defined and side_menu is not empty %}
                <div class="col-sm-8  col-md-9">
                    <span class="visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i> Menu</button>
                    </span>

                    {% else %}
                    <div class="col-md-12">

                        {% endif %}



                        {% block content %}
                        {% endblock content %}

                    </div>
                </div>


                {# Footer #}

            </div>
        </div>
        <div class="container-fluid">
                    <div class="row" style="padding-top:20px; padding-bottom: 20px; background: #000000; margin-top:15px">

                        {% block footer %}

                            <div class="col-sm-2  col-md-3">
                            </div>
                            <div class="col-sm-8  col-md-9" style="color:white">
                                (c) 2024 Somerville Open Studios
                                - &nbsp &nbsp <a href="{{ path('about.contact')}}"> contact Us</a>
                            </div>
                            <div class="col-sm-2  col-md-3">
                            </div>
                        {% endblock footer %}
                    </div>
                </div>

                <script type='text/javascript'>

                    $(document).ready(function() {
                        $('[data-toggle=offcanvas]').click(function() {
                            $('.row-offcanvas').toggleClass('active');
                        });
                    });

                </script>

        <script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-2961GX53F0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-2961GX53F0');
        </script>


            </div>
        </div>
</div>


</body>
</html>
