{% block event_head %}

{% if event_class is defined %}

    <div class="{{ event_class }}" style="display:flex;flex-flow: row wrap;">

    {% else %}

<div class="bs-callout bs-callout-danger" style="display:flex;flex-flow: row wrap;">

{% endif %}
{% endblock %}

{% block event_foot %}
</div>
{% endblock %}