{% block event_head %}

    {% if event_class is defined %}

        <div class="{{ event_class }}">

        {% else %}

    <div class="bs-callout bs-callout-danger">

    {% endif %}
{% endblock %}

{% block event_foot %}
     </div>
{% endblock %}