{% block jumbo_head %}
    <div class="jumbotron" style="margin-bottom: 0px; margin-top:22px">
        <div class="container">
            <div class="col-md-12">

{% endblock %}

{% block jumbo_foot %}
            </div>
        </div>
    </div>
{% endblock %}