
{#  This is for the events just before the listing. It includes little x to remove filters (map#) specificially #}

<span style="padding-left:2rem"> <b> Showing: </b>
{% if event=="All" %} All Artists {% endif %}



    {% if event!="All" %}

        <span style="padding-left:10px">

            {% if event_details[event] is defined %}  {# =="1030" or event =="1031" %} #}

                {{ event_details[event]['directory_mini_name'] }}

            {%endif%}




            {% if event=="favorites"%}
                Favorites
            {% endif %}


        <a href="{{ path('artists_directory_list', {'display_type': display_type,  'genre': "All", 'map_number':"All", 'event':"All", 'display_order': display_order }) }}">
                     <span style="font-size:1.3em; padding-left:6px" class="glyphicon glyphicon-remove-sign" aria-hidden="true">
                     </span>
                    </a>

    {% endif %}

    {%  if  map_number != 'All' %}
        <span style="padding-left:10px"> Map # {{ map_number }}
        <a href="{{ path('artists_directory_list', {'display_type': display_type,  'genre': "All", 'map_number':"All", 'event': event, 'display_order': display_order }) }}">
                     <span style="font-size:1.3em; padding-left:6px" class="glyphicon glyphicon-remove-sign" aria-hidden="true">
                     </span>
                    </a>
        </span>
    {% endif %}

</span>
