{% if event=="all" or event=="All" %}
    <b> Showing All Member Artists</b>
    <p> Click artist card/row to visit profile.</p>
{% endif %}

{% if event_details[event] is defined %}  {# =="1030" or event =="1031" %} #}

    {{ event_details[event]['directory_listing_description'] |raw }}

{%endif%}


{% if event=="favorites" %} <h4> ❤️ Your Favorites/ Itinerary </h4>
     <b> Your Favorites</b>
    <p>
      <a class="btn btn-success" href="{{ path('manage_itin') }}"> Manage Your favorites/Itinerary.</a>
    </p>
<p>
   {#  <a class="btn btn-success"
       href="{{ path('artists_directory_list', {'display_type':"grid",  'genre': "All", 'map_number':'All', 'event':'All', 'display_order':'default'  }) }} "> Browse All Artists</a>
       #}
</p>
{%endif%}

{%if itin_artists is defined and event != "favorites" %}
<p>
    {#this should be a path...#}
    <a class="btn btn-success"
       href="{{ path('artists_directory_list', {'display_type':"map",  'genre': "All", 'map_number':'All', 'event':'favorites', 'display_order':'default'  }) }} "> ❤️ &nbsp Favorites: {{itin_artists| length}} </a>
    {% if itin_artists| length ==0 %}
        <br><span style="font-size:0.8em">Add artists to favorites by visiting their  profiles. </span>
    {% endif %}
</p>

{% endif%}


{# rraman: dead code; message from 2021 event...
        {% if event=="1021" %}
            <h4>In Person Event </h4>
            <p> <b>Saturday, May 1 (Rain-date Sunday, May 2) from 12 to 6 pm </b> at various locations in parking lots, porches and driveways.   <a href="https://www.somervilleopenstudios.org/wp-content/uploads/2021/04/SOS21MapLetter.pdf"> PDF Map Available</a>

                and
                <a href="https://www.somervilleopenstudios.org/wp-content/uploads/2021/04/SOS21MapTabloid.jpg"> jpg Map Available</a>
            </p>
        {% endif %}
#}


