{# <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script> #}

<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyBcX6O6spnQHwhY3BHEUaf0WyE_oarj6ho&sensor=true"></script>

<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.ui.map.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.ui.map.overlays.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/markerclusterer.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.timeago.js"></script>



<script type="text/javascript">
    // no way to get paths from a map, so store in global:
    var trolleyPath;

    function filterMarkers(type) {

        //-----------------------------------------------
        // CHECKBOX for showing and hiding.

        // get from the DOM, ignore input parameter.

        var selections = $("input[type=checkbox][name=SOSmapFilter]:checked").map(function () {
            return this.value;
        }).get().join(",");

        type = selections;
        // if none selected..All

        if (selections != 'ARTISTS' && selections != 'TROLLEYS') {
            type = 'ALL';
        }


        var gmapMarkers = $('#map_canvas').gmap('get', 'markers');
        for (var i = 0; i < gmapMarkers.length; i++) {
            // console.log(gmapMarkers[i]);
            if (gmapMarkers[i].icon.url.indexOf('number_') == -1) {
                gmapMarkers[i].setVisible( type == 'TROLLEYS' || type == 'ALL' );
            } else {
                gmapMarkers[i].setVisible( type == 'ARTISTS' || type == 'ALL' );
            }
        }
        $('#map_canvas').gmap('get', 'MarkerClusterer').repaint();
        trolleyPath.setVisible( type == 'TROLLEYS' || type == 'ALL' );
    }

    $(document).ready(function( ) {



        localMapSettings = {{ map_settings_json |raw }}

        var showMapNumbers = localMapSettings.showMapNumber;
        var showSponsors = localMapSettings.showSponsors;
        var showExhibits = localMapSettings.showExhibits;
        var showTrolleyInfoParking = localMapSettings.showTrolley;

        showMapNumbers = 1;
        showSponsors = 0;
        showExhibits = 1;
        showTrolleyInfoParking = 1;
        showTrolleys = 1;



        //var data= {"markers":[{"latitude":"42.384300","longitude":"-71.077034","title":"Trolley One","content":"Trolley One","map_number":"1","color":"blue","map_icon":""},{"latitude":"42.392220","longitude":"-71.137871","title":"Trolley Two","content":"Trolley Two","map_number":"2","color":"blue","map_icon":""},]} ;

        var data= {{ map_json|raw }}

//var startPosition = new google.maps.LatLng( , );

        var iconH=37;
        var iconW=24;

        var updateUri = localMapSettings.ajaxURI || '';

        //------------------------------------------
        // Show trolleys locations with AJAX
        // Get at interval

        if (updateUri && showTrolleys) {
            setInterval(function() {

                console.log("TROLLEY");

                $.getJSON('/web/artists/artist_directory/trolleyajax/', function(data) {
                    var gmapMarkers = $('#map_canvas').gmap('get', 'markers');
                    $.each(data, function(prop, element) {
                        for (var i = 0; i < gmapMarkers.length; i++) {
                            if (gmapMarkers[i].title == prop) {
                                gmapMarkers[i].set('modified', element.modified);
                                gmapMarkers[i].setPosition(new google.maps.LatLng(element.lat, element.lng));
                                break;
                            }
                        }
                    });
                });
            }, 1000 * 15); // update trolley positions every seconds

        } else {




        }

        //---------------------------------------------------------
        // Show My Location Button


        $("#showMyLocation").on('click', function() {
            if (localMapSettings.geolocation && navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {

                    $('#map_canvas').gmap('addMarker', {
                        'icon': {'url' :'/web/web/images/mapicons/you.png',
                            'scaledSize' : {'width':iconW, "height":iconH},
                        },
                        'position': new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                        'bounds': true,
                        'title': 'You Are Here'
                    }).click(function() {
                        $('#map_canvas').gmap('openInfoWindow', { 'content': 'You Are Here' }, this);
                    });

                });

                /*
                            setInterval(function() {
                                navigator.geolocation.getCurrentPosition(function(position) {

                                    var gmapMarkers = $('#map_canvas').gmap('get', 'markers');
                                    for (var i = 0; i < gmapMarkers.length; i++) {
                                        if (gmapMarkers[i].title == 'You Are Here') {
                                            gmapMarkers[i].setPosition(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                                            break;
                                        }
                                    }

                                });

                            }, 1000 * 50); // update your own position every seconds
                        */
            }
//	}

        });

        //------------------------------------------------
        // ARTIST and Trolley Icons

        var lockInitialZoom = localMapSettings.lock_initial_zoom || false;
        var zz= 17;
        $('#map_canvas').gmap({'center': localMapSettings.initial_center , 'zoom': zz, 'maxZoom':18, 'zoomControl': true}).bind('init', function(evt,map) {

            // This URL won't work on your localhost, so you need to change it
            // see http://en.wikipedia.org/wiki/Same_origin_policy


            $.each(data.markers, function (i, marker) {
                var prefix;
                var useCustomIcon = false;

                // figure out the icon

                if (marker.map_icon) {
                    useCustomIcon = true;
                } else if (marker.map_number.match(/[a-z]/i)) {
                    prefix = 'letter_';
                } else {
                    prefix = 'number_';
                }

                var color = marker.color || 'red';

                var iconURL = '';
                var scaledSize = {'width': iconW, "height": iconH};
                if (useCustomIcon) {
                    iconURL = '/web/web/images/mapicons/' + marker.map_icon;
                    scaledSize = null;
                } else if (showMapNumbers) {
                    iconURL = '/web/web/images/mapicons/' + color + '/' + prefix + marker.map_number + '.png';
                } else {
                    iconURL = "/web/web/images/mapicons/red/symbol_almost.png";
                }

                // SHOW MARKERS.  Including Trolley Markers.
                //
                // do not show if modified more than an hour ago

                if ( !this.content.startsWith("Trolley") || (showTrolleys && marker.modified && ((new Date().getTime()) - Date.parse(marker.modified) < 3600000)) ) {
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': iconURL,
                            'scaledSize': scaledSize,
                        },
                        'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                        'bounds': (lockInitialZoom ? false : true),
                        'title': marker.title,
                        'modified': marker.modified || '' // used only for trolleys
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': marker.content + (this.modified ? ('<br/><br/><i>Last Updated: ' + jQuery.timeago(this.modified)) + '</i>' : '')}, this);
                    });
                }

            });


            //----------------------------------------------------------------
            //Sponsor icons

            if (showSponsors) {

                var sponsorData = {
                    "markers": [

                        {
                            "latitude": "42.39871308006", "longitude": "-71.12414933067906",
                            "title": "Dave’s Fresh Pasta",
                            "content": '<b>Dave’s Fresh Pasta </b><br> 81 Holland Street',
                            "color": "orange",
                            "map_icon": "number_1.png"
                        },
                        {
                            "latitude": "42.39514369", "longitude": "-71.12228251",
                            "title": 'Redbones BBQ',
                            "content": '<b>Redbones BBQ</b><br>55 Chester Street',
                            "color": "orange",
                            "map_icon": "number_2.png"
                        },
                        {
                            "latitude": "42.39578022", "longitude": "-71.1220180",
                            "title": 'Diesel Cafe',
                            "content": '<b>Diesel Cafe</b><br>257 Elm Street',
                            "color": "orange",
                            "map_icon": "number_3.png"
                        },
                        {
                            "latitude": "42.394020245", "longitude": "-71.120233302",
                            "title": 'Winter Hill Bank',
                            "content": '<b>Winter Hill Bank</b><br>5 Cutter Avenue',
                            "color": "orange",
                            "map_icon": "number_4.png"

                        },
                        {
                            "latitude": "42.391889139", "longitude": "-71.111868738",
                            "title": 'Three Little Figs',
                            "content": '<b>Three Little Figs</b><br>278 Highland Avenue',
                            "color": "orange",
                            "map_icon": "number_5.png"
                        },
                        {
                            "latitude": "42.384110256", "longitude": "-71.1113533972",
                            "title": 'Forge Bakery & Forge Creamery',
                            "content": '<b>Forge Bakery & Forge Creamery</b><br>626 Somerville Avenue',
                            "color": "orange",
                            "map_icon": "number_6.png"
                        },
                        {
                            "latitude": "42.38289650990", "longitude": "-71.105493203",
                            "title": 'Wagner Floral Designs',
                            "content": '<b>Wagner Floral Designs</b><br>508 Somerville Avenue',
                            "color": "orange",
                            "map_icon": "number_7.png"
                        },
                        {
                            "latitude": "42.393102044", "longitude": "-71.094738484",
                            "title": 'Wagner Floral Designs',
                            "content": '<b>Winter Hill Bank</b><br>342 Broadway',
                            "color": "orange",
                            "map_icon": "number_8.png"
                        },
                        {
                            "latitude": "42.3884628441", "longitude": "-71.09616397",
                            "title": 'Joe the Architect',
                            "content": '<b>Joe the Architect</b><br>343 Medford Street',
                            "color": "orange",
                            "map_icon": "number_9.png"
                        },
                        {
                            "latitude": "42.380784553", "longitude": "-71.0968800061",
                            "title": 'Bloc 11 Cafe',
                            "content": '<b>Bloc 11 Cafe</b><br>11 Bow Street',
                            "color": "orange",
                            "map_icon": "number_10.png"
                        }
                    ]
                };


                $.each(sponsorData.markers, function (i, marker) {
                    console.log("Sponsor" + marker.content);
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': '/web/web/images/mapicons/orange/' + marker.map_icon,
                            'scaledSize': {'width': iconW, "height": iconH},
                        },

                        'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                        'bounds': false,
                        'title': marker.title
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': marker.content}, this);
                    });

                });
            }


            //-------------------------------------------------------------------------
            // exhibit icons


            if (showExhibits) {
                var exhibitData = {
                    "markers": [
                        // this is dumped from the "events_location" mysql table.

                            {"event_location_id":"1","street_address":"1 Westwood Rd.","event_name":"First Look Exhibit","url":"https:\/\/www.somervilleopenstudios.org\/sos-2024-first-look-exhibit\/","name":"Somerville Museum","lat":"42.386997","lng":"-71.104744","map_number":"5","temp_map_number":null,"accessible":"N","year":"2024"},
                            {"event_location_id":"2","street_address":"Davis Square","event_name":"Inside Out Show","url":"https:\/\/www.somervilleopenstudios.org\/sos-2024-inside-out-gallery-show-celebrating-25-years-of-art-in-the-ville\/","name":"Inside-Out Gallery (CVS)","lat":"42.396362","lng":"-71.122612","map_number":"1","temp_map_number":null,"accessible":"N","year":"2024"},
                            {"event_location_id":"3","street_address":"415 Medford Street","event_name":"Community Show","url":"https:\/\/www.somervilleopenstudios.org\/sos-2024-locavore-shows\/","name":"Neighborhood Produce (Ball Square)","lat":"42.399994","lng":"-71.111900","map_number":"2","temp_map_number":null,"accessible":"N","year":"2024"},
                        
                            {"event_location_id":"5","street_address":"79 highland Ave","event_name":"Unbound, Books as Art","url":"https:\/\/www.somervilleopenstudios.org\/sos-2024-locavore-shows\/","name":"Somerville Public Library (Main)","lat":"42.385849","lng":"-71.094406","map_number":"7","temp_map_number":null,"accessible":"N","year":"2024"},
                            {"event_location_id":"6","street_address":"626 somerville Ave","event_name":"Volunteer Show","url":"https:\/\/www.somervilleopenstudios.org\/sos-2024-volunteer-small-works-show\/","name":"Forge Baking Company","lat":"42.383862","lng":"-71.110832","map_number":"3","temp_map_number":null,"accessible":"N","year":"2024"}

                    ]
                };


                $.each(exhibitData.markers, function (i, marker) {
                    // we need the "let" to generate a new string object.  Otherwise the map just takes a pointer to the last one
                    // making them all the same
                    let popup_content = '<b>'+ marker.event_name +'</b> <br>'+marker.street_address +'<br>'+ '<a href="' + marker.url +'" target="_blank"> Details </a>';

                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': '/web/web/images/mapicons/blue/number_E' + marker.map_number +'.png' ,
                            'scaledSize': {'width': iconW, "height": iconH},
                        },

                        'position': new google.maps.LatLng(marker.lat, marker.lng),
                        'bounds': false,
                        'title': marker.event_name
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': popup_content}, this);
                    });

                });
            }

            //set clustering
            if (!updateUri) {

                var clusterStyles = [
                    {
                        textColor: 'white',
                        url: '/web/web/images/mapicons/m1.png',
                        height: 50,
                        width: 50
                    },
                    {
                        textColor: 'white',
                        url: '/web/web/images/mapicons/m1.png',
                        height: 50,
                        width: 50
                    },
                    {
                        textColor: 'white',
                        url: '/web/web/images/mapicons/m1.png',
                        height: 50,
                        width: 50
                    }
                ];

                mcOptions = {gridSize: 10, maxZoom: 13, styles: clusterStyles, ignoreHidden: true};

                $(this).gmap('set', 'MarkerClusterer', new MarkerClusterer(map, $(this).gmap('get', 'markers'), mcOptions));
            }


            //--------------------------------------------------------------
            //Trolley, info-booth, parking icons

            if (showTrolleyInfoParking) {

                var trolleyData = {
                    "markers": [
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_n.png"*/,
                            "content": "A). Joy Street Studios. 86 Joy St.",
                            "longitude": "-71.0868407",
                            "latitude": "42.3784311",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_w.png"*/,
                            "content": "B). Mudflat Pottery. Bus stop at Broadway @ Indiana Ave.",
                            "longitude": "-71.0825035",
                            "latitude": "42.3873985",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_w.png"*/,
                            "content": "C). Mad Oyster Studio. Bus stop at Pearl St. @ Bradley St.",
                            "longitude": "-71.0949033",
                            "latitude": "42.3879362",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_w.png"*/,
                            "content": "D). Vernon Street. Opposite 20 Vernon St.",
                            "longitude": "-71.1023223",
                            "latitude": "42.3915258",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_e.png"*/,
                            "content": "E). The Armory. Highland Ave. Across the street Bus stop before Benton Rd.",
                            "longitude": "-71.1055745",
                            "latitude": "42.3890313",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_s.png"*/,
                            "content": "F). Somerville Museum. Central St. @ Westwood Rd.",
                            "longitude": "-71.1045646",
                            "latitude": "42.3871581",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_w.png"*/,
                            "content": "G). Summer St. @ Lowell St.",
                            "longitude": "-71.1094444",
                            "latitude": "42.3878475",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_n.png"*/,
                            "content": "H). Willow Ave. @ Community Path",
                            "longitude": "-71.1160493",
                            "latitude": "42.3951946",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_s.png"*/,
                            "content": "I). Davis Sq. College Ave. Bus stop opposite T Station.",
                            "longitude": "-71.1221269",
                            "latitude": "42.3969162",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_s.png"*/,
                            "content": "J). Elm St. @ White St.",
                            "longitude": "-71.1172222",
                            "latitude": "42.3898221",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_e.png"*/,
                            "content": "K). Somerville Ave. @ Lowell St.",
                            "longitude": "-71.112054",
                            "latitude": "42.3845795",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_s.png"*/,
                            "content": "L). Dane St. @ Tyler St.",
                            "longitude": "-71.1041291",
                            "latitude": "42.3813169",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_e.png"*/,
                            "content": "M). Washington St. @ Perry St.",
                            "longitude": "-71.1015434",
                            "latitude": "42.3793565",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_e.png"*/,
                            "content": "N). Union Sq. Washington St. Bus stop at Prospect St.",
                            "longitude": "-71.0947221",
                            "latitude": "42.3793151",
                            "title": "Trolley Stop"
                        },
                        {
                            "map_icon": "trolley_stop.png"/*"trolley_icon_n.png"*/,
                            "content": "O). Brickbottom Studios. Very end of Joy St. at Fitchburg St.",
                            "longitude": "-71.0844698",
                            "latitude": "42.3758192",
                            "title": "Trolley Stop"
                        }
                    ]
                };
                var infoData = {
                    "markers": [
                        {
                            "title": "Info Booth",
                            "map_icon": "info.png",
                            "content": "Info Booth Davis Square.  Get info Sat + Sun here",
                            "longitude": "-71.122523",
                            "latitude": "42.396831"
                        }
                    ]
                };
                var parkingData = {
                    "markers": [
                        {
                            "map_icon": "parking.png",
                            "content": "Parking: West Somerville Neighborhood School - Raymond Ave",
                            "longitude": "-71.126819",
                            "latitude": "42.406664",
                            "title": "Parking Lot"
                        },
                        {
                            "map_icon": "parking.png",
                            "content": "Parking: City Hall\/ Somerville High \/ Library - 93 Highland Ave",
                            "longitude": "-71.096805",
                            "latitude": "42.386592",
                            "title": "Parking Lot"
                        },
                        {
                            "map_icon": "parking.png",
                            "content": "Parking: Arthur D. Healey School, 5 Meacham St, Behind School",
                            "longitude": "-71.094887",
                            "latitude": "42.397170",
                            "title": "Parking Lot"
                        }
                    ]
                };

                // rraman: 2022 - no info or parking
                // var overlayData = {markers: trolleyData.markers.concat(infoData.markers, parkingData.markers)};
                var overlayData = {markers: trolleyData.markers};

                $.each(overlayData.markers, function (i, marker) {
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': '/web/web/images/mapicons/' + marker.map_icon,
                            anchor: new google.maps.Point(15, 15)
                        },
                        'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                        'bounds': false,
                        'title': marker.title
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': marker.content}, this);
                    });

                });

                var trolleyCoordinates = [
                    new google.maps.LatLng(42.37837, -71.08679),
                    new google.maps.LatLng(42.37842, -71.08683),
                    new google.maps.LatLng(42.37844, -71.08685),
                    new google.maps.LatLng(42.37857, -71.08692),
                    new google.maps.LatLng(42.37867, -71.08697),
                    new google.maps.LatLng(42.37879, -71.08701),
                    new google.maps.LatLng(42.37895, -71.08708),
                    new google.maps.LatLng(42.37904, -71.08713),
                    new google.maps.LatLng(42.37917, -71.08721),
                    new google.maps.LatLng(42.37919, -71.08722),
                    new google.maps.LatLng(42.37929, -71.08731),
                    new google.maps.LatLng(42.37964, -71.08763),
                    new google.maps.LatLng(42.37973, -71.08771),
                    new google.maps.LatLng(42.37993, -71.08791),
                    new google.maps.LatLng(42.38053, -71.08846),
                    new google.maps.LatLng(42.38067, -71.08858),
                    new google.maps.LatLng(42.38061, -71.08875),
                    new google.maps.LatLng(42.3806, -71.08878),
                    new google.maps.LatLng(42.38059, -71.08888),
                    new google.maps.LatLng(42.38059, -71.08891),
                    new google.maps.LatLng(42.38059, -71.08894),
                    new google.maps.LatLng(42.38044, -71.08936),
                    new google.maps.LatLng(42.38041, -71.08943),
                    new google.maps.LatLng(42.38058, -71.08953),
                    new google.maps.LatLng(42.38076, -71.08964),
                    new google.maps.LatLng(42.38085, -71.08968),
                    new google.maps.LatLng(42.38109, -71.08978),
                    new google.maps.LatLng(42.38135, -71.08987),
                    new google.maps.LatLng(42.38146, -71.0899),
                    new google.maps.LatLng(42.38154, -71.08994),
                    new google.maps.LatLng(42.38159, -71.08996),
                    new google.maps.LatLng(42.38165, -71.08999),
                    new google.maps.LatLng(42.38173, -71.09003),
                    new google.maps.LatLng(42.38179, -71.09006),
                    new google.maps.LatLng(42.38187, -71.09011),
                    new google.maps.LatLng(42.38193, -71.09015),
                    new google.maps.LatLng(42.38204, -71.09023),
                    new google.maps.LatLng(42.38205, -71.09024),
                    new google.maps.LatLng(42.3821, -71.09028),
                    new google.maps.LatLng(42.38218, -71.09034),
                    new google.maps.LatLng(42.38243, -71.09025),
                    new google.maps.LatLng(42.38248, -71.09022),
                    new google.maps.LatLng(42.38269, -71.09012),
                    new google.maps.LatLng(42.38276, -71.09007),
                    new google.maps.LatLng(42.38279, -71.09006),
                    new google.maps.LatLng(42.38282, -71.09004),
                    new google.maps.LatLng(42.38287, -71.09002),
                    new google.maps.LatLng(42.38287, -71.09001),
                    new google.maps.LatLng(42.38303, -71.08993),
                    new google.maps.LatLng(42.38325, -71.08981),
                    new google.maps.LatLng(42.38335, -71.08975),
                    new google.maps.LatLng(42.38352, -71.08964),
                    new google.maps.LatLng(42.38369, -71.08953),
                    new google.maps.LatLng(42.38394, -71.08934),
                    new google.maps.LatLng(42.38422, -71.08909),
                    new google.maps.LatLng(42.3843, -71.08902),
                    new google.maps.LatLng(42.38443, -71.08889),
                    new google.maps.LatLng(42.38446, -71.08886),
                    new google.maps.LatLng(42.38459, -71.08874),
                    new google.maps.LatLng(42.38465, -71.08869),
                    new google.maps.LatLng(42.38484, -71.08852),
                    new google.maps.LatLng(42.38501, -71.08837),
                    new google.maps.LatLng(42.38516, -71.08824),
                    new google.maps.LatLng(42.38526, -71.08815),
                    new google.maps.LatLng(42.3854, -71.08804),
                    new google.maps.LatLng(42.3857, -71.08783),
                    new google.maps.LatLng(42.38567, -71.08773),
                    new google.maps.LatLng(42.38559, -71.08748),
                    new google.maps.LatLng(42.38558, -71.08745),
                    new google.maps.LatLng(42.38544, -71.08702),
                    new google.maps.LatLng(42.38542, -71.08694),
                    new google.maps.LatLng(42.38536, -71.08675),
                    new google.maps.LatLng(42.38515, -71.08607),
                    new google.maps.LatLng(42.38494, -71.0854),
                    new google.maps.LatLng(42.38461, -71.08434),
                    new google.maps.LatLng(42.38456, -71.08419),
                    new google.maps.LatLng(42.38531, -71.08367),
                    new google.maps.LatLng(42.38568, -71.08339),
                    new google.maps.LatLng(42.38623, -71.083),
                    new google.maps.LatLng(42.38705, -71.08245),
                    new google.maps.LatLng(42.38719, -71.08236),
                    new google.maps.LatLng(42.38727, -71.0823),
                    new google.maps.LatLng(42.38739, -71.08269),
                    new google.maps.LatLng(42.38762, -71.08335),
                    new google.maps.LatLng(42.38774, -71.08371),
                    new google.maps.LatLng(42.38776, -71.08374),
                    new google.maps.LatLng(42.38786, -71.08404),
                    new google.maps.LatLng(42.38815, -71.08469),
                    new google.maps.LatLng(42.3883, -71.08499),
                    new google.maps.LatLng(42.38846, -71.08532),
                    new google.maps.LatLng(42.38856, -71.08553),
                    new google.maps.LatLng(42.38874, -71.08594),
                    new google.maps.LatLng(42.38879, -71.08606),
                    new google.maps.LatLng(42.38883, -71.08615),
                    new google.maps.LatLng(42.38887, -71.08624),
                    new google.maps.LatLng(42.38891, -71.08633),
                    new google.maps.LatLng(42.38907, -71.08667),
                    new google.maps.LatLng(42.3892, -71.08693),
                    new google.maps.LatLng(42.3893, -71.08716),
                    new google.maps.LatLng(42.38941, -71.08741),
                    new google.maps.LatLng(42.38946, -71.08752),
                    new google.maps.LatLng(42.38956, -71.08773),
                    new google.maps.LatLng(42.38973, -71.08808),
                    new google.maps.LatLng(42.38982, -71.08825),
                    new google.maps.LatLng(42.3897, -71.08838),
                    new google.maps.LatLng(42.38955, -71.08853),
                    new google.maps.LatLng(42.38927, -71.08883),
                    new google.maps.LatLng(42.38902, -71.08908),
                    new google.maps.LatLng(42.38885, -71.08924),
                    new google.maps.LatLng(42.38883, -71.08926),
                    new google.maps.LatLng(42.38856, -71.08948),
                    new google.maps.LatLng(42.3882, -71.08972),
                    new google.maps.LatLng(42.3878, -71.08996),
                    new google.maps.LatLng(42.38727, -71.09028),
                    new google.maps.LatLng(42.38695, -71.09045),
                    new google.maps.LatLng(42.3869, -71.09047),
                    new google.maps.LatLng(42.38656, -71.09063),
                    new google.maps.LatLng(42.3866, -71.09074),
                    new google.maps.LatLng(42.38661, -71.09078),
                    new google.maps.LatLng(42.38662, -71.09083),
                    new google.maps.LatLng(42.38663, -71.09088),
                    new google.maps.LatLng(42.38681, -71.09141),
                    new google.maps.LatLng(42.38699, -71.092),
                    new google.maps.LatLng(42.38704, -71.09219),
                    new google.maps.LatLng(42.38714, -71.09248),
                    new google.maps.LatLng(42.38735, -71.09317),
                    new google.maps.LatLng(42.38754, -71.09375),
                    new google.maps.LatLng(42.38762, -71.094),
                    new google.maps.LatLng(42.3878, -71.09459),
                    new google.maps.LatLng(42.38785, -71.09476),
                    new google.maps.LatLng(42.38805, -71.0954),
                    new google.maps.LatLng(42.38814, -71.0957),
                    new google.maps.LatLng(42.38815, -71.09574),
                    new google.maps.LatLng(42.38821, -71.0959),
                    new google.maps.LatLng(42.38823, -71.096),
                    new google.maps.LatLng(42.38825, -71.09609),
                    new google.maps.LatLng(42.3883, -71.0963),
                    new google.maps.LatLng(42.3888, -71.09682),
                    new google.maps.LatLng(42.38884, -71.09686),
                    new google.maps.LatLng(42.38913, -71.09716),
                    new google.maps.LatLng(42.38942, -71.09745),
                    new google.maps.LatLng(42.38948, -71.09751),
                    new google.maps.LatLng(42.38984, -71.09787),
                    new google.maps.LatLng(42.38995, -71.09798),
                    new google.maps.LatLng(42.39044, -71.09849),
                    new google.maps.LatLng(42.39088, -71.09895),
                    new google.maps.LatLng(42.39133, -71.0994),
                    new google.maps.LatLng(42.39191, -71.1),
                    new google.maps.LatLng(42.39227, -71.10037),
                    new google.maps.LatLng(42.39249, -71.10059),
                    new google.maps.LatLng(42.39194, -71.10095),
                    new google.maps.LatLng(42.39146, -71.10129),
                    new google.maps.LatLng(42.39128, -71.10142),
                    new google.maps.LatLng(42.39115, -71.10151),
                    new google.maps.LatLng(42.39117, -71.1016),
                    new google.maps.LatLng(42.39117, -71.10162),
                    new google.maps.LatLng(42.39118, -71.10164),
                    new google.maps.LatLng(42.3912, -71.10169),
                    new google.maps.LatLng(42.39131, -71.10193),
                    new google.maps.LatLng(42.39133, -71.10199),
                    new google.maps.LatLng(42.39139, -71.1021),
                    new google.maps.LatLng(42.39167, -71.10268),
                    new google.maps.LatLng(42.392, -71.10336),
                    new google.maps.LatLng(42.39213, -71.1036),
                    new google.maps.LatLng(42.39216, -71.10365),
                    new google.maps.LatLng(42.39219, -71.10371),
                    new google.maps.LatLng(42.39236, -71.10397),
                    new google.maps.LatLng(42.3927, -71.10448),
                    new google.maps.LatLng(42.39308, -71.10503),
                    new google.maps.LatLng(42.39333, -71.10539),
                    new google.maps.LatLng(42.39352, -71.10567),
                    new google.maps.LatLng(42.39329, -71.10583),
                    new google.maps.LatLng(42.39308, -71.10597),
                    new google.maps.LatLng(42.39302, -71.10602),
                    new google.maps.LatLng(42.39295, -71.10606),
                    new google.maps.LatLng(42.39282, -71.10614),
                    new google.maps.LatLng(42.39276, -71.10619),
                    new google.maps.LatLng(42.3927, -71.10623),
                    new google.maps.LatLng(42.39264, -71.10627),
                    new google.maps.LatLng(42.39245, -71.10639),
                    new google.maps.LatLng(42.3924, -71.10644),
                    new google.maps.LatLng(42.39226, -71.10653),
                    new google.maps.LatLng(42.39208, -71.10666),
                    new google.maps.LatLng(42.3919, -71.10678),
                    new google.maps.LatLng(42.39139, -71.10714),
                    new google.maps.LatLng(42.39134, -71.10717),
                    new google.maps.LatLng(42.3913, -71.1072),
                    new google.maps.LatLng(42.39123, -71.10725),
                    new google.maps.LatLng(42.39081, -71.10754),
                    new google.maps.LatLng(42.39077, -71.10757),
                    new google.maps.LatLng(42.39067, -71.10763),
                    new google.maps.LatLng(42.39036, -71.10784),
                    new google.maps.LatLng(42.3902, -71.10795),
                    new google.maps.LatLng(42.3899, -71.10728),
                    new google.maps.LatLng(42.38968, -71.1068),
                    new google.maps.LatLng(42.38952, -71.10645),
                    new google.maps.LatLng(42.38942, -71.10621),
                    new google.maps.LatLng(42.38931, -71.10597),
                    new google.maps.LatLng(42.38925, -71.10582),
                    new google.maps.LatLng(42.38923, -71.10576),
                    new google.maps.LatLng(42.38918, -71.10565),
                    new google.maps.LatLng(42.38914, -71.10553),
                    new google.maps.LatLng(42.38903, -71.10523),
                    new google.maps.LatLng(42.38871, -71.10429),
                    new google.maps.LatLng(42.38842, -71.10344),
                    new google.maps.LatLng(42.38818, -71.1036),
                    new google.maps.LatLng(42.38816, -71.10361),
                    new google.maps.LatLng(42.38787, -71.10381),
                    new google.maps.LatLng(42.38781, -71.10385),
                    new google.maps.LatLng(42.38768, -71.10395),
                    new google.maps.LatLng(42.38749, -71.10408),
                    new google.maps.LatLng(42.38735, -71.10417),
                    new google.maps.LatLng(42.38716, -71.1043),
                    new google.maps.LatLng(42.38714, -71.10432),
                    new google.maps.LatLng(42.38681, -71.10455),
                    new google.maps.LatLng(42.38677, -71.10458),
                    new google.maps.LatLng(42.38673, -71.10461),
                    new google.maps.LatLng(42.38671, -71.10463),
                    new google.maps.LatLng(42.38662, -71.1047),
                    new google.maps.LatLng(42.38657, -71.10472),
                    new google.maps.LatLng(42.38649, -71.10477),
                    new google.maps.LatLng(42.38631, -71.1049),
                    new google.maps.LatLng(42.38618, -71.105),
                    new google.maps.LatLng(42.38603, -71.10509),
                    new google.maps.LatLng(42.38634, -71.10597),
                    new google.maps.LatLng(42.38649, -71.10644),
                    new google.maps.LatLng(42.38656, -71.10664),
                    new google.maps.LatLng(42.38659, -71.10672),
                    new google.maps.LatLng(42.38662, -71.1068),
                    new google.maps.LatLng(42.38664, -71.10686),
                    new google.maps.LatLng(42.38685, -71.10748),
                    new google.maps.LatLng(42.38694, -71.10774),
                    new google.maps.LatLng(42.38701, -71.10793),
                    new google.maps.LatLng(42.38705, -71.10806),
                    new google.maps.LatLng(42.3871, -71.1082),
                    new google.maps.LatLng(42.38713, -71.1083),
                    new google.maps.LatLng(42.38715, -71.10835),
                    new google.maps.LatLng(42.38717, -71.10839),
                    new google.maps.LatLng(42.38719, -71.10843),
                    new google.maps.LatLng(42.38722, -71.1085),
                    new google.maps.LatLng(42.38725, -71.10856),
                    new google.maps.LatLng(42.38728, -71.10862),
                    new google.maps.LatLng(42.38747, -71.10898),
                    new google.maps.LatLng(42.38752, -71.10906),
                    new google.maps.LatLng(42.38759, -71.1092),
                    new google.maps.LatLng(42.38782, -71.10964),
                    new google.maps.LatLng(42.38788, -71.10975),
                    new google.maps.LatLng(42.38798, -71.10992),
                    new google.maps.LatLng(42.38812, -71.11013),
                    new google.maps.LatLng(42.38816, -71.1102),
                    new google.maps.LatLng(42.38843, -71.11062),
                    new google.maps.LatLng(42.38874, -71.1111),
                    new google.maps.LatLng(42.38913, -71.11168),
                    new google.maps.LatLng(42.38982, -71.11268),
                    new google.maps.LatLng(42.39046, -71.11358),
                    new google.maps.LatLng(42.3905, -71.11364),
                    new google.maps.LatLng(42.39053, -71.11369),
                    new google.maps.LatLng(42.39088, -71.1142),
                    new google.maps.LatLng(42.3914, -71.11494),
                    new google.maps.LatLng(42.39143, -71.11498),
                    new google.maps.LatLng(42.39147, -71.11506),
                    new google.maps.LatLng(42.39163, -71.11535),
                    new google.maps.LatLng(42.39181, -71.11569),
                    new google.maps.LatLng(42.39184, -71.11574),
                    new google.maps.LatLng(42.39189, -71.11582),
                    new google.maps.LatLng(42.39216, -71.11633),
                    new google.maps.LatLng(42.39251, -71.11696),
                    new google.maps.LatLng(42.39263, -71.1172),
                    new google.maps.LatLng(42.39285, -71.11759),
                    new google.maps.LatLng(42.3929, -71.11768),
                    new google.maps.LatLng(42.39294, -71.11764),
                    new google.maps.LatLng(42.39323, -71.11742),
                    new google.maps.LatLng(42.39359, -71.11719),
                    new google.maps.LatLng(42.39411, -71.11681),
                    new google.maps.LatLng(42.39463, -71.11647),
                    new google.maps.LatLng(42.39485, -71.11631),
                    new google.maps.LatLng(42.39525, -71.11604),
                    new google.maps.LatLng(42.39525, -71.11603),
                    new google.maps.LatLng(42.39526, -71.11603),
                    new google.maps.LatLng(42.39564, -71.11576),
                    new google.maps.LatLng(42.39569, -71.11572),
                    new google.maps.LatLng(42.39572, -71.11578),
                    new google.maps.LatLng(42.39574, -71.11582),
                    new google.maps.LatLng(42.39606, -71.11663),
                    new google.maps.LatLng(42.39642, -71.11753),
                    new google.maps.LatLng(42.39661, -71.11801),
                    new google.maps.LatLng(42.39684, -71.11859),
                    new google.maps.LatLng(42.39721, -71.11955),
                    new google.maps.LatLng(42.39746, -71.12016),
                    new google.maps.LatLng(42.39784, -71.12113),
                    new google.maps.LatLng(42.39794, -71.12143),
                    new google.maps.LatLng(42.39756, -71.12165),
                    new google.maps.LatLng(42.39749, -71.1217),
                    new google.maps.LatLng(42.39704, -71.12196),
                    new google.maps.LatLng(42.39685, -71.12207),
                    new google.maps.LatLng(42.39683, -71.12208),
                    new google.maps.LatLng(42.3968, -71.12211),
                    new google.maps.LatLng(42.3967, -71.12215),
                    new google.maps.LatLng(42.39648, -71.12229),
                    new google.maps.LatLng(42.39644, -71.12232),
                    new google.maps.LatLng(42.39642, -71.12234),
                    new google.maps.LatLng(42.39625, -71.1224),
                    new google.maps.LatLng(42.39604, -71.12229),
                    new google.maps.LatLng(42.39591, -71.12222),
                    new google.maps.LatLng(42.39586, -71.12219),
                    new google.maps.LatLng(42.39562, -71.12205),
                    new google.maps.LatLng(42.39533, -71.12187),
                    new google.maps.LatLng(42.39483, -71.12152),
                    new google.maps.LatLng(42.39475, -71.12146),
                    new google.maps.LatLng(42.3946, -71.12137),
                    new google.maps.LatLng(42.39445, -71.12129),
                    new google.maps.LatLng(42.39433, -71.12121),
                    new google.maps.LatLng(42.3943, -71.12119),
                    new google.maps.LatLng(42.39422, -71.12114),
                    new google.maps.LatLng(42.39412, -71.12108),
                    new google.maps.LatLng(42.39407, -71.12105),
                    new google.maps.LatLng(42.394, -71.12099),
                    new google.maps.LatLng(42.39382, -71.12089),
                    new google.maps.LatLng(42.39317, -71.12049),
                    new google.maps.LatLng(42.39284, -71.12027),
                    new google.maps.LatLng(42.39277, -71.12021),
                    new google.maps.LatLng(42.39234, -71.11981),
                    new google.maps.LatLng(42.39188, -71.11938),
                    new google.maps.LatLng(42.39158, -71.11907),
                    new google.maps.LatLng(42.39149, -71.11896),
                    new google.maps.LatLng(42.39141, -71.11887),
                    new google.maps.LatLng(42.39133, -71.11879),
                    new google.maps.LatLng(42.39092, -71.11832),
                    new google.maps.LatLng(42.39057, -71.11796),
                    new google.maps.LatLng(42.39027, -71.11765),
                    new google.maps.LatLng(42.39009, -71.11746),
                    new google.maps.LatLng(42.3898, -71.11715),
                    new google.maps.LatLng(42.38974, -71.1171),
                    new google.maps.LatLng(42.38963, -71.11699),
                    new google.maps.LatLng(42.38936, -71.11673),
                    new google.maps.LatLng(42.38923, -71.11661),
                    new google.maps.LatLng(42.38903, -71.11642),
                    new google.maps.LatLng(42.3888, -71.1162),
                    new google.maps.LatLng(42.38835, -71.11579),
                    new google.maps.LatLng(42.38796, -71.11542),
                    new google.maps.LatLng(42.38767, -71.11517),
                    new google.maps.LatLng(42.38754, -71.11506),
                    new google.maps.LatLng(42.38706, -71.11465),
                    new google.maps.LatLng(42.38638, -71.11406),
                    new google.maps.LatLng(42.38619, -71.11389),
                    new google.maps.LatLng(42.38609, -71.11381),
                    new google.maps.LatLng(42.38586, -71.11361),
                    new google.maps.LatLng(42.38578, -71.11353),
                    new google.maps.LatLng(42.38574, -71.11351),
                    new google.maps.LatLng(42.3857, -71.1135),
                    new google.maps.LatLng(42.38565, -71.1135),
                    new google.maps.LatLng(42.38559, -71.11354),
                    new google.maps.LatLng(42.3855, -71.1136),
                    new google.maps.LatLng(42.38536, -71.11334),
                    new google.maps.LatLng(42.38524, -71.1131),
                    new google.maps.LatLng(42.3852, -71.11301),
                    new google.maps.LatLng(42.38517, -71.11293),
                    new google.maps.LatLng(42.38484, -71.11238),
                    new google.maps.LatLng(42.38459, -71.11188),
                    new google.maps.LatLng(42.38456, -71.1118),
                    new google.maps.LatLng(42.38454, -71.11175),
                    new google.maps.LatLng(42.38433, -71.1112),
                    new google.maps.LatLng(42.38426, -71.11099),
                    new google.maps.LatLng(42.3842, -71.1108),
                    new google.maps.LatLng(42.38418, -71.11072),
                    new google.maps.LatLng(42.38413, -71.1105),
                    new google.maps.LatLng(42.3841, -71.11039),
                    new google.maps.LatLng(42.38405, -71.11016),
                    new google.maps.LatLng(42.38395, -71.10971),
                    new google.maps.LatLng(42.3839, -71.10948),
                    new google.maps.LatLng(42.38381, -71.10907),
                    new google.maps.LatLng(42.3838, -71.10904),
                    new google.maps.LatLng(42.38375, -71.10877),
                    new google.maps.LatLng(42.38364, -71.10829),
                    new google.maps.LatLng(42.38357, -71.10798),
                    new google.maps.LatLng(42.38353, -71.10781),
                    new google.maps.LatLng(42.38333, -71.10691),
                    new google.maps.LatLng(42.38332, -71.10683),
                    new google.maps.LatLng(42.38322, -71.10641),
                    new google.maps.LatLng(42.3832, -71.10631),
                    new google.maps.LatLng(42.38307, -71.10576),
                    new google.maps.LatLng(42.383, -71.10543),
                    new google.maps.LatLng(42.38293, -71.10509),
                    new google.maps.LatLng(42.38281, -71.10456),
                    new google.maps.LatLng(42.38276, -71.10438),
                    new google.maps.LatLng(42.3827, -71.10415),
                    new google.maps.LatLng(42.38262, -71.1039),
                    new google.maps.LatLng(42.38244, -71.10341),
                    new google.maps.LatLng(42.38237, -71.10346),
                    new google.maps.LatLng(42.38219, -71.10356),
                    new google.maps.LatLng(42.38207, -71.10364),
                    new google.maps.LatLng(42.38197, -71.1037),
                    new google.maps.LatLng(42.38193, -71.10372),
                    new google.maps.LatLng(42.38191, -71.10374),
                    new google.maps.LatLng(42.38188, -71.10375),
                    new google.maps.LatLng(42.38158, -71.10394),
                    new google.maps.LatLng(42.3815, -71.10398),
                    new google.maps.LatLng(42.38145, -71.10401),
                    new google.maps.LatLng(42.38115, -71.10419),
                    new google.maps.LatLng(42.38112, -71.1042),
                    new google.maps.LatLng(42.38102, -71.10427),
                    new google.maps.LatLng(42.38096, -71.1043),
                    new google.maps.LatLng(42.38091, -71.10433),
                    new google.maps.LatLng(42.38086, -71.10436),
                    new google.maps.LatLng(42.38048, -71.10459),
                    new google.maps.LatLng(42.38046, -71.1046),
                    new google.maps.LatLng(42.38042, -71.10461),
                    new google.maps.LatLng(42.38041, -71.10461),
                    new google.maps.LatLng(42.38039, -71.10461),
                    new google.maps.LatLng(42.38038, -71.10461),
                    new google.maps.LatLng(42.38037, -71.1046),
                    new google.maps.LatLng(42.38014, -71.10452),
                    new google.maps.LatLng(42.38009, -71.10451),
                    new google.maps.LatLng(42.3799, -71.10444),
                    new google.maps.LatLng(42.37971, -71.10437),
                    new google.maps.LatLng(42.37955, -71.10431),
                    new google.maps.LatLng(42.37953, -71.1043),
                    new google.maps.LatLng(42.37884, -71.10405),
                    new google.maps.LatLng(42.37886, -71.10394),
                    new google.maps.LatLng(42.37895, -71.10361),
                    new google.maps.LatLng(42.37898, -71.10347),
                    new google.maps.LatLng(42.37899, -71.10344),
                    new google.maps.LatLng(42.379, -71.10341),
                    new google.maps.LatLng(42.37903, -71.10329),
                    new google.maps.LatLng(42.37917, -71.10281),
                    new google.maps.LatLng(42.37921, -71.10266),
                    new google.maps.LatLng(42.37924, -71.10249),
                    new google.maps.LatLng(42.37927, -71.10234),
                    new google.maps.LatLng(42.37929, -71.10225),
                    new google.maps.LatLng(42.3793, -71.10214),
                    new google.maps.LatLng(42.37942, -71.10144),
                    new google.maps.LatLng(42.37943, -71.10125),
                    new google.maps.LatLng(42.37943, -71.10109),
                    new google.maps.LatLng(42.37944, -71.10104),
                    new google.maps.LatLng(42.37944, -71.10095),
                    new google.maps.LatLng(42.37944, -71.1008),
                    new google.maps.LatLng(42.37943, -71.10064),
                    new google.maps.LatLng(42.37942, -71.10052),
                    new google.maps.LatLng(42.37941, -71.10043),
                    new google.maps.LatLng(42.3794, -71.10035),
                    new google.maps.LatLng(42.37937, -71.10015),
                    new google.maps.LatLng(42.37935, -71.10007),
                    new google.maps.LatLng(42.37934, -71.09999),
                    new google.maps.LatLng(42.37933, -71.09984),
                    new google.maps.LatLng(42.37932, -71.09969),
                    new google.maps.LatLng(42.37932, -71.09953),
                    new google.maps.LatLng(42.37932, -71.09949),
                    new google.maps.LatLng(42.37933, -71.09936),
                    new google.maps.LatLng(42.37936, -71.09912),
                    new google.maps.LatLng(42.37939, -71.09886),
                    new google.maps.LatLng(42.37942, -71.09862),
                    new google.maps.LatLng(42.37942, -71.0986),
                    new google.maps.LatLng(42.37944, -71.09838),
                    new google.maps.LatLng(42.37949, -71.09799),
                    new google.maps.LatLng(42.37951, -71.09769),
                    new google.maps.LatLng(42.37954, -71.09727),
                    new google.maps.LatLng(42.37956, -71.0971),
                    new google.maps.LatLng(42.37958, -71.09697),
                    new google.maps.LatLng(42.37959, -71.09683),
                    new google.maps.LatLng(42.37963, -71.09645),
                    new google.maps.LatLng(42.37965, -71.0963),
                    new google.maps.LatLng(42.37967, -71.09603),
                    new google.maps.LatLng(42.37967, -71.09575),
                    new google.maps.LatLng(42.37966, -71.0957),
                    new google.maps.LatLng(42.37966, -71.09566),
                    new google.maps.LatLng(42.37965, -71.09561),
                    new google.maps.LatLng(42.3796, -71.0955),
                    new google.maps.LatLng(42.37956, -71.09538),
                    new google.maps.LatLng(42.37952, -71.09527),
                    new google.maps.LatLng(42.3793, -71.09467),
                    new google.maps.LatLng(42.37918, -71.09434),
                    new google.maps.LatLng(42.37909, -71.09412),
                    new google.maps.LatLng(42.37887, -71.09348),
                    new google.maps.LatLng(42.37873, -71.0931),
                    new google.maps.LatLng(42.37871, -71.09304),
                    new google.maps.LatLng(42.37865, -71.09289),
                    new google.maps.LatLng(42.37854, -71.09259),
                    new google.maps.LatLng(42.3783, -71.0919),
                    new google.maps.LatLng(42.37827, -71.09182),
                    new google.maps.LatLng(42.37798, -71.091),
                    new google.maps.LatLng(42.37784, -71.09063),
                    new google.maps.LatLng(42.37768, -71.09019),
                    new google.maps.LatLng(42.37763, -71.09004),
                    new google.maps.LatLng(42.37751, -71.08977),
                    new google.maps.LatLng(42.37725, -71.08922),
                    new google.maps.LatLng(42.37717, -71.08906),
                    new google.maps.LatLng(42.37709, -71.08889),
                    new google.maps.LatLng(42.37693, -71.08859),
                    new google.maps.LatLng(42.37683, -71.08838),
                    new google.maps.LatLng(42.37679, -71.08836),
                    new google.maps.LatLng(42.37675, -71.08833),
                    new google.maps.LatLng(42.37671, -71.08827),
                    new google.maps.LatLng(42.37668, -71.08821),
                    new google.maps.LatLng(42.37666, -71.08817),
                    new google.maps.LatLng(42.37631, -71.08743),
                    new google.maps.LatLng(42.37627, -71.08735),
                    new google.maps.LatLng(42.37623, -71.08727),
                    new google.maps.LatLng(42.37622, -71.08725),
                    new google.maps.LatLng(42.37616, -71.08713),
                    new google.maps.LatLng(42.37608, -71.08699),
                    new google.maps.LatLng(42.37607, -71.08698),
                    new google.maps.LatLng(42.37599, -71.08687),
                    new google.maps.LatLng(42.37595, -71.08682),
                    new google.maps.LatLng(42.37589, -71.08676),
                    new google.maps.LatLng(42.37578, -71.08663),
                    new google.maps.LatLng(42.37576, -71.08661),
                    new google.maps.LatLng(42.37574, -71.08659),
                    new google.maps.LatLng(42.3757, -71.08653),
                    new google.maps.LatLng(42.37568, -71.08649),
                    new google.maps.LatLng(42.37565, -71.08644),
                    new google.maps.LatLng(42.37565, -71.08642),
                    new google.maps.LatLng(42.37564, -71.0864),
                    new google.maps.LatLng(42.37563, -71.08638),
                    new google.maps.LatLng(42.3756, -71.08603),
                    new google.maps.LatLng(42.37558, -71.08575),
                    new google.maps.LatLng(42.37558, -71.08574),
                    new google.maps.LatLng(42.37559, -71.08569),
                    new google.maps.LatLng(42.37559, -71.08568),
                    new google.maps.LatLng(42.37559, -71.08565),
                    new google.maps.LatLng(42.37561, -71.08556),
                    new google.maps.LatLng(42.37566, -71.08538),
                    new google.maps.LatLng(42.37562, -71.08532),
                    new google.maps.LatLng(42.37559, -71.08529),
                    new google.maps.LatLng(42.37557, -71.08526),
                    new google.maps.LatLng(42.37556, -71.08525),
                    new google.maps.LatLng(42.37555, -71.08523),
                    new google.maps.LatLng(42.37555, -71.08521),
                    new google.maps.LatLng(42.37555, -71.08519),
                    new google.maps.LatLng(42.37555, -71.08516),
                    new google.maps.LatLng(42.37556, -71.08514),
                    new google.maps.LatLng(42.37558, -71.08507),
                    new google.maps.LatLng(42.37586, -71.08444),
                    new google.maps.LatLng(42.37788, -71.08633),
                    new google.maps.LatLng(42.37813, -71.08659),
                    new google.maps.LatLng(42.37823, -71.08667),
                    new google.maps.LatLng(42.37831, -71.08674),
                    new google.maps.LatLng(42.3784, -71.08681)
                ];


                trolleyPath = new google.maps.Polyline({
                    path: trolleyCoordinates,
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.5,
                    strokeWeight: 2,
                    icons: [{
                        icon: {path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW},
                        offset: "100%",
                        repeat: "50px"
                    }]
                });
                trolleyPath.setMap(map);
            }
        });

        {% if app.request.get('mapFilter') %}
        $($('#map_canvas').gmap('get', 'map')).addEventListener('tilesloaded', function() {
            filterMarkers("{{app.request.get('mapFilter')|escape('js')}}");
        });
        {% endif %}

    });// document ready

</script>


<script type='text/javascript'>

    $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
        });
    });

</script>
