
<!-- Fixed navbar -->

<style>
    .centerv {
        display: flex;
        justify-content: center;
        align-items: center;
        height:130px;
    }

    @media (min-width: 768px){
        .navbar-nav{
            float:none;
            margin: 0 auto;
            display: table;
            table-layout: fixed;
        }
    }

</style>

<nav class="navbar navbar-default navbar-fixed-top nav navbar-inverse" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header" style="height: 100px ; margin:auto">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="centerv">
                <a href="/" title="SOS Homepage" >
                    <img style=" height: 55px;  width: auto; margin-bottom:17px" src="/web/images/sos_logo_2021.png" alt="logo" >

                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav" style="font-size: 16px;  padding-top:30px; padding-left:30px; font-family: 'open sans'; font-size:16p"x>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="color:red;">
                        <li></li>
                        <li> <a  style="color:#BDBDBD;" href="/visit">Event info</a>  </li>


                        <li > <a style="color:Green;" href="/web/artists/artist_directory_list/display=grid/medium=All/event=All/map_num=All/display_order=random"> Artist directory </a></li>



                        <li > <a style="color:#BDBDBD;" href="/volunteer-for-somerville-open-studios//"> Volunteer  </a></li>
                        <li > <a style="color:#BDBDBD;" href="/support-somerville-open-studios/"> Support  </a></li>

                        <li > <a style="color:#BDBDBD;" href="/about"> About  </a></li>


                        <li > <a style="color:#BDBDBD;" href="/for-artists"> For artists</a></li>

                        {% if  app.username  is defined and app.username  is not null  %}
                            <li> <a href="{{ path('artists.my_profile') }}"> My Profile <br> ({{app.username}})</a></li>
                        {% else %}
                            <li><a style="color:#BDBDBD;" href="{{ path('login') }}"> Login </a></li>
                        {% endif %}

                        <li>


                        </li>
                    </ul>

                </div><!--/.nav-collapse -->
            </ul>


        </div>
    </div>
</nav>
