
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top nav navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <span class="sr-only">Toggle navigation</span>
                Menu
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" title="SOS Homepage" style="padding:0px; display:flex">
                <img style=" height: 50px;  padding: 2px; margin:10px;  width: auto;" src="/web/images/2021_Logo_fin.gif" alt="logo" height="50px">
                <span style="padding-top:10px; color: darkorange">  <b>  <br>  </b> </span>
            </a>


        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">

                        <li> &nbsp</li>
                        <li> <a href="{{ path('join_homepage') }}"> Registration Home</a>  </li>

                    </ul>


                </div><!--/.nav-collapse -->
            </ul>
        </div>
    </div>
</nav>
