<!-- Fixed navbar -->

<style>


    @media (min-width: 640px){
        .navbar-nav{
            float:none;
            margin: 0 auto;
            display: table;
            table-layout: fixed;
        }
    }

</style>


<nav class="navbar navbar-default navbar-fixed-top nav navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" title="SOS Homepage" style="padding:0px; display:flex">
                <img style=" height: 50px;  margin-top: 4px; margin-bottom: 2px;  width: auto;" src="/web/web/images/sos_logo_2021.png"
                     alt="logo" height="50px">


            </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="font-size: 15px;  padding-top:10px; padding-left:5px; font-family: 'open sans'; font-size:15px">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">

                        <li>

                        </li>
                        <li> <a  style="color:#BDBDBD;" href="/visit">Event info</a>  </li>


                        <li > <a style="color:Green;" href="/web/artists/artist_directory_list/display=grid/medium=All/event=All/map_num=All/display_order=random"> Artist directory </a></li>



                        <li > <a style="color:#BDBDBD;" href="/volunteer-for-somerville-open-studios/"> Volunteer  </a></li>
                        <li > <a style="color:#BDBDBD;" href="/support-somerville-open-studios/"> Support  </a></li>

                        <li > <a style="color:#BDBDBD;" href="/about"> About  </a></li>


                        <li > <a style="color:#BDBDBD;" href="/for-artists"> For artists</a></li>

                        {% if  app.username  is defined and app.username  is not null  %}
                            <li> <a href="{{ path('artists.my_profile') }}"> My Profile <br> ({{app.username}})</a></li>
                        {% else %}
                            <li><a style="color:#BDBDBD;" href="{{ path('login') }}"> Login </a></li>
                        {% endif %}


                    </ul>

                </div><!--/.nav-collapse -->
            </ul>
        </div>
    </div>
</nav>
