<div class="panel-body">
    <p>

        <a style="margin:5px" class="btn btn-primary"
           href="https://somervilleopenstudios.slack.com/"> # Slack</a>

        <a style="margin:5px" class="btn btn-primary"
           href="https://www.facebook.com/SomervilleOpenStudios" target="_blank">
            <img src="{{ app.request.basepath }}/web/images/social_media_icons/facebook-genericon.png" width="20px"/>
            Facebook
        </a>
        {#
        <a style="margin:5px" class="btn btn-primary" href="https://twitter.com/SomervilleOS"
           target="_blank">
            <img src="{{ app.request.basepath }}/web/images/social_media_icons/twitter-genericon.png" width="20px"/>
            Twitter
        </a>
        <a style="margin:5px" class="btn btn-primary" href="http://somervilleopenstudios.tumblr.com/"
           target="_blank">
            <img src="{{ app.request.basepath }}/web/images/social_media_icons/tumblr-genericon.png" width="20px"/>
            Tumblr
        </a>
        #}
        <a style="margin:5px" class="btn btn-primary" href="http://instagram.com/somervilleopenstudios"
           target="_blank">
            <img src="{{ app.request.basepath }}/web/images/social_media_icons/instagram-genericon.png" width="20px"/>
            Instagram
        </a>{#
        <a style="margin:5px" class="btn btn-primary"
           href="http://www.pinterest.com/somervilleos/somerville-open-studios-2014/" target="_blank">
            <img src="{{ app.request.basepath }}/web/images/social_media_icons/pintrest-genericon.png" width="20px"/>
            Pinterest
        </a>
        #}
        <a style="margin:5px" class="btn btn-primary"
           href="https://www.flickr.com/groups/somervilleopenstudios/pool/" target="_blank">
            <img src="{{ app.request.basepath }}/web/images/social_media_icons/flickr-genericon.png" width="20px"/>
            Flickr
        </a>


    </p>

</div>