{% extends 'common/basic_layout_boot4.html.twig' %}
{% set active = 'homepage' %}

    {% block head %}
        <style>

            <style>
            .artistlist-container {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }


            .artistlist {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                background-color: #dddddd;

            }

            .artistlist:nth-of-type(2n) {
                background-color: white;
            }


            .artistlist-thumb {
                flex: 20%;
                margin: 10px;

            }

            .artistlist-location {
                margin-top: 7px;
                flex: 30%


            }

            .artistlist-details {
                flex: 20%;
                margin-right: 10px;
            }

            .thumb_container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                grid-gap: 1px;
                list-style: none;
                margin: 0;
                padding: 2.2rem;



            }
            .thumb_container li {
                font-size:1.0em;
                margin:auto;
                background: white;
                padding: 20px 20px;
                margin-top: 10px;
                border-radius: 5px 5px 5px 5px;
                box-shadow: 0px 1px 2px 1px #dddddd;
                min-height: 200px;
                min-width: 250px;
                max-width: 260px;

                border : 1px solid gray;}

            .blockR {
                float: left;
                width: 200px;
                height: 200px;

            }
        </style>


        {{ parent() }}

    {% endblock head %}

{% set active = active|default(null) %}


{% block jumbotron %}


{% endblock jumbotron %}



        {% block menu %}


        {% endblock menu %}



        {% block content %}



            <div class="container-fluid pt-4">
                <div class="row">
                    <div class="col-md-12">

                        <h2> 2020 Holiday Market</h2>
                        <p> This has been an exceptional year.   Consider giving art this holiday season.  A unique gift, that will lift the spirit and will bring joy in the months ahead, and help support local artists.</p>
                         <p> Somerville Open Studios provides links to individual artists websites and shops.</p>
{#
                        <ul class="artistlist-container">
                            {% for key,item in artist_data %}
                                <li class="artistlist">
                                    <div class="artistlist-thumb">
                                        {% if item.id  matches '/^\\d+$/' %}
                                        <a href="{{ path('artists_profile',{'id': item.id}) }}">
                                            {% else %}
                                                no link
                                            {% endif %}
                                            <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="90px"
                                                 width="90px"
                                                 alt=" {{ item.PublicFirstName}} {{ item.PublicLastName }} thumbnail "   onerror="imgError(this);">
                                        </a>
                                    </div>
                                    <div class="artistlist-location">
                                        <a href="{{ path('artists_profile',{'id': item.member_id}) }}">
                                            <b>{{ item.PublicFirstName   }}
                                                {{ item.PublicLastName   }} </b>

                                            {% if item.BusinessName is not empty %}
                                                <br/><b>{{ item.BusinessName }} </b>
                                            {% endif %}
                                        </a>


                                        <br><b>{{ item.ShortDescription }} </b>
                                    </div>
                                    <div class="artistlist-details">




                                        <br>
                                    </div>

                                </li>



                            {% else %}

                                <h4> No Artists Found</h4>

                            {% endfor %}
#}
                            <ul class="thumb_container">
                                {% for key,item in artist_data %}

                                    <li>
                                        {% if item.id != '' %}
                                        <a href="{{ app.request.basepath }}/artists/artist_profile/{{ item.id }} ">
                                            <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="210" width="210"
                                                 alt=" {{ item.name }} thumbnail "   onerror="imgError(this);">
{% else %}
    <img src="/artist_files/artist_images/splash/dummy.gif" height="210" width="210"
         alt=" {{ item.name }} thumbnail "   onerror="imgError(this);">
    {% endif %}
                                            <div class="thumbnail_label">
                                                    {{ item.name  }} <br>
                                                {% if item.id != '' %}
                                            </a>
                                        {% endif %}

                                                <br><b>{{ item.short_description }} </b>
                                                <br>
                                                <a href="{{ item.link }}" class="btn btn-info"> Visit</a>

                                            </div></a>
                                    </li>
                                    {#
                                    {% if (loop.index + 10)  %6 ==0 %}

                                        </div>
                                        <div class="row"> &nbsp </div>
                                    {% endif %}
                                    #}
                                {% endfor %}
                            </ul>

                    </div>
                </div>
            </div>




        {% endblock content %}
    {% block footer %}
        {{ parent() }}
    {% endblock footer %}
