<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="description" content="somerville open studios site">
    <meta name="author" content="Somerville Open Studios">
    <!-- Do not remove: this links sos.org to our youtube account -->
    <meta name="google-site-verification" content="SuaMjOlHjf3o32FRqrpZ4PQxX0x8VZNX9Mt63_TdchQ"/>


    <title>Somerville Open Studios 2021</title>

    <script src="{{ app.request.basepath }}/web/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core CSS -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">

    <link href="{{ app.request.basepath }}/web/vendor/slick/slick.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/web/vendor/slick/slick-theme.css" rel="stylesheet">
    <script src="{{ app.request.basepath }}/web/vendor/slick/slick.js" ></script>





    <style>

        .image-container {
            display: flex;
            justify-content: centered;
            flex-direction: column;
            margin-left:20px;
        }

        .container {
            background-color: #000000;
            color: #ffffff;
            padding:25px 25px 25px 45px;
        }

        .headingh2 {
            text-align: center;
            padding-bottom: 1em;
        }


</style>




    <body>


<h2 class="headingh2">Slider - Multpile Items & Responsive</h2>
<div class="container">





            <!-- Slider -->
            <div class="slider responsive">

                {% if random_artists is defined %}
                    {% for index in 0..9 %}


                        <div>
                            <div class="image-container aram" id="aid-{{ index }}">

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>


        </div>



<script>

    $(document).ready(function () {

        // get ajax data for slideshow

        var urlImages = "/web/data/random_thubmnails/10";

        $.ajax({

            dataType: "json",
            type: 'Get',
            url: urlImages,
            success: function (artistData) {
                //response( $.map( data, function(item) {
                if (artistData){
                    console.log (artistData);

                    var arrayLength = artistData.length;
                    for (var i = 0; i < arrayLength; i++) {
                        console.log(artistData[i]);

                        var bn = artistData[i]['BusinessName'];
                        if (bn =='null'){
                            bn='';
                        }
                        var divid = "#aid-" + i;
                        $(divid).html ('  <a href=""><img  src="/artist_files/artist_images/splash/' + artistData[i]['member_id'] + '.jpg" height="200" width="200"  alt=" Art by artists" onerror="imgError(this);"></a>  ' +
                            '<div style="margin-top:8px">'+ artistData[i]['PublicFirstName'] +' '+ artistData[i]['PublicLastName'] +
                        '<br> ' +artistData[i]['BusinessName']+ '<br>'+
                            '</div>');
                    }
                    makeSlider()
                }
            },

            error: function (data) {
                console.log("error");
            }
        });
        function makeSlider() {
            $('.responsive').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1070,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 920,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            dots: false

                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        }
    });
</script>

</body>
</html>
