<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="description" content="somerville open studios site">
    <meta name="author" content="Somerville Open Studios">
    <!-- Do not remove: this links sos.org to our youtube account -->
    <meta name="google-site-verification" content="SuaMjOlHjf3o32FRqrpZ4PQxX0x8VZNX9Mt63_TdchQ"/>


    <title>Somerville Open Studios 2021</title>

    <script src="{{ app.request.basepath }}/web/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap core CSS -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">

    <link href="{{ app.request.basepath }}/web/css/fonts.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/web/css/bootstrap4/bootstrap.min.css" rel="stylesheet">
    <!--
        <link href="css/style.css" rel="stylesheet">
        -->
    <!--
    <link href="css/oswald-muli.css" rel="stylesheet">

    <link href="{{ app.request.basepath }}/web/css/bootstrap4/somos.css" rel="stylesheet">
-->
    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/web/css/jumbotron.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/26c7a569bf.js" crossorigin="anonymous"></script>

    <!--    <script src="{{ app.request.basepath }}/web/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2"  crossorigin="anonymous"></script> -->


    <style>

    i.fas,
    i.fab {
        color: #b12323;
        font-size: 1.8em;
    }


    .thumb_container_flex {
        display:  flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        grid-gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0.2rem;
        align-items:stretch;



    }
    .thumb_container_flex li {
        font-size:0.8em;
        margin:auto;
        background: black;
        padding: 10px 10px;
        border-radius: 30px 0 /0px 0px;
        box-shadow: 0px 0px 0px 0px #030303;
        min-height: 220px;
        min-width: 220px;
        max-width: 270px;
        color: white;
        border : 1px solid black;}

    .thumb_container_flex li img {
        display:block;
        margin:auto;

    }
    .thumbnail_label_flex {
        display:block;
        margin:auto;
        color: #ffffff;
        font-size: .9em;
        margin-top: 5px;
    }


    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .artist-thumb-box2 {
        min-width: 260px;
        max-width: 270px;

    }
    .navbar {
        padding:0rem;
    }

    .dropdown .dropdown-menu {
        border-radius:0;
    }


    /* Medium devices (tablets, 768px and up)
    The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            border-radius:0;
        }
    }

    .sosbanner {
        background-image: url('{{ app.request.basepath }}/web/images/banner/dots_3.png') ;
        background-size: auto;
    }

</style>




<main role="main">
    <body>



    <!--  Artist Blocks -->

    {% if random_artists is defined %}
        <div class="col-sm-12 py-4 bg-sos-dark d-none d-sm-block" style="background-color: black">

            <ul class="thumb_container_flex" >

                {% for key,item in random_artists %}
                {% endfor %}

                <li class="d-none d-sm-block thumb_el_flex2"><!--  -->
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[0].id }}" target="_blank" >
                        <img src="/artist_files/artist_images/splash/{{ random_artists[0].id }}.jpg" height="200" width="200"
                             alt=" {{ random_artists[0].PublicFirstName }} {{ random_artists[0].PublicLastName }} Art" onerror="imgError(this);">

                        <div class="thumbnail_label_flex">
                            {{ random_artists[0].PublicFirstName }} {{ random_artists[0].PublicLastName }}
                            {% if random_artists[0].BusinessName is not empty %}
                                <br/>{{ random_artists[0].BusinessName }}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="d-none d-sm-block"><!--  -->
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[1].id }}" target="_blank">
                        <img src="/artist_files/artist_images/splash/{{ random_artists[1].id }}.jpg" height="200" width="200"
                             alt=" {{ random_artists[1].PublicFirstName }} {{ random_artists[1].PublicLastName }} Art" onerror="imgError(this);">

                        <div class="thumbnail_label_flex">
                            {{ random_artists[1].PublicFirstName }} {{ random_artists[1].PublicLastName }}
                            {% if random_artists[1].BusinessName is not empty %}
                                <br/>{{ random_artists[1].BusinessName }}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="d-none d-lg-block"><!--  -->
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[2].id }}" target="_blank">
                        <img src="/artist_files/artist_images/splash/{{ random_artists[2].id }}.jpg" height="200" width="200"
                             alt=" {{ random_artists[2].PublicFirstName }} {{ random_artists[2].PublicLastName }} Art" onerror="imgError(this);">

                        <div class="thumbnail_label_flex">
                            {{ random_artists[2].PublicFirstName }} {{ random_artists[2].PublicLastName }}
                            {% if random_artists[2].BusinessName is not empty %}
                                <br/>{{ random_artists[2].BusinessName }}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="d-none d-xl-block"><!--  -->
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[3].id }}" target="_blank">
                        <img src="/artist_files/artist_images/splash/{{ random_artists[3].id }}.jpg" height="200" width="200"
                             alt=" {{ random_artists[3].PublicFirstName }} {{ random_artists[3].PublicLastName }} Art" onerror="imgError(this);">

                        <div class="thumbnail_label_flex">
                            {{ random_artists[3].PublicFirstName }} {{ random_artists[3].PublicLastName }}
                            {% if random_artists[3].BusinessName is not empty %}
                                <br/>{{ random_artists[3].BusinessName }}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="d-none d-xl-block"><!--  -->
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ random_artists[4].id }}" target="_blank">
                        <img src="/artist_files/artist_images/splash/{{ random_artists[4].id }}.jpg" height="200" width="200"
                             alt=" {{ random_artists[4].PublicFirstName }} {{ random_artists[4].PublicLastName }} Art" onerror="imgError(this);">

                        <div class="thumbnail_label_flex">
                            {{ random_artists[4].PublicFirstName }} {{ random_artists[4].PublicLastName }}
                            {% if random_artists[4].BusinessName is not empty %}
                                <br/>{{ random_artists[4].BusinessName }}
                            {% endif %}
                        </div>
                    </a>
                </li>
            </ul>
            <div class="d-flex flex-row-reverse" >
                <div class="pt-3 text-warning"><a  class="btn btn-success"  href="{{ path('artists_directory_random', {'type':"grid"}) }}"> See More artists </a></div>
            </div>
        </div>
    {% endif %}
</body>
</html>
