{% extends 'common/basic_layout_boot4.html.twig' %}
{% set active = 'homepage' %}

    {% block head %}
        <style>
            #box_1 {
                position: relative;
                width: 170px;
                height: 170px;
                background: #ee3e64;
            }

            #box_2 {
                position: relative;
                left: 200px;
                width: 200px;
                height: 200px;
                background: #44accf;
            }

            #box_3 {
                position: relative;
                width: 200px;
                height: 200px;
                background: #b7d84b;
            }

            .blockL {
                float: left;
                width: 160px;
                height: 180px;
                margin-left: 5px;

            }

            .blockR {
                float: left;
                width: 200px;
                height: 200px;

            }
        </style>


        {{ parent() }}

    {% endblock head %}

{% set active = active|default(null) %}


{% block jumbotron %}

    {{ parent() }}

{% endblock jumbotron %}



        {% block menu %}


        {% endblock menu %}



        {% block content %}



            <div class="container-fluid pt-4">
                <div class="row">
                    <div class="col-md-8">


                        <ul class="main-feed">


                            {# GENERAL INFO HEADER#}


                            <li class=" bg-sos-light p-3">

                                <h1 class="pl-2">Somerville Open Studios 2021 <br> </h1>


<br><br>
                                <h2> Registration for 2021, Ends March 15th</h2>
                                <p> <em> </em>
                                    <p>
                                    Registration for 2021 is Open!  Find details and <a href="https://members.somervilleopenstudios.org/join" class="btn btn-danger btn-lg"> Register Today</a>
                                <br><br>
                                <hr>
                                <h3>Calls For Art</h3>
                                <p> The 2021 Inside Out Gallery (CVS Window)  and Small Works (Bow Street Market) exhibit calls for art are live. </p>
                                <a href="{{ path('for_artists.home') }}" class="btn btn-info"> Find Out How To Apply</a>
<hr>
                                <!-- Flexbox side by side example -->

                                <div class="d-flex flex-wrap">

                                </div>




                                <div class="row">

                                    <div class="col-sm-8">

                                        <p> Somerville Open Studios is a citywide art event, where hundreds of artists open their studios and invite the public in to see their art. Somerville Open Studios 2020 <b>did not take place in person on May 2 and 3</b>.  Planning is underway for <b>SOS 2021</b>.</p>
                                        
                                        <h3>Meet The Artist Series</h3>
                                        <p> Meet some of our member artists on<a class="btn btn-info btn-sm" href="https://www.youtube.com/playlist?list=PLstLKg8PrkNWvvop0M2qLDCvhnfe11pCe"> Youtube </a> </b> .  Follow them on social media (click the "show more" link on the youtube page to get more info)   As always, we invite visitors to
                                        <a href="{{ path('artists_directory_random', {'type':"grid"}) }}"> check out out the art on our members' profile pages</a>.
                                        </p>

                                        {#
                                        <h3>Extra! Read All About It</h3>
                                        
                                        <p>Isabel Sami published an article about our Virtual SOS in The Somerville Times:<br> <a href="http://www.thesomervilletimes.com/archives/99496">Somerville Open Studios takes to cyberspace for a change</a>.
                                        
<p>The same newspaper also pubilshed <a href="http://www.thesomervilletimes.com/archives/99487">an interview with SOS artist Allison Tanenhaus</a>, whose profile page can be found <a href="/artists/artist_profile/1944">here</a>.


  
  <p> <a href="https://somervilleopenstudios.org/artists/artist_profile/1131"> Stan Eichner</a> shows <a href="https://somervilleartscouncil.org/stan_eichner"> photos "fighting for our planet </a>davis square inside out gallery

                                        #}
                                    </div>
                                    <div class="col-md-4">
                                        <a href="https://www.youtube.com/channel/UCdXMH821q4vKV8CUkFtaKZA/videos">
                                            <img  src="web/images/carousel/youtube.png" style="width:100%; max-width:350px; background-color:black;   height: auto; ">
                                        </a>
                                        <a class="py-2 btn btn-info btn-sm" href="https://www.youtube.com/channel/UCdXMH821q4vKV8CUkFtaKZA/videos"> SOS Youtube Channel</a>
                                    </div>
                                </div>

                                <!--div class="row">
                                 -- leaving this here in case we schedule more of them later in the year --

                                    <div class="col-sm-12">
                                        <h3>Zoom Studio Visits</h3>
                                        <p> We're scheduling virtual visits using Zoom </p>

                                        <table class="table table-striped table-condensed">
                                            <tr style="text-decoration: line-through;">
                                                <td><a href="/artists/artist_profile/527">Judith Prager</a></td>
                                                <td> Saturday, May 2</td>
                                                <td>12:00 - 4:00 pm</td>
                                                <td> <a href="https://us02web.zoom.us/j/81049869232?pwd=UWRrdXhRNVFCZWY4RHhQdmJYY2pkdz09">zoom link</a></td>

                                            </tr>

                                        </table>

                                    </div>
                                </div-->


                            </li>

                          {% include "blocks_short/2020_virtual_gallery_short.html.twig" %}

                            {# COVID 19

                           {% include "blocks_short/2020_covid-19-cancel_short.html.twig"%}

#}



{#
                            <li class="bg-sos-light p-3">
                            <h3>SOS Seeks New Board Members</h3>
                            <p>
                                Somerville Open Studios is looking for new board members.

                                <a class="btn btn-info" href="/about/2020_board_call">Find out More</a>

                            </p>
                            </li>
#}
                            <li class="main-feed p-3">
                            <h3>Some resources from the Somerville Arts Council</h3>
                            
                            <p><b><a href="https://www.facebook.com/groups/2555594324713636/">Somerville Creates</a></b> is a new Facebook group where Somerville artists can post short video presentations of their work.
                            
                            <p>The <b><a href="http://somervilleartscouncil.org/homealone">Home Alone Art Series</a></b> is a curated series of longer-form art-related performances to be live-streamed on Facebook.  Participants who are selected will receive a $300 stipend from the Somerville Arts Council.
                            
                            <p>A <b><a href="http://somervilleartscouncil.org/covid19">list of Covid-19 resources for artists</a></b>, compiled by the Somerville Arts Council.  The list is subdivided into financial, educational, music and tech, calls for art, and entertainment and humor.

                            </li>
                            
                        </ul>

                    </div>




                    <!--   SideBar -->


                    <div class="col-md-4 themed-grid-col" style="background-color: #dddddd">

                        <div class="p-2 m-1 callout-boxed bg-white">

                        <h4>Search Artists:</h4>
                        <p> Search by Name or Medium</p>
                        {{ form_start(search_form) }}
                        {{ form_errors(search_form) }}

                        {{ form_widget(search_form.search_term) }}
                        {{ form_widget(search_form.submit, { 'label': 'Search' }) }}

                        {{ form_end(search_form) }}
                        </div>

                        <div>
                        <h3>See art in Somerville all year round</h3>

                        <p>Our city has <a href="visit/see_other_art">art for you to see</a> all year round, not just
                            during SOS weekend.

                            {#
                        <p>See our list of <a class="btn btn-primary" href="visit/see_other_art"> events and exhibits all
                                over Somerville </a>.
                                
#}

                        </div>



                            <div class="panel-body" style="">
                            <h4 style="padding-top:0.5em">Mailing List</h4>

                            <form name="ccoptin" action="https://visitor.constantcontact.com/d.jsp" target="_blank"
                                  method="post" style="margin-bottom:3;"><span
                                        style="float:right;margin-right:5;margin-top:3"></span>

                                <p class="shaded">enter your email address <br>
                                    <input type="text" name="ea" size="20" value=""
                                           style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px; border:1px solid #999999;"><br>
                                    <input type="submit" name="go" value="Join SOS Mailing List!" class="submit btn-primary "
                                           style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
                                    <input type="hidden" name="m" value="1102783429438">
                                    <input type="hidden" name="p" value="oi">
                                </p>
                            </form>
                        </div>




                        <div class="">
                            <br>
                            <h3> 2020 Sponsors</h3>
                            <hr>
                            <p> Somerville Open Studios  <b>2020 sponsors</b> </p>



                            <script>
                                // SPONSOR ROTATOR SCRIPT
                                // ======================

                                // Ads are stored in an array
                                var ads = [];

                                function renderAd() {
                                    // Get the ad we're about to display
                                    // Using shift actually removes the ad from the array
                                    var currentAd = ads.shift();

                                    // Using an array for string concatenation 'cause it's easier to read
                                    var ad_block = [
                                        '<br><div class="" style="border: 0px; height:200px; width: 200px;">',
                                        '<a href="', currentAd.link, '" target="_blank">',
                                        '<img style="height:90%; width:90%" src = "',
                                        '/web/images/sponsors/', currentAd.image_name, '_logo.jpg',
                                        '" alt="Logo for ', currentAd.sponsor_name, '" /></a>',
                                        '</div><a href="', currentAd.link, '" target="_blank">',
                                        '<b>', currentAd.sponsor_name, '</b> </a>',
                                        '<p>', currentAd.description, '<br> '
                                    ].join('');

                                    // render the ad
                                    jQuery('#sponsors').html(ad_block);

                                    // Move the ad that was just shown to the end of the queue
                                    ads.push(currentAd);
                                }

                                // Another global just in case we need to kill it later
                                var adTimerId;

                                function jStartAds(adData) {
                                    // add all of the returned Ad data to our ads array
                                    ads = ads.concat(adData);

                                    // show placeholder
                                    jQuery('#sponsors').html("<b> Welcome our 2020 Sponsors! </b>").show();

                                    adTimerId = setInterval(renderAd, 3500);
                                }


                                $(document).ready(function () {
                                    $.getJSON('data/ads_json').then(jStartAds);
                                });


                            </script>

                            <div id="sponsors"> </div>


                            <a class="btn btn-primary btn-sm" href="/support/sponsor_list">2020 Sponsors</a>

                            <br><br>

                            <hr>
                        </div>
                    </div>
                </div>
            </div>




        {% endblock content %}
    {% block footer %}
        {{ parent() }}
    {% endblock footer %}