{% extends 'common/basic_layout.html.twig' %}
{% set active = 'homepage' %}

    {% block head %}
        <style>
            #box_1 {
                position: relative;
                width: 170px;
                height: 170px;
                background: #ee3e64;
            }

            #box_2 {
                position: relative;
                left: 200px;
                width: 200px;
                height: 200px;
                background: #44accf;
            }

            #box_3 {
                position: relative;
                width: 200px;
                height: 200px;
                background: #b7d84b;
            }

            .blockL {
                float: left;
                width: 160px;
                height: 180px;
                margin-left: 5px;

            }

            .blockR {
                float: left;
                width: 200px;
                height: 200px;

            }
        </style>


        {{ parent() }}

    {% endblock head %}

{% set active = active|default(null) %}


{% block jumbotron %}

    <div style="background-color:#000000" class="jumbotron">
        <img style="width:90%; max-width:720px;max-height:170px"
             src="{{ app.request.basepath }}/web/images/graphics/2020SOSwebsiteHeaderOL.png" alt="logo">
    </div>

{% endblock jumbotron %}



        {% block menu %}

            {% include "common/menu_top_static.html.twig" %}

        {% endblock menu %}



        {% block content %}







            {#  BIG TOP BANNER#}

            <div class="row" style="margin-left:10px; background-color:white">
                <div class="col-lg-7">


                    {% include "common/social_media_menus.html.twig" %}

		    <h1> Somerville Open Studios 2020 </h1>
<p> Somerville Open Studios is a citywide art event the first weekend in May, where hundreds of artists open their studios and invite the public in to see their art.  Somerville Open Studios 2020  will take place on <b>May 1-3, 2020.</b>  </p>

    <p>If you have any questions about registration, please email
<a href="mailto:membership@somervilleopenstudios.org"><b>membership@somervilleopenstudios.org</b></a> .

<p>To help make this event happen, please come to <a href="#planning_march">the next SOS planning meeting</a> on March 25, or email us at <a href="mailto:domore@somervilleopenstudios.org"><b>domore@somervilleopenstudios.org</b></a>.

            {% include "events_short/2020_meeting_mar.html.twig"%}
            
            <div class="bs-example">
                            <h3>SOS Seeks New Board Members</h3>
                    <p>
                        Somerville Open Studios is looking for new board members.

                        <a class="btn btn-info" href="{{ path('about.2020_board_call') }}">Find out More</a>

                    </p>
                </div>

            {% include "blocks/2020_fashion_show_call.html.twig"%}


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">


                            </h3>
                        </div>

                        <div class="panel-body" style="background-color:#D9EDF7">
                            <h4 style="padding-top:0.5em">Mailing List</h4>

                            <form name="ccoptin" action="https://visitor.constantcontact.com/d.jsp" target="_blank"
                                  method="post" style="margin-bottom:3;"><span
                                        style="background-color: #006699;float:right;margin-right:5;margin-top:3"></span>

                                <p class="shaded">enter your email address <br>
                                    <input type="text" name="ea" size="20" value=""
                                           style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px; border:1px solid #999999;"><br>
                                    <input type="submit" name="go" value="Join SOS Mailing List!" class="submit"
                                           style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
                                    <input type="hidden" name="m" value="1102783429438">
                                    <input type="hidden" name="p" value="oi">
                                </p>
                            </form>
                        </div>
                    </div>

                    <div style="padding-left: 20px; padding-top: 10px">
                        {# See art all year round #}
                        <h3>See art in Somerville all year round</h3>

                        <p>Our city has <a href="visit/see_other_art">art for you to see</a> all year round, not just
                            during SOS weekend.

                        <p>See our list of <a class="btn btn-info" href="visit/see_other_art"> events and exhibits all
                                over Somerville </a>.

                    </div>


                </div>





                {#Second Column #}


            <div class="col-lg-5">


                {#Carosell

                <!-- Carousel
                   ================================================== -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000"
                     style="max-width:920px; min-height:600px">
                    <div class="carousel-inner">

                        <!-- Indicators -->

                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                             <div class="item">
                                 <img src="/web/images/carousel/trolley.jpg" alt="">
                                 <div class="container">
                                     <div class="carousel-caption">
                                         <h1>Directions</h1>
                                         <p class="lead"> Tips on Getting here and getting around
                                         </p>
                                         <a class="btn btn-large btn-primary" href="visit/directions_parking">More
                                             Info</a>
                                         <a class="btn btn-large btn-warning"
                                            href="{{ path('artists_directory_list_trolley', {'display_type':"list",  'genre': "All", 'map_number':'All', 'event':'All' }) }}">
                                             Online Trolley Tracker</a> <br>


                                     </div>
                                 </div>
                             </div>


                        <div class="item active">
                            <img src="/web/images/carousel/banner5.jpg" alt="">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Browse Artists</h1>
                                    <p class="lead"> View SOS 2019 member artist profiles
                                    </p>
                                    <a class="btn btn-large btn-primary" href="artists/artist_directory">SOS 2019 Artist Directory</a>
                                </div>
                            </div>
                        </div>

                                                    <div class="item">
                                                        <img src="/web/images/carousel/first_look_exhibit2.jpg" alt="">
                                                        <div class="container">
                                                            <div class="carousel-caption">
                                                                <h1>Exhibits!</h1>
                                                                <p class="lead">Somerville Open Studios has art exhibits, <br> to give you a
                                                                    sampling of some of the art before,<br>during, and after the event.</p>
                                                                <a class="btn btn-large btn-primary" href="visit/#first_look">Learn more</a>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div><!-- /.carousel -->
#}
		    
                </div>





            <!-- COL 1 -->


            <div class="row" style="margin-left:10px">

                <!-- COL 2 -->


                <div class="col-md-4">

                    {{ block('event_head', 'common/event_wrapper.html.twig') }}
                    <div class="row" style="background-color: #dddddd">
                        <h3> 2020 Sponsors</h3>
                        <p> Sponsor Somerville Open Studios is taking applications for 2020! <br>
                            <a class="btn btn-info" href="{{ path('support.sponsor') }}">2020 Sponsor Information</a>
                        </p>

                        {#<p> Somerville Open Studios is pleased to annouce our 2019 sponsors</p>
                        <div class="col-sm-12">
                            {% include "blocks/sponsorship_scroll.html.twig" %}
                        </div>

                        <div class="col-sm-12">

                            <a class="btn btn-info" href="{{ path('support.sponsor_list') }}">All Sponsors</a>
                            <br><br>
                            <a class="btn btn-info" href="{{ path('support.sponsor_list_food') }}"> Food and Drink
                                Sponsors</a>

                        </div>
#}
                    </div>
                    {% set  event_class= "bs-callout bs-callout-info" %}
                    {{ block('event_foot', 'common/event_wrapper.html.twig') }}
                    {% set pevent_class = event_class %}



                </div>

                <div class="col-md-8">


                    {% set event_class = pevent_class %}

                    <div class="bs-callout box-gray ">
                        <h2> Artists</h2>
                        <hr/>

                        <h4>Search:</h4>
                        {{ form_start(search_form) }}
                        {{ form_errors(search_form) }}

                        {{ form_widget(search_form.search_term) }}
                        {{ form_widget(search_form.submit, { 'label': 'Search' }) }}

                        {{ form_end(search_form) }}

                        <br>
                        <a class="btn btn-warning btn-large" href="{{ path('artists_directory') }}">Browse Artists</a>


                        <h3> Random Artists</h3>
                        {% for key,item in random_artists %}

                            <a href="{{ app.request.basepath }}/artists/artist_profile/{{ item.id }} ">
                                <div class="blockL">
                                    <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="150"
                                         width="150"
                                         alt="{{ item.PublicFirstName }} {{ item.PublicLastName }} Art ">
                                    {{ item.PublicFirstName }} {{ item.PublicLastName }}
                                    {% if item.BusinessName is not empty %}
                                        <br/>{{ item.BusinessName }}
                                    {% endif %}

                                </div>
                            </a>
                        {% endfor %}

                        <div style="clear: both;"></div>


                        <div class="">
                            <h3> More Artists</h3>
                            <a class="btn btn-warning btn-block"
                               href="{{ path('artists_directory_random', {'type':"grid"}) }}"> Browse
                                Thumbnail Grid </a>
                        </div>

                    </div>





                </div>
            </div>






            <!-- Footer -->



                <div class="panel-footer">

                </div>
            </div>
        {% endblock content %}
    {% block footer %}
        {{ parent() }}
    {% endblock footer %}
