{% extends 'common/basic_layout_boot4.html.twig' %}
{% set active = 'homepage' %}

    {% block head %}
        <style>
            #box_1 {
                position: relative;
                width: 170px;
                height: 170px;
                background: #ee3e64;
            }

            #box_2 {
                position: relative;
                left: 200px;
                width: 200px;
                height: 200px;
                background: #44accf;
            }

            #box_3 {
                position: relative;
                width: 200px;
                height: 200px;
                background: #b7d84b;
            }

            .blockL {
                float: left;
                width: 160px;
                height: 180px;
                margin-left: 5px;

            }

            .blockR {
                float: left;
                width: 200px;
                height: 200px;

            }
        </style>


        {{ parent() }}

    {% endblock head %}

{% set active = active|default(null) %}


{% block jumbotron %}

    {{ parent() }}

{% endblock jumbotron %}



        {% block menu %}


        {% endblock menu %}



        {% block content %}



            <div class="container-fluid pt-4">
                <div class="row">
                    <div class="col-md-12">


                        <ul class="main-feed">


                            {% if existing_data is not empty %}

                            <li class="bg-info p-3">

                                <h3> Refund Selected: </h3>
                                <b>Status:</b> {{ existing_data['status'] }}<br>
                                <b>Date Submitted:</b> {{ existing_data['date_pending'] }} <br>
                                <b>Refund Selected:</b> {{ existing_data['refund_selected'] }} <br>
                                <b>Comment:</b> {{ existing_data['comment'] }} <br>
                                <br>
                                <b> Note, you can update your preferences any time till your refund is issued.  Orders are processed in the order received.</b>


                            </li>




                            {% endif  %}
                            {# GENERAL INFO HEADER#}


                            <li class=" bg-sos-light p-3">

                                <h3> You Membership Info</h3>
                                <div class="ml-3">
                                <b>Name:</b> {{ member_info['FirstName'] }} {{ member_info['LastName'] }} <br>

                                {% if payment_info is defined and payment_info is not empty %}

                                <b>Details: </b>
                                    {{ payment_info['item_description']  |replace({'Community Space+  C': 'C', 'First Look Show+': ""}) }} <br/>
                                    <b> Payment Amount: </b>${{ payment_info['transaction_amount'] }}</br/>
                                    <b> Payment Date: </b> {{ payment_info['date_posted'] }}<br/>
                                    <br>
                                {% endif %}




                                </div>
                                {%  if existing_data is empty or (existing_data is not empty and existing_data['status'] != 'complete' ) %}
                                <h3> Refund Selection</h3>
                                <ul  style="max-width:1000px; ">
                                    <p>In light of the cancellation of SOS 2020, we are offering various levels of
                                        refunds. We hope that most people will opt to change their membership from a
                                        Participating Artist ($65) to a Non-Participating Artist ($35). This option,
                                        which results in a $30 refund, allows artists to remain SOS members and keep
                                        their profile page on our website. {#This also helps to support year-round costs
                                        for the organization, pay for non-recoverable 2020 expenses to date, and fund
                                        exhibits or group shows we may pursue this year.#}</p>

                                    <p>{#We are a non-profit organization run by artist volunteers and ask that you
                                        consider this when selecting a refund option. However, #} We also committed to
                                        supporting our members in this extraordinary time. Recognizing that some may be
                                        facing financial hardship, we are offering an option to remain a member artist
                                        while obtaining a full refund. Alternately, you may elect to donate all or part
                                        of your refund to SOS.</p>

                                    <p>To initiate your refund, simply select an option below. Please allow for 2 weeks
                                        following your selection to receive the refund. There are 350 artists and only a
                                        few volunteers, so we ask for your patience. Most refunds should be processed
                                        sooner but if you are in need of an immediate refund, please note this in the
                                        comment box below.</p>

                                    <p>Unless requested otherwise, refunds will be made via PayPal if PayPal was used
                                        when registering (back to your credit card). Please use the comment box below if using PayPal presents a
                                        particular problem for you. It will take longer to process refunds by check.</p>

                                    <p><em> Coming back to this page once you've selected your refund will give you an
                                            updated status.</em></p>

                                    {% endif %}

                                    {% if member_info['MemberType'] !=1 %}

                                            {% if member_info['community_space'] =='Y' %}

                                            {% else %}

                                            {% endif %}
                                        {% else %}

                                    {% endif %}

                                    {%  if existing_data is empty or (existing_data is not empty and existing_data['status'] != 'complete' ) %}
                                    <div class="p-3 bg-light border-dark">

                                        <p>Please select the type of refund you wish to receive. Deadline to request refunds is May 1. Thanks.  </p>

                                        {{ form_start(form) }}
                                        {{ form_errors(form) }}
                                        {{ form_end(form) }}

                                    </div>

                                    {% endif %}

                                    </li>



                        </ul>
                    </div>
                </div>
            </div>




        {% endblock content %}
    {% block footer %}
        {{ parent() }}
    {% endblock footer %}
