{% extends 'common/basic_layout.html.twig' %}
{% set active = 'join.membership' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}



 {% endblock menu %}


{% block jumbotron %}

    <script src="{{ app.request.basepath }}/web/js/jquery-ui.min.js"></script>
    <link href="{{ app.request.basepath }}/web/css/jquery-ui.min.css" rel="stylesheet">

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Register for Somerville Open Studios </h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
<style>
    .ap_float_right
    {
        width:  40x;
        height: 60px;
        float: right;
        margin: 0px 0 8px 8px;
        border: 0px;
        padding: 2px;
    }

    .select1{
        border-bottom: 1px solid #202020;
        padding-left:10px;
    }
</style>

    <div class="col-md-8">
        <div class="">
            <h4> Step 2 of 8</h4>

            <p>The 2025 membership types are similar to what we've done in the past.   </p>
            <p> Click on the appropriate heading below, and then select a specific membership type. Please be
                reminded that SOS is for visual arts only. Individuals must live in or maintain a studio in Somerville. Organizations
                must be based in Somerville and exhibit locally-made visual art. Individual members of the organization (provided
                they are not also registering as an individual artist) are not required to live in or maintain a studio in Somerville. </p>
            <br>
            <h5> Select Membership Type</h5>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <h2>[ I am an individual artist ]</h2>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">


                            <form class="select1" name="selec1t" id="" method="POST" action="">
                                <h4>1. I am exhibiting from my home or studio ($70) </h4>

                                <div class="ap_float_right">
                                    <input type="hidden" name="selection" value="2"/>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">Select <br>Event Membership</button>
                                        </div>
                                    </div>
                                </div>
                                <p> For individuals showing in their homes or studios.<br>
                                    <em>Includes:</em><ul><li>
                                        Listing in event map
                                    </li><li>
                                        Basic profile page on SOS site
                                    </li>
                                </ul></p>

                            </form>


                          <div class="clear"></div>
                            <div class="shaded">
                                {% if app['comm_space_open']  %}

                                <form class="select1" name="selec1t" id="selec1t" method="POST" action="">
                                    <h4>2. I want to exhibit from the community space ($70 + $60) = $130 </h4>

                                    <div class="ap_float_right">
                                        <input type="hidden" name="selection" value="3"/>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">Select <br>Event Membership + <br> Community Space</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p> For individuals who live or have a studio in Somerville, but who cannot exhibit from their own space. Please note that community space is limited and placement is not guaranteed.<br>
                                        <em>Includes:</em><ul><li>
                                            Usage of Community space Sat + Sun
                                        </li><li>
                                            Listing in event map
                                        </li><li>
                                            Basic profile page on SOS site
                                        </li>
                                    </ul></p>
                                    <div class="clear"></div>
                            </div>
                            </form>

                        {% else %}
                        <h4>4. Community Space </h4>
                            <h5 style="color:red">Community space Full.   Waiting list available</h5>

                    {%  endif %}

                        </div>
                        <div class="clear"></div>
                        <form class="select1" name="selec1t" id="" method="POST" action="">
                            <h4>3. I am not exhibiting this year ($30) </h4>

                            <div class="ap_float_right">
                                <input type="hidden" name="selection" value="1"/>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">Select <br>Sustaining Membership</button>
                                    </div>
                                </div>
                            </div>
                            <p>For individuals who are <b>NOT</b> exhibiting in this year's SOS event, but who wish to remain an SOS member artist,
                                keep their online profile active and be eligible to participate in SOS shows and exhibits<br><br>
                                <em>Includes:</em><ul><li>
                                    Basic profile page on SOS site without artist location
                                </li>
                            </ul></p>
                        </form>







                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">


                            <h2>[ I am registering on behalf of an organization ]</h2>
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">


                            <form class="select1" name="selec1t" id="" method="POST" action="">
                                <h4>4. Arts-Related Non-Profit Organization ($95)</h4>

                                <div class="ap_float_right">
                                    <input type="hidden" name="selection" value="4"/>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">Select <br>Arts Non-Profit</button>
                                        </div>
                                    </div>
                                </div>
                                <p>For registered non-profit arts groups, non-profit galleries, or arts-related community organizations, including artist cooperatives.<br><br>
                                    <em>Includes:</em><ul><li>
                                        Listing in event map with organization name and description, but no artist names unless artists have also registered as individuals at that location
                                    </li><li>
                                        Organization profile page on SOS site
                                    </li></ul></p>
                            </form>

                            <div class="clear"></div>
                            <div class="shaded">

                                <form class="select1" name="selec1t" id="" method="POST" action="">
                                    <h4>5. Other Non-Profit Organization ($95)</h4>

                                    <div class="ap_float_right">
                                        <input type="hidden" name="selection" value="5"/>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">Select <br>Non-Profit Membership</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p>For registered non-profit groups that are NOT arts-related, but are located in Somerville AND are hosting an art exhibit during SOS.<br>
                                        <em>Includes:</em><ul><li>
                                            Listing in event map with organization name and description, but no artist names unless artists have also registered as individuals at that location
                                        </li><li>
                                            Organization profile page on SOS site
                                        </li>
                                    </ul></p>
                                </form>
                            </div>
                            <div class="clear"></div>


                            <form class="select1" name="selec1t" id="" method="POST" action="">
                                <h4>6. For-Profit Arts Organization ($125)</h4>

                                <div class="ap_float_right">
                                    <input type="hidden" name="selection" value="6"/>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">Select <br>Commercial Arts</button>
                                        </div>
                                    </div>
                                </div>
                                <p>This option is for for-profit arts-related organizations (for example, commercial galleries, art schools). This option is not appropriate for studio buildings, which should ask each of their artists to register as individuals.<br>
                                    <em>Includes:</em><ul><li>
                                        Listing in event map with organization name and description  but no artist names unless artists have also registered as individuals at that location
                                    </li><li>
                                        Organization profile page on SOS site
                                    </li>
                                </ul></p>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {#
        #}

    <script>
        $(document).ready(function () {

        });

    </script>


{% endblock content %}
