{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <script type=text/javascript>
        function validate(){
            var remember = document.getElementById('readit');
            if (remember.checked){
                return true;
            }else{
                alert("You didn't check the acknowledgement box.");
                event.preventDefault();
                return false;
            }
        }
    </script>


    <div class="row">
                <div class="col-md-12">

                    {% if not errorString is empty %}
                    <h2 style="color:red">{{ errorString|raw }}</h2>
                    {% endif %}

                    <h4>Community Space Artist pre-registration information</h4>
                    <p>The <b> &nbsp {{ app['registration_year']}} SOS Community Space will be held at The Armory, 191 Highland Avenue. </b>

                        The space will be open to the public Saturday and Sunday , Noon-6pm.

                        <br>
                        <b>Please read the following information about showing at this year's Community Space.</b>
                        <br>
                    </p>
                    <h4>Eligibility to register:</h4>
                    <p>This space is reserved for artists who live in or maintain a studio in Somerville but are unable to show out of their homes or studio.
                        <em>Priority is given to those who live in Somerville. </em><br>
                        Space is limited, so please help us reserve this space for community members who have no other place to show. Because of the size of the Somerville artist community, SOS is not in a position to open our event to artists from neighboring communities.
                        <br>
                    </p>
                    <h4>During the Event:</h4>
                    <p>The Community Space is an extension of Somerville Open Studios, which visitors come
                        to in order to have a direct experience with artists and their own work. You must be
                        present and with your work for all of SOS.  Please note that artists are NOT permitted to park in the lot during the show. .
                        <br>
                    </p>
                    <h4>Community Space:</h4>
                    <p>There are limitations to the Armory space:
                        Wall space is extremely limited and not guaranteed.  If you need to hang your work you will need to provide your own free-standing apparatus that fits inside the given space. We will again hold a short demonstration in March on how to make a low-cost, free-standing structure for hanging art.  Please email communityspace@somervilleopenstudios.org if you would like more information.
                        <br><br>This year we will be allotting specific spaces, and enforcing the space in order to ensure that aisles are kept
                        clear. Spaces will vary in exact dimensions and proportions, but each artist will have approx. 50
                        sq. feet of space. You will receive a floor plan with a specific space assignment after
                        registration closes.

                        <br><br>
                    </p>
                    <h4>Sharing a space with another artist:</h4>
                    <p>
                        Up to two artists may share a space. You must make all arrangements with those sharing your space but SOS needs to be notified.  If you intend to share your space, please send an email to membership@somervilleopenstudios.org  and communityspace@somervilleopenstudios.org  so we know to look out for your registration. Both artists must be eligible to participate in SOS (i.e, you must both be Somerville-based artists).  Each artist must register as an individual artist and pay the full membership  fee, and one  artist will pay the additional $60 Community Space fee. SOS is not able to collect half of a booth fee from each artist, so artists sharing space will have to make their own arrangements to split the fee. You should designate one person as the administrative contact lead person.
                        <br>
                    </p>
                    <h4>Sale of work - Tax ID Requirements:</h4>
                    <p>Massachusetts state law requires that SOS collect and report tax id numbers from

                        artists participating in Community Space. You must register in advance with the state

                        for the ability to pay sales tax, and must provide your sales tax id number to SOS no

                        later than two weeks before weekend so that we may comply with the law. If you fail to provide your tax id you will not be allowed to participate in the Community Space. The state will expect you to file and pay your sales tax individually.


                    </p>
                    -------------------------------<br>


                    <h3> Types of Available Spaces</h3>
                    <br>

                    1. Main space - by walls
                    <ul>
                        <li>    No wall hanging available but some leaning space for work </li>
                        <li>   General lighting & limited natural light </li>
                    </ul>

                    2. Main space - center of room

                    <ul>
                        <li> No wall hanging available</li>
                        <li> General lighting and limited natural light</li>
                    </ul>

                    3. Mezzanine overlooking 1st floor (step and elevator access)
                    <ul>
                        <li> No wall hanging available</li>
                        <li>General lighting & limited natural light</li>
                    </ul>
                    <br>

                    <form class="form-horizontal" name="signup" id="signup" method="POST" action="" onsubmit="validate();">
                        <fieldset>
                            <div id="legend" class="">
                                <legend class=""> Select Space Preferences</legend>
                            </div>

                            <input type="hidden" name="doEdit" value="Y"/>


                            <div class="control-group">
                                <label class="checkbox">
                                    <input id = "readit" name="readit" type="checkbox" id="readit" value="readit">
                                    <span style="font-size:1.4em">	I've Read the Above information.  Really, I've read it.   </span>
                                </label>
                                <p><em> Really Please read. It takes a minute, but may save us and you a lot of hassle in the future.  </em></p>
                            </div>



                            SELECT 3 Space Choices (required) <br>

                            <div class="control-group">
                                <label class="control-label" for="choice1">
                                    1st Choice:
                                </label>
                                <select name="choice1" id="choice2">
                                    <option value="none">-</option>
                                    <option value="mainspace_walls">Main Space with Wall</option>
                                    <option value="mainspace">Main Space - Center </option>
                                    <option value="mezzanine">Mezzanine</option>
                                </select>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="choice2">
                                    2nd Choice:
                                </label>
                                <select name="choice2" id="choice2">
                                    <option value="none">-</option>
                                    <option value="mainspace_walls">Main Space with Wall</option>
                                    <option value="mainspace">Main Space - Center </option>
                                    <option value="mezzanine">Mezzanine</option>
                                </select>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="choice3">
                                    3rd Choice:
                                </label>
                                <select name="choice3" id="choice3">
                                    <option value="none">-</option>
                                    <option value="mainspace_walls">Main Space with Wall</option>
                                    <option value="mainspace">Main Space - Center </option>
                                    <option value="mezzanine">Mezzanine</option>
                                </select>
                            </div>



                            <div class="control-group">
                                <label class="checkbox">
                                    <input name="outlet" type="checkbox" id="outlet" value="outlet">
                                    I am requesting to be near a power outlet
                                </label>
                                <p><em> While we will do our best to accommodate, outlets are limited, and we cannot guarantee access.  </em></p>
                            </div>





                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary" name="Submit" value="Log-In">I Understand my Responsibilities <br> and wish to Continue</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>



                </div>
            </div>

    </div>

{#
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/croppie.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/exif.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/web/css/croppie.css"/>
#}



<script>
    $(document).ready(function() {
        console.log ("this");
    });


</script>

{% endblock content %}