{% extends 'common/basic_layout.html.twig' %}
{% set active = '' %}


 {% block menu %}

      {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Register for Somerville Open Studios </h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">



        <h2 style="color:red"> Pay By Mail </h2>

<p>
    If you need to pay by check.
    <br><br>
    <b>
    Somerville Open Studios<br>
    58 Day Street #442115<br>
    Somerverille MA,  02144<br>
    </b>
        <p> Please include the name you registered as, if different from name on check</p>
</p>

        <p>If you have any questions contact <a href="mailto:membership@somervilleopenstudios.org">membership@somervilleopenstudios.org</a>.
            <br>


        </p>
    </div>

{% endblock content %}