{% extends 'common/basic_layout_no_container.html.twig' %}
{% set active = 'login' %}


 {% block menu %}

      {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Register for Somerville Open Studios </h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12" style="max-width:900px">



        <h2 style="color:red">2025 Registration </h2>
        <p>
              <br>Registration and payment deadline is February 15, 2025.<br>


        </p>



        <p>
            Somerville Open Studios 2025 will be held on <b>Saturday and Sunday May 3rd and 4th </b>from noon until 6pm each day.
        </p>

    <p>

        Individual artists may opt to display outdoors if they have a suitable location or their studio building intends to plan for an outdoor display.

    </p>

            <b>To qualify for membership:</b>

        <ol>
            <li>You MUST have a home or studio space in Somerville </li>
            <li>You create visual art.</li>
            <li>  You must upload at least one image of your artwork for your artist profile.</li>


	    <li>Registration fees are NOT refundable.</li>
            <li><b>Your registration is NOT complete until we receive your payment.</b> Your payment MUST be received by/before the registration closing.</li>
            <li>We accept PayPal payments, and major credit cards and checks.</li>


        </ol>

        </p>

        <p>
            You will receive an email confirming that we have activated your membership once you have completed the registration forms AND we confirm your payment. Please allow our volunteers a week after payment to review and approve your registration. Once your membership is approved you will then be able to access your account to edit your online profile.

        </p>
        <p> <b>Important: </b></p>
        <ul>
            <li> <b>Membership Rates:</b>  remain the same as 2024/2023.
                <br/> Individual ($70), <br>Non-Participating/ Sustaining ($30), <br>
                Non-Profit group ($95),  Business ($125).
            </li>

            <br>

            <li> <p> <b>Community Space- </b> at the Armory is available this year for a limited number of participants.
                    There is an <b>additional fee of $60</b> to help defray the costs of the Armory rental and insurance.
		<br>

                    {% if not app['comm_space_open']   %}

                        <span style="color:red; font-size:1.5em"><b>2025 Community space is currently full</b>. </span> <br> If you wish to join the waiting list please email <b> communityspace@somervilleopenstudios.org </b> with the <em>subject wait list.  </em>

{% endif %}




            <li> <p> <b>Financial Aid</b>
                    {% if app['fin_aid_open']  %}
                           <br> Is available.  Please register and Click the "Apply for financial Aid" Button at the payment step. Deadline to apply for aid is the end of the day <b> January 15th, 2025. </b> To apply go through the registration and click the apply for aid link on the payment page.</p>


                    {% else %}

                        <br> Deadline Has passed.
                    {% endif %}

                </p></br>

            <li>  SOS runs on member volunteers. This allows us to keep membership fees low.  Please help by <a href="https://www.somervilleopenstudios.org/volunteer-for-somerville-open-studios/" target="_blank">volunteering.</a> </li>

        </ul>

        <p>Please Note </p>
        <ul>

            <li><b>Artwear: The SOS Fashion Show </b> for all types of wearable art and accessories is being organized.
                This year's show will be held at the Crystal Ballroom at Somerville Theater on Friday May 2.
                We are seeking designers, models, stage managers, ushers, and other assorted volunteers. If interested please click the checkbox in registration.</li>
            <li><b>Artists-Only Friday Night -</b><br>
                    We'd like to gauge interest in people opening their studios to other participating artists only (not to the public),
                    on Friday night before SOS weekend.  If there’s sufficient interest, we will set up two shifts so artists can be
                    open one shift and visit artists during the other shift.<br>
                    <em> We have options for time sign up during registration</em><br>
                Note this is the same evening as the Artwear fashion show. </li>
        </ul>



        <p>If you have any problems during registration, please contact <a href="mailto:webmaster@somervilleopenstudios.org">webmaster@somervilleopenstudios.org</a>.
            <br>


        </p>

<hr>
        <h3>Returning Members</h3>
        <p>If you have registered in previous years, please log in here.</p>
        <br>



        {%if login_ok %}

            <h2> Logged in</h2>
            <a href = "{{  path('artists.my_profile') }}"> <button> Continue </button>  </a>


        {% else %}

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.submit, { 'label': 'Login and Register' }) }}

            {{ form_end(form) }}

            <br>
            <a href="{{ path('password_reset_request') }}"> Forgot Password?</a>

        {% endif %}

        <hr>
        <h2>  New Members </h2>

        <a class="btn btn-info" href="{{ path('join_new_user') }}"> Register Here </a>

        <br>
        <br>


{% endblock content %}
