{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <h3> Registration Data Summary </h3>
                    <h4> Step 8 of 8</h4>

                    <p><b> Note all profile information can be updated once membership is approved.</b> However, once the
                        event map design work starts, some information can no longer be changed. You will be notified by
                        email before this occurs, normally late February or early March</p>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}

                    <hr>
                    <h4>Contact Infomation</h4>


                    <p> If you see something wrong with your contact information <br>please go back and update. <a class="btn btn-info"  href="{{    path("join_contact_info") }}" > Go Back to Contact Information </a>
                    </p>

                    {% if profile_data is defined and profile_data %}

                        {% for key, value in profile_data_columns %}

                            {%  if value == 'gap' %}
                                <hr>

                            {% else %}
                                <b> {{ value }}  : </b> {{ profile_data[key] }}  <br>
                            {% endif %}

				{% endfor %}
			{% if  membership['memnumber'] == 1 %}
			<b> Sustainging Membership does not include mapbook listing or participation in sos event.</b><br>
			  {% else %}
			<b> Studio Location : </b>  {{  profile_data['street_address'] }} <br>
			{% endif %}
				
<br>
                        <b> Membership type : </b> {{  membership['type'] }}  <br>
                        <b> Membership Cost : </b>  ${{  membership['cost'] }} <br>



			{% if  membership['donation'] > 0 %}
                        <b> Donation : </b>  ${{  membership['donation'] }} <br>
                        <b> Total: </b>  ${{  membership['total'] }} <br>
                        {% endif%}
<br> if not correct <a class="btn btn-info" href="{{ path("join_contact_info") }}"> Fix  </a>
			
                        <hr>

                        <a class="btn btn-lg btn-info"  href="{{    path("join_payment") }}" >  Complete Registration</a>

                        <br>

                    {% endif %}

                </div>
            </div>

    </div>

{#
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/croppie.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/exif.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/web/css/croppie.css"/>
#}



<script>
    $(document).ready(function() {
        console.log ("this");
    });


</script>

{% endblock content %}
