{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


    <h2>Register for Somerville Open Studios </h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}
    <div class="col-md-8">
        <div class="">
            <h2> Social Media Information </h2>
            <h4> Step 5 of 8</h4>

            <p> Fill in your username under all fields except website/other/shop/mastodon which take a full URL (e.g.:
                https://www.my_website_here)</p>
            <p><b> This information can added/updated after registration is complete </b></p>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}

        <p>
          {#   <a class="btn btn-info" href="{{ path('join_images_info') }}"> Save and Preview</a>  #}
        </p>
        </div>
    </div>
{#
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3>Current Social Media Information</h3>
            <p>Check if links work here. (links to new window)</p>

            {% if social_data is defined and social_data %}

                {% for sourceRow in social_data %}

                    {% for field in social_data_columns %}
                        {% if field == 'url' %}
                            {% if sourceRow[field] is not empty %}
                                <a href="{{ sourceRow[field] }}" target="_blank">   {{ sourceRow[field] }} </a> <br>
                            {% endif %}
                        {% elseif  field == 'short_name' %}
                            <h3>{{ sourceRow[field] }}</h3>
                        {% elseif  field == 'user_name' %}
                            {% if sourceRow[field] is empty %}
                                <em>Not Used</em>
                            {% else %}
                            {% endif %}
                        {% else %}
                            {% if sourceRow[field] is not empty %}
                                {{ sourceRow[field] }} <br>
                            {% endif %}
                        {% endif %}

                    {% endfor %}

                {% endfor %}

            {% endif %}


        </div>
    </div>
#}




{% endblock content %}