{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Register for Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-8">
        <div class="pfont">
            <h2> Contact Information  </h2>
            <h4> Step 1 of 8</h4>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>
                <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a>

            {% endif %}


            <p> Keeping your contact information is important, as it may be important for us to contact you.  We respect your privacy and will never share your information with third parties.  Please enter your legal name and residence here. You will be
                able to enter your public name and studio location in subsequent registration pages.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>
    {#
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3> Contact Information (Existing)</h3>


            {% if profile_data is defined and profile_data %}

                {% for key, value in profile_data %}

                    <b>{{ key | capitalize}}</b> : {{ value }} <br>

                {% endfor %}

            {% endif %}
        </div>
    </div>
#}


{% endblock content %}