{% extends 'common/basic_layout.html.twig' %}
{% set active = 'login' %}


 {% block menu %}

      {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>2025 Membership Registration</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">



        <h2>Create Account  </h2>

        {% if loginStatus == "duplicate" %}
            <div class="alert alert-danger">

            <p>
                        There is already an account with this email.   <a href = "{{  path('join_homepage') }}"> If you already have an  account. login as an existing user.  </a>
                    </p>
            </div>
        {% endif %}


        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit, { 'label': 'Login and Register' }) }}

        {{ form_end(form) }}

        <br>
        <a href="{{ path('password_reset_request') }}"> Forgot Password?</a>




    </div>

{% endblock content %}