{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}



 {% endblock menu %}


{% block jumbotron %}

    <script src="{{ app.request.basepath }}/web/js/jquery-ui.min.js"></script>
    <link href="{{ app.request.basepath }}/web/css/jquery-ui.min.css" rel="stylesheet">

    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Register for Somerville Open Studios </h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-8">
        <div class="">
            <h2> Studio Location   </h2>
            <h4> Step 3 of 8</h4>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>
            {% endif %}


            <p> Please provide your studio location information.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>
            <p>
                [1]                 <em>Select this option only if the location has flat or ramped access, no steps, shallow thresholds, elevator or chair lift to upper floors if art is not on first floor, and doors that are at least 36&quot; wide for wheelchair access.</em>

            </p>
        </div>
    </div>

    {#
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3>Location Information (Existing)</h3>

            {% if location_data is defined and location_data %}

                {% for key, value in location_data_cols %}

                    <b>{{ value}}  : </b> {{ location_data[key] }} <br>

                {% endfor %}

            {% endif %}
        </div>
    </div>
    #}

    <script>
        $(document).ready(function () {
            $(function () {

                $("#form_street_name").autocomplete({
                    source: function (request, response) {
                        console.log("json"+ $("#form_street_name").val());
                        $.ajax({
                            dataType: "json",
                            type: 'Get',
                            // data: {search_value: $('#street_search_value').val(), string: "street_name"},
                            url: '/web/api/get_street_names/'+  $("#form_street_name").val(),
                            success: function (data) {
                                //response( $.map( data, function(item) {
                                response(data);
                            },
                            error: function (data) {
                                console.log("street lookup error");
                            }
                        });
                    },
                    minLength: 2,
                    open: function () {
                    },
                    close: function () {
                    },
                    focus: function (event, ui) {
                    },
                    select: function (event, ui) {
                    }
                });
            });

            $("#singleForm_submit").click(function() {
                $("#searching").show();
            });


        var locationID = {{ location_id }};

            console.log ("Studio" +$('#form_studio_picker').val());
        if ($('#form_studio_building').val() !=='Other'){
            $('#form_street_name').prop('disabled', true);
            $('#form_building_name').prop('disabled', true);
            $('#form_street_number').prop('disabled', true);
        }


        $('#form_studio_picker').change(function(e){
            updateFormFields();
            console.log('changed');

        });

        function updateFormFields()
        {
            var pickedVal = $("#form_studio_picker option:selected").val();
            // array of locations

            if (pickedVal=='Other'){
                //$('#BuildingName').val("");;
                $('#form_building_name').prop('disabled', false);
                $('#form_street_name').prop('disabled', false);
                $('#form_street_number').prop('disabled', false);
            } else {
                $('#form_street_name').val("");
                $('#form_street_number').val("");
                $('#form_building_name').prop('disabled', true);
                $('#form_street_name').prop('disabled', true);
                $('#form_street_number').prop('disabled', true);


            }


        }
            // update the form initially based on state
        updateFormFields();

        });

    </script>


{% endblock content %}