{% extends 'common/basic_layout.html.twig' %}
{% set active = 'login' %}


 {% block menu %}

      {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>2025 Membership Registration</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">


        <h2>Registration </h2>

        <p> Acording to our records, you have registered previously <b>{{ userData['Pending_Date'] }}. </b>
            We usually process memberships in a few days. SOS is run by volunteers, so we ask for a little patience.
<br>
            <br>
           </p>

        {% if payments is defined and payments %}
            <p> We have some payments listed for you.  If you need to complete any of them, please click and complete the payment.</p>
            <ul>
                {% for sourceRow in payments %}

                    <li>
                        <p> {{ sourceRow['date_posted'] }} - {{ sourceRow['item_description'] }}
                            ${{ sourceRow['transaction_amount'] }} <a
                                    href="{{ path('make_payment', {'hid':sourceRow['hid'], 'pid': sourceRow['payment_id']  }) }}">
                                make this pament</a></p>
                    </li>



                {% endfor %}
            </ul>
            <br>
            If none of these payments are applicable, please  <a href="{{ path('join_contact_info') }}"> Register
            Again</a> </p>

        {% else %}

        <p> Although we have you listed as registered.   We don't have any payment shown for you.  Consider <a href="{{ path('join_contact_info') }}"> Registering Again</a> </p>


        {% endif %}

        <p>Questions? Contact membership@somervilleopenstudios.org</p>
        <br>




    </div>

{% endblock content %}