{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">

            <h3>Upload Artwork Images</h3>
        <h4> Step 6 of 8</h4>

        <p> You may upload up to eight images of your art that will appear on your profile page. Images may be changed out or added after registration
            is complete but Artists must upload at least one image to complete registration.</p><br>

        <p> To upload and new or change an image: <br>
        <ol>
            <li> click  button ("browse" or "file") and select the file you wish to upload</li>
            <li> Enter information about the image (title/medium/dimensions) </li>
            <li> <b> Click the update/upload button</b> </li>
        </ol>
        <b>Note: you can only upload one image at a time. Max Size upload in 2000x2000 (images will be resized)</b>
        </p>
        <p> You may also update just the title, medium or
            dimensions for an image that is already uploaded.
        </p>


        </p>
        <a class="btn btn-info"  href="{{ path('join_thumbnail_location_info') }}" > Continue To Next  Step </a><br>
            <div class="">
                <p>
                    {% for key,item in image_data %}




                <h4>Image {{ item.ImageNumber }} </h4>



                    <div class="row">
                        <div class="col-md-4">
                            <img  style="width: 100%;" src="/{{ item.filename }}?r={{ random(5000) }}" alt="picture2"> <br>
                        </div>
                        <div class="col-md-4">
                            <b> Title: </b> {{ item.Title }} <br/>
                            <b> Medium: {{ item.Medium }}</b><br/>
                            <b> Dimensions {{ item.Dimensions }}</b><br/>
                            <br>
                            To update:
                            <ol>
                                <li>click the "Browse"  or "Choose File"  button (step 1) and select a file</li>
                                <li> Enter the Title/Medium/Dimension</li>
                                <li>click upload/update. </li>

                        </div>
                        <div class="col-md-4">
                            {{ form_start(form_array[item.ImageNumber]) }}
                            {{ form_errors(form_array[item.ImageNumber]) }}
                            {{ form_end(form_array[item.ImageNumber]) }}

                        </div>
                    </div>

                    <hr/>

                {% else %}

                    No Image

                {% endfor %}

                </p>
            </div>


    </div>

    <a class="btn btn-info"  href="{{ path('join_thumbnail_location_info') }}" > Continue To Next Registration Step </a><br>


    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/croppie.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/croppie.css"/>



{% endblock content %}