{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>  Somerville Open Studios - Financial Aid </h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">
        <div class="">
            <h2> Financial Aid Application </h2>




            {% if formProcessed == true %}

                <p> Thanks for Applying.  You should here back in a week or so.  SOS is run by volunteers.
                    If you have questions,
                    please email to <em>fin-aid@somervilleopenstudios.org</em>.
                </p>

            {%  else  %}

                <p><b>To apply please read the instructions and select an option at the bottom of the page.</b></p>

            <p>
                Please complete the form and click Apply to apply for financial assistance. If you have questions,
                please email to <em>fin-aid@somervilleopenstudios.org</em>.

            <hr>
            </p>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}

            {% endif %}
        </div>
    </div>
    <a class="btn btn-sm btn-info" href="{{    path('join_payment') }}"> Return To Payment Page</a>

{% endblock content %}