{% extends 'common/basic_layout.html.twig' %}
{% set active = 'login' %}


 {% block menu %}

      {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Somerville Open Studios</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">



        <h2> Thank You for Registering  </h2>
        <p> Your payment was received.  You should be hearing from us shortly.
        </p>



    </div>

{% endblock content %}