{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_join_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2> Somerville Open Studios</h2>
                <h3>  Payment </h3>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">

        <h3> Payment Information</h3>
        <h4> Final Step  </h4>

        <p> Registration is not complete until we recieve payment </p>
        {#  <a class="btn btn-info"  href="{{    path('join_payment') }}" > tEMP </a> <br> #}
        <div class="bs-callout">
            <p>

            <div class="row">
                <div class="col-md-12">


                    {% if profile_data is defined and profile_data %}
                        <h3>User Information </h3>
                        {% for key, value in profile_data_columns %}

                            {%  if value == 'gap' %}
                                <hr>

                            {% else %}
                                <b> {{ value }}  : </b> {{ profile_data[key] }}  <br>
                            {% endif %}
                        {% endfor %}

<br>                    {% endif %}

                    <b> Membership type : </b> {{  membership['type'] }}   <br>
                        <b> Membership Cost : </b>  ${{  membership['cost'] }} <br>
                    {% if  membership['donation'] > 0 %}
                        <b> Donation : </b>  ${{  membership['donation'] }} <br>
                        <b> Total: </b>  ${{  membership['total'] }} <br>
                    {% endif%}
                        <hr>

                        <p> Somerville Open Studios accepts Credit Card payments through PayPal.  A PayPal account is not required for credit card payments.</p>

                    <p>Online payments save our volunteers a lot of work!  <em>Please play by mail only if you have no other options.</em>  If paying by mail, your registration will not be approved until your check is received.
                            Checks must be received by the February 15 registration deadline. </p>

                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_end(form) }}
                    {% if app['fin_aid_open']  %}

                        <br><br>
                        <a class="btn btn-lg btn-info"  href="{{    path('join_financial_aid') }}" > Apply For Financial Aid </a>

                        <br>
                    {% endif %}
			<br>


                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/croppie.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/web/js/exif.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/web/css/croppie.css"/>




<script>
    $(document).ready(function() {
        console.log ("this");
    });


</script>

{% endblock content %}
