{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}



<div style="flex:1; margin-right:10px">

<img c src="{{ app.request.basepath }}/web/images/event/volunteer_show/2019_volunteer_show.jpg"  height="175" />

</div>
<div style="flex:4">
    <h2 id="volunteer" class="anchor"> Volunteer Show  - At Bloc Cafe in Union Square</h2>


    <p><b>April 15 -May 16</b></p>
<p><b>Opening Reception: Sunday, April 28, 4-6 pm </b>

<p><b><a href="http://blocsomerville.com/" target="_blank">BLOC Cafe</a></b> 11 Bow Street, Union Square

    (<a href="https://www.google.com/maps/place/11+Bow+St,+Somerville,+MA+02143/@42.380875,-71.09669,16z/data=!4m5!3m4!1s0x89e370cb30213a85:0xe3f64a14787decba!8m2!3d42.3808746!4d-71.0966903?hl=en-US" target="_blank">map</a>)</p>


<p>The SOS Volunteer Show highlights the work of the Hard Working Volunteers that make Somerville Open Studios happen. </p>

<p>Bloc Cafe is open 7 am - 7 pm every day.

</div>


{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
