{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}

<div style="flex:4">

    <h2> Beyond The Pattern</h2>
    <h3> The Somerville Open Studios Fashion Show.</h3>

    <p><b>Thursday, May 2nd</b>, 7-9 pm at Arts At The Armory, 191 Highland Avenue</p>
    <a class="btn btn-info" href="{{ path("show_event_page", {'event_name': '2019_fashion_show'}) }}">
       Fashion Show Details </a>

</div>


<div style="flex:1; margin-right:10px">

    <img style="height:200px" src="{{ app.request.basepath }}/web/images/event/fashion_show/2018_fashion_3.jpg" alt="beyond the pattern fashion show"   />

</div>


{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
