{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h2 id="home" class="anchor"> Home: Varied Perspectives - a curated show </h2>

        <p><b>April 16 - May 18th</b>
        </p>
        <p><b><a href="https://www.ivyrg.com/" target="_blank">Ivy Realty Group</a></b>, 20 Holland St. (<a href="https://www.google.com/maps/place/20+Holland+St,+Somerville,+MA+02144/@42.3975053,-71.1256784,17z/data=!3m1!4b1!4m5!3m4!1s0x89e3771f2fefa8d5:0x2beec28401c2053b!8m2!3d42.3975053!4d-71.1234897" target="_blank">map</a>)</p>

<p>
<img src="/web/images/event/locavore/2019_home_1.jpg" height="175">&nbsp;&nbsp;&nbsp;
<img src="/web/images/event/locavore/2019_home_2.jpg" height="175">
</p>

<p>In the face of a rapidly changing city, the notion of home takes on multifaceted responses.  Is it a view from a bedroom window, quiet time on a third floor porch, a patch of grass in a private yard, a time far away in a land saved only in memory?  We take pride in our home and we take solace there.  Perhaps we take it for granted as we see many across the globe fleeing theirs for safety.  We live in a community that includes immigrants and students and transplants; those who may have known other homes, and yet others without a home at all.</p>

<p>As SOS loses more artists each year to an affordable housing crisis, we explore themes ranging from comfort and nostalgia to displacement and migration.  The memory of a former home; the illumination of comfort as seen from the outside; an old street, lush with the fullness of trees and wooden-shingled houses; landmarks welcoming us home – all aspects of the multifaceted yet singular symbol of security and comfort. 
</p>

<p>The featured artists are
<a href="/artists/artist_profile/1707">Adam Adkison</a>,
<a href="/artists/artist_profile/898">Laurinda Bedingfield</a>,
<a href="/artists/artist_profile/1816">Jamie Cascio</a>,
<a href="/artists/artist_profile/1131">Stan Eichner</a>,
<a href="/artists/artist_profile/171">Pauline Lim</a>, and
<a href="/artists/artist_profile/1722">Adrianne Mathiowetz</a>.
    
<p>Ivy Realty is open 9 am - 6 pm every day.  You can also see this art through the front window, from outside the storefront.


{{ block('event_foot', 'common/event_wrapper.html.twig') }}
