{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}
<div style="flex:1; margin-right:10px">

<img src="{{ app.request.basepath }}/web/images/sponsors/flatbread.png" alt="flatbread somerville logo"   />

</div>
<div style="flex:4">
    <h2> Flatbread Pizza Fundraiser</h2>
    <p>
  <b>Tuesday, April 16th! </b>, <a href="https://www.flatbreadcompany.com/sacco/"> Flatbread Pizza (Sacco's Bowl-Haven) </a>
        45 Day Street. Davis Square Ave Somerville</p>
    <p>
        Portions of each pizza purchased durring dinner help fund SOS. <!--( The Flatbread Company will donate $3.50 for each large flatbread and $1.75 for each small flatbread sold during the benefit.) -->
    </p>
</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}