{% set event_class = "bs-callout bs-callout-info" %}
{{ block('event_head', 'common/event_wrapper.html.twig') }}



    <h3> April Fashion Show Meeting</h3>
    <p>
        <b>Thursday, April 11th, 5:45pm - 8:15pm</b><br>
        Location:<b> Somerville Central Library conference room, 79 Highland Ave</b>

{{ block('event_foot', 'common/event_wrapper.html.twig') }}
