{% set event_class = "bs-callout bs-callout-info" %}
{{ block('event_head', 'common/event_wrapper.html.twig') }}



    <h2> January Meeting </h2>
    <p>Our last meeting before the kick off party.<br>
        Join us for disussion on Registration and all things SOS.<br>
        <b>Wed, January 9 • 6:30 to 8:30 pm</b><br>
        Location:<b> Mad Oyster Studios, 2 Bradley street, Somerville<br>
 <a href="https://www.google.com/maps/place/Mad+Oyster+Studios/@42.3881472,-71.0969787,17z/data=!3m1!4b1!4m5!3m4!1s0x89e370d28c9232bd:0x5cda2ae59bb473b7!8m2!3d42.3881472!4d-71.09479"> Google Map Link</a></b>.

        <ul>
    <li>Meet the new committees that are working on this year's event</li>

    <li>We need your input on how we replace our iconic SOS orange balloons with something sustainable.</li>
</ul>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}
