{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h2 id="inside_out" class="anchor">Inside-Out Gallery Show in Davis Square</h2>

<h3>Art &amp; Soul</h3>

<div>
<p><b>April 15 - May 16</b></p>
<p><b>Sidewalk Reception: Monday, April 29, 5:30-6:30 pm </b>

<p><b><a href="http://somervilleartscouncil.org/insideout" target="_blank">Inside-Out Gallery</a></b> in the windows of CVS, One Davis Square

    (<a href="https://www.google.com/maps/place/CVS/@42.3962914,-71.1247974,17z/data=!3m1!4b1!4m5!3m4!1s0x89e37718ca41af2b:0xd3eba6b6db684d8a!8m2!3d42.3962914!4d-71.1226087" target="_blank">map</a>)</p>

<p>
<img src="/web/images/event/inside_out_gallery/2019_inside_out_1.jpg" height="175">&nbsp;&nbsp;&nbsp;
<img src="/web/images/event/inside_out_gallery/2019_inside_out_2.jpg" height="175">&nbsp;&nbsp;&nbsp;
<img src="/web/images/event/inside_out_gallery/2019_inside_out_3.jpg" height="175">&nbsp;&nbsp;&nbsp;
<img src="/web/images/event/inside_out_gallery/2019_inside_out_4.jpg" height="175">
</p>

<p>The Somerville Arts Council's Inside-Out Gallery, in the windows of the Davis Square CVS, features work by SOS artists on the theme of "Art &amp; Soul" -- a unique interpretation of that special Somerville magic that draws outsiders in.  In true Somerville fashion, each artist displays an individualistic style that reflects how art brings life to our community.</p>

<p>The featured artists are 
<a href="/artists/artist_profile/1329">Jim Baab</a>,
<a href="/artists/artist_profile/1122">Courtney Chelo</a>,
<a href="/artists/artist_profile/1794">Alison Pruchansky Drasner</a>,
<a href="/artists/artist_profile/1655">Jamie Kaplowitz Gibbons</a>,
<a href="/artists/artist_profile/171">Pauline Lim</a>,
<a href="/artists/artist_profile/93">Suzanne Lubeck</a>,
<a href="/artists/artist_profile/1722">Adrianne Mathiowetz</a>,
<a href="/artists/artist_profile/1916">Frances McCormick</a>,
<a href="/artists/artist_profile/1952">Katherine Oh (XOKO)</a>,
<a href="/artists/artist_profile/1180">Iku Oseki</a>,
<a href="/artists/artist_profile/1841">Jaclyn Perrone</a>,
<a href="/artists/artist_profile/527">Judith Prager</a>,
<a href="/artists/artist_profile/1199">Michael Robbins</a>,
<a href="/artists/artist_profile/1703">Nicholas Shectman</a>,
<a href="/artists/artist_profile/139">Jane Sherrill</a>,
<a href="/artists/artist_profile/931">Bekka Teerlink Wright (Bikeyface)</a>,
<a href="/artists/artist_profile/1155">Amy Ward</a>, and
<a href="/artists/artist_profile/147">Katherine Martin Widmer</a>.

</div>


{{ block('event_foot', 'common/event_wrapper.html.twig') }}
