{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}
<div style="flex:1; margin-right:10px">

<img class="" src="/web/images/event/kids_show/2019_kids_show.jpg" alt="kids show" height="175" >
</div>
<div style="flex:4; margin-right:10px">
<h2 id="kids_show" class="anchor"> Kids Show - At the Somerville Armory</h2>

        <p><b>April 29 - May 12th During Cafe Hours <br>
                Cupcake Reception: Sunday, May 12 from 2-3 pm</b>

        </p>
        <p><b><a href="http://artsatthearmory.org/cafe/" target="_blank">Arts at the Armory Cafe</a></b>, 191 Highland Ave (<a href="https://maps.google.com/maps?q=1+Westwood+Road,++Somerville,+MA+02143&hl=en&sll=42.386967,-71.104717&sspn=0.012473,0.027874&t=h&hnear=191+Highland+Ave,+Somerville,+Middlesex,+Massachusetts+02143&z=16" target="_blank">map</a>)</p>


<p> The Kids’ Show
    will display artwork from
    the 14-and-under crowd.
    Our theme for this year
    is Images of Somerville.</p>
<p>

</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
