{{ block('event_head', 'common/event_wrapper.html.twig') }}


<h2 id="first_look" class="anchor">First Look Show - At the Somerville Museum</h2>
<h3>Preview Member Art</h3>


<div class="row" style="font-size: 0.9em;">
    <div class="col-md-6">


<img class="float_right"
                                        src="{{ app.request.basepath }}/web/images/event/first_look/2019_museum.jpg"
                                         height="175"/> <img
                src="{{ app.request.basepath }}/web/images/event/first_look/2017_0423-IMG_8437.jpg" height="175">
        <p><b></b></p>
        <p><b>April 18- May 17, 2019</b></p>

        <p><b><a href="http://somervillemuseum.org/" target="_blank">Somerville Museum</a></b> 1 Westwood Road (<a
                    href="https://maps.google.com/maps?q=1+Westwood+Road,++Somerville,+MA+02143&hl=en&sll=42.386967,-71.104717&sspn=0.012473,0.027874&t=h&hnear=1+Westwood+Rd,+Somerville,+Middlesex,+Massachusetts+02143&z=16"
                    target="_blank">map</a>)</p>

    </div>

    <div class="col-md-6">

        <p>The SOS First Look Exhibit offers the best opportunity to preview the studios and artists' work.
            All SOS participating artists are invited to submit work, creating a group show that is unparalleled in
            diversity and excitement. Come to SOS First Look to plan your weekend. </p>

    </div>
</div>

<div class="row" style="font-size: 0.9em;">
    <div class="col-md-6">
        <h4> Special Extended Hours</h4>
        <ul>
            <li>Thursday and Friday, April 25 + 26 / 2 – 7 pm</li>
            <li>Saturday and Sunday, April 27 + 28 / 12 - 5 pm
            <li>Thursday, May 2nd / 2 – 7 pm</li>
            <li>Friday, May 3rd / 2 – 9 pm</li>
            <li>Saturday and Sunday, May 4 + 5 / 11 am – 6 pm</li>

        </ul>
    </div>
    <div class="col-md-6">
        <h4>Regular Museum Hours</h4>
        <ul>
            <li>Thursday 2 – 7 pm</li>
            <li>Friday 2– 5 pm</li>
            <li>Saturday 12 – 5 pm</li>
        </ul>
        
    </div>

</div>

{{ block('event_foot', 'common/event_wrapper.html.twig') }}
