{% set event_class = "bs-callout bs-callout-info" %}
{{ block('event_head', 'common/event_wrapper.html.twig') }}


    <h3> Somerville Open Studios 2019 Planning Meetings </h3>

    <h4> Feb Meeting </h4>
    <p>Registration is Closed, and preparations for SOS are shifting to high gear. .
        Join us for disussion on Themes, Trolley, Mapbooks, and all other things SOS.<br>
        <b>Wed, February 20th• 6:30 to 8:30 pm</b><br>
        Location:<b> Mad Oyster Studios, 2 Bradley street, Somerville<br>
 <a href="https://www.google.com/maps/place/Mad+Oyster+Studios/@42.3881472,-71.0969787,17z/data=!3m1!4b1!4m5!3m4!1s0x89e370d28c9232bd:0x5cda2ae59bb473b7!8m2!3d42.3881472!4d-71.09479"> Google Map Link</a></b>.

{{ block('event_foot', 'common/event_wrapper.html.twig') }}
