{{ block('event_head', 'common/event_wrapper.html.twig') }}

    <h2> 2019 Kick Off Party!</h2>
    <p> Join us for the Kick Off to SOS 2019 and enjoy a drink and light fare...<br>
    <br>
       
        <b>Tuesday, January 15 • 6:30 to 9:30 pm</b><br>
        <b>Back Room at The Burren • 247 Elm Street, Davis Square</b>.


    <p>
    <ul>
    <li> Music from <a href="https://www.facebook.com/LosGoutos/">Los Goutos</a></li>
    <li> T-shirt give aways</li>
    <li> Silk Screen your own t-shirt/ bag or fabric</li>
    <li> Fun!</li>
</ul>
    <p>
    <b>Deatils:</b><br>
    We will have music along with a game or two. The SOS silkscreen design will also be in operation...
    bring a tee or bag to emblazon with the SOS logo. You can even register for SOS 2019 at the party.
    Plus we need your input on how we replace our iconic SOS orange balloons with something sustainable.
    Bring your ideas!</p>

{{ block('event_foot', 'common/event_wrapper.html.twig') }}