{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1">
<h2>Honk Parade 2019</h2>
  <h4> Come march with us </h4>
  <img src="{{ app.request.basepath }}web/images/event/honk/2019_honk_small.jpg" alt="honk parade" style="max-hieght: 200px;max-width:300px" />
  <br>
  <small> Photo: Heather Classen</small>
</div>
<div style="flex:2; margin:20px">

    <p>
  <b>Sunday, October 13th! </b>, </a>
        45 Day Street. Davis Square -> To Harvard Square</p>
<p>


  Once again SOS will march in the HONK! Parade starting at Davis Square to Harvard Square. This event attracts thousands of spectators, and our dragon puppets and banners are always a big hit. <em>This is a great chance for us to promote SOS and to wear our wildest outfits.</em> 
  ﻿Please email Hilary Scott if you would like to join in the celebration.
  <b> honk@somervilleopenstudios.org</b> 
  
    </p>
</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
