{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1" id="kickoff">
<h2> 🎉 SOS 2020 Kickoff Party 🎉 </h2>
<p>Join all of your fellow artists and volunteers for the SOS 2020 Kickoff Party!

<p><b>Wednesday, January 15, 2020, 6:30-9:30pm<br>
The Burren Back Room, 247 Elm Street, Davis Square</b>

<p><i>Food, Drink, Music, Button Making, Silk Screening (bring a t-shirt, jacket, or tote that you want adorned with the SOS logo), and a Giant Grown-Up Coloring Page! </i>


</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
