{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1" id="planning_march">
<h2>SOS 2020 Planning Sessions - March 25 and April 15</h2>

<p>Please join us for our upcoming SOS 2020 planning sessions. 

<p>We need your help as we enter into the final phases of our event planning. Come and see if you can add your flair! SOS only happens with volunteers.

<p>Everyone is welcome.  No experience necessary.

<p><b>Wednesday, March 25, 2020, 6:30-8:30 pm<br>
Wednesday, April 15, 2020, 6:30-8:30 pm<br>
Mad Oyster Studios, 2 Bradley Street</b>

<p>If you cannot attend these meetings and wish to volunteer, send email to: <a href="mailto:volunteer@somervilleopenstudios.org"><b>volunteer@somervilleopenstudios.org</b></a>


</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
