{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1" id="planning_january">
<h2>SOS 2020 Planning Session - January</h2>

<p>Please join us for our fourth SOS 2020 planning session. 

<p>The agenda for this meeting is still being formulated.  There will be pizza.

<p>Everyone is welcome.  No experience necessary.

<p><b>Wednesday, January 8, 2020, 6:30-8:30 pm<br>
Mad Oyster Studios, 2 Bradley Street</b>

<p>If you cannot attend the meeting and wish to volunteer, send email to: <a href="mailto:volunteer@somervilleopenstudios.org"><b>volunteer@somervilleopenstudios.org</b></a>


</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
