{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1">
<h2>SOS 2020 Planning Session - November</h2>

<p>Please join us for our third SOS 2020 planning session. 

<p>On the agenda: SOS 2020 theme final decision, Kick Off Party, committee updates, and meet ups. 

<p>Some Possible Themes: 2020 Perfect Vision, Sharing (our) Vision(s), Vision 2020, Envision, BeHold!  

<p>We will have pizza.

<p><b>Wednesday, November 20, 2019, 6:30-8:30 pm<br>
Mad Oyster Studios, 2 Bradley Street</b>

<p>If you cannot attend the meeting and wish to volunteer, send email to: <a href="mailto:volunteer@somervilleopenstudios.org"><b>volunteer@somervilleopenstudios.org</b></a>


</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
