{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1">
<h2>SOS 2020 Planning Session #2</h2>

<p>We had a great session in September, but still have a few key volunteer spots to fill. We hope to see those who want to make a difference with our 2020 event.

<p>On the agenda: SOS 2020 theme ideas, Kick Off Party and committee updates.

<p><b>You are needed more than ever!</b>

<p>Please come to the meeting to find out how your interests and skills match up with all that needs to be done to make 2020 the best SOS ever.

<p><b>Wednesday, October 23, 2019, 6:30-8:30 <br>
Somerville Museum, 1 Westwood Road</b>

</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
