{{ block('event_head', 'common/event_wrapper_flexbox.html.twig') }}


<div style="flex:1" id="planning_february">
<h2>SOS 2020 Planning Session - February 12</h2>

<p>Please join us for our fifth SOS 2020 planning session. 

<p>We need your help as we entering into the next phase of our event planning: Map Guides, Trolleys, Sponsorship etc. Come and see if you can add your flair! SOS only happens with volunteers.

<p>Everyone is welcome.  No experience necessary.

<p><b>Wednesday, February 12, 2020, 6:30-8:30 pm<br>
Mad Oyster Studios, 2 Bradley Street</b>

<p>Agenda:
<ul>
<li><p>Registration update
<li><p>ArtWeek
<li><p>Call for cover art
<li><p>Volunteer show
<li><p>Meeting place other then Mad Oyster
<li><p>Sponsorship
<li><p>Trolley
</ul>

<p>If you cannot attend the meeting and wish to volunteer, send email to: <a href="mailto:volunteer@somervilleopenstudios.org"><b>volunteer@somervilleopenstudios.org</b></a>


</div>
{{ block('event_foot', 'common/event_wrapper_flexbox.html.twig') }}
