{% extends 'common/basic_layout.html.twig' %}
{% set active = 'fashion_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    {{ block('jumbo_head', 'common/jumbotron_wrapper.html.twig') }}


                <h2>Beyond the Pattern</h2>

     {{ block('jumbo_foot', 'common/jumbotron_wrapper.html.twig') }}
{% endblock jumbotron %}


{% block content %}


            <div class="bs-callout bs-callout-danger">

<center>
<figure>
<img src="{{ app.request.basepath }}/web/images/event/fashion_show/20180503-_R2C2094.jpg" alt="fashion show image: ten models parade down the runway" style="width: 100%; max-width: 600px; margin: 20px">
<figcaption> Photo by Aram Comjean, designs by Jen Flores</figcaption>
</figure>
</center>

                <h2>2019 Beyond the Pattern Wearable Art and Fashion Show </h2>
                <img src="{{ app.request.basepath }}/web/images/event/fashion_show/program-logo-squares2-notxt-sm.png" alt="mosaic of colorful clips of fabrics and garments" style="width: 30%; max-width=300px; margin: 20px; float: right;" >
                <p><b>Thursday, May 2nd, 2019, 7-9pm</b><br>
                <a href="http://artsatthearmory.org">Arts at the Armory</a><br/>
                191 Highland Ave. [ <a href="http://artsatthearmory.org/about/getting-here/">Directions</a> | <a href="https://www.google.com/maps/place/The+Center+for+Arts+at+the+Armory/@42.389666,-71.1059946,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3772e2d70cddb:0x1a062441b5fcaaba?hl=en">Map</a> ]<br>
                <b>Admission is free. Doors open at 6 pm.</b> </p>


                <p> Beyond the Pattern is a showcase of original wearable art and fashion, made by local artists and presented by live models on the runway. This year's event features unique handcrafted accessories elegant and whimsical, playful and practical kids' clothing, upcycled materials reworked into glamorous and expressive new forms, and fantastical characters brought to life.  Expressive, classic, cozy, graceful, dramatic -- it's a show full of delights and surprises, not to be missed!
                </p>

                <p>Seating is general admission; please arrive early for best seating choice. The Armory bar will be open, featuring local craft brews, wine, and soft drinks for your sipping pleasure. Parking is available in the lot behind the Armory, as well as on the street. If you are a Somerville resident, please give non-residents first option to use the parking lot.</p>

                <p> This year's Beyond the Pattern show is coordinated by SOS artists <a href="/artists/artist_profile/720">Consuelo J. Perez</a> and <a href="/artists/artist_profile/1896">mikka</a>, advised by coordinator emeritus <a href="/artists/artist_profile/1166">JoAnne Coppolo</a>.</p>

                <p>If you are interested in getting a closer or behind the scenes view consider <a href="{{ path('fashion_show') }}"> volunteering</a>.</p><br>


<style>
  .designer {
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    break-inside: avoid;
    page-break-inside: avoid;
    overflow: auto;
  }
  .designer img {
    margin: 5px 10px 5px 10px;
    height: 130px;
    float: left;
  }
</style>

<center><h3>2019 Designers</h3></center>
<div style="column-width: 400px">

                <div class="designer">
                <p><img src="/artist_files/artist_images/splash/872.jpg" title="Hashtag mittens" alt="handknit mittens with hashtag backs and striped palms, in front of an ocean view"> <b><a href="/artists/artist_profile/872">Heather Classen</a></b><br> Heather creates artwork inspired by symphonic music, and designs patterns for handknits.</p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/JoAnneCoppolo.jpg" alt="JoJo Original Designs: Unique Handmade Clothing.  Background: belted white dress."> <b><a href="/artists/artist_profile/1166">JoAnne Coppolo</a></b><br> Making unique pieces of clothing is an outward expression of my inner workings. Not being confined to a specific size and style has given me the opportunity to explore outside the boundaries of current fashion trends.  I like to play with images from other cultures, combine them with an unlikely textile and construct something no one has seen or worn before.   The possibilities are infinite - this is the catalyst that nourishes my creativity.</p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/MarthaFriend.jpg" alt="knit dress with red bodice, warm variegated midsection, and short purple skirt on a mannequin"> <b><a href="/artists/artist_profile/209">Martha Friend</a></b><br> I am a found object and assemblage artist and work with a wide variety of found and collected materials, including wood, rusty metal, organic detritus, paint, costume jewelry, glass, iridescent scraps, and vintage objects. I build sculptures, dioramas, and collages. I also like to sew, which brought me to the Fashion Show this year as a designer. I have opened my home and studio during Somerville Open Studios for 20 years and am participating again this year.</p>
                </div>

                <div class="designer">
                <p><img src="/artist_files/artist_images/profile/1921-02.jpg" alt="a brightly-dressed woman spray painting 'Viva la Raza' on a wall; warm streetscape behind her"> <b><a href="/artists/artist_profile/1921">Linda Jung</a></b><br>Vibrantly painted stories</p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/EllieLaramee-Byers.jpg" alt="a grinning small child in a patterned purple top and kerchief"> <b><a href="/artists/artist_profile/1146">Ellien Laramee-Byers</a></b><br> My main practice in art has always been geared towards visual arts. I keep a regular practice as an illustrator and painter. I have been sewing clothing for myself and quilting as a hobby since I was a teenager. Once I had children, I was inspired to create fun and whimsical outfits for them and when the weather is cooler, I also enjoy crocheting fun hats for them. For Beyond the Pattern, I am teaming up with my studiomate Gessica Silverman, who just recently started designing fabric and illustrative patterns. Together we have made a collection of clothing for kids. </p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/KimberleyPendleton.jpg" alt="a navy blue hat with a deep brim and blue-and-purple floral ornament, on a mannequin bust"> <b><a href="/artists/artist_profile/1607">Kimberley Pendleton, Boston Millinery</a></b><br> Bespoke and Limited Edition Hats and Accessories

<p>Handmade for women who know that the finishing touch is everything.

<p>"While clothes merely hang on a hanger, Hats whisper 'Try me on I'm beautiful...'"

<p>About 25 years ago, while I was a fashion Student a friend asked me to make a hat for her Sister who had been diagnosed with Leukemia. Her treatment had caused her to suffer hair loss. I made my first ever hat for her and never looked back. Helping this young woman feel strong and feminine again changed my world.

<p>The joy hats can bring, not only to those fighting cancer but to all "hatahollics" everywhere, is my joy too.

<p>Millinery, the art of hat making, allows me to indulge my true love of fabrics. New creations spring forth all the time. My hats are made from my own patterns and carefully chosen fabrics, then hand sewn into works of art. Some simple, some extravagant.

<p>I hope you enjoy this collection as much as I enjoyed making it! </p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/ConsueloPerez.jpg" alt="a woman wearing an elaborate red, black, and silver necklace, with another woman close behind her"> <b><a href="/artists/artist_profile/720">Consuelo J Perez</a></b><br>
Mother Nature offers a palette of rainbow colors, landscapes and
resources, drawing from them our ancestors built the wonders of the world.

<p>Nowadays, we have become a species that depends on artificial man-made
materials which are in-fact destroying our Mother Nature.

<p>Consuelo's creations are inspired by imagining how these man-made
materials can be transformed into beautiful new forms, so as to find a
way to live in harmony with Mother Nature.</p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/EleanorRamsay.jpg" alt="left: sketch of a long robe in man colors with a horned headdress; right: a detailed pattern of organic curving shapes in similar colors"> <b><a href="/artists/artist_profile/1840">Eleanor Ramsey</a></b> is a custom fabric designer and illustrator. Her recent visual art combines illustration, photography, digital design, beadwork, sewing, watercolor, and gardening into a meditation on the cyclic advance of time, and our fragile place in the current stream of life. </p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/HilaryScott-small.jpg" alt="a hat in the shape of a conical peaked building surrounded by butterflies, above a white mask"> <b><a href="/artists/artist_profile/100">Hilary Scott</a></b> creates large and small sculptures in his studio behind the Somerville home he shares with his wife. Designer of the City of Somerville's 9/11 and Iwo Jima Memorials, he works in a variety of materials; his guiding principle being to banish the mundane, delight his wife and amuse his children and his clients. From June to September, Hilary moves to the Berkshires, were he serves as the official photographer for Boston Symphony Orchestra at Tanglewood. </p>
                </div>

                <div class="designer">
                <p><img src="/web/images/event/fashion_show/GessicaSilverman.jpg" alt="leggings with colorful organic shapes on a black ground, worn with sneakers and bare midriff"> <b><a href="/artists/artist_profile/1173">Gessica Silverman</a></b> is an artist, designer, and maker. She makes smaller-scale art works out of pen, ink, and watercolor that are expressions and interpretations of the natural world. Gessica's goal is to spread love through her art.

<p>Gessica's newest body of work wants to live beyond the page. Bright, colorful, human, and happy, these artworks are primed for pattern and fabric.

<p>Gessica is collaborating with Ellie Laramee-Byers on GELLIE - a collection of children's clothing. This collection brings Gessica's happy, approachable artwork to life in new ways, using Ellie's sewing and clothing design magic.</p>
                </div>

                <div class="designer">
                <p><img src="/artist_files/artist_images/splash/1952.jpg" alt="painting of a divided bust crowned 'me', the left with warm brown hair in long curls, right with short black hair and a shadowed or covered eye, on a green floral background"/> <b><a href="/artists/artist_profile/1952">XOKO</a> & Sarah Goupell</b><br> 
XOKO is a story teller of clothes.

<p>Clothing is more than cover up, it can shelter or shake it up.  It can
emphasize or camouflage, flatterize or sabotage.  Clothing evokes story,
creates mystery, makes history, has no boundaries. Its origin is sheer
invention, its nature a mad creation, its construct a human ovation.

<p>XOKO bares the wearer's heart and soul by what she chose and why it goes.
It reveals the careful curation, the hopeful intentions, the immediate
transformation, the conquests and revelations.   It's a one-of-a-kind
fairy-tale invention.</p>
                </div>

</div>

            </div>


{% endblock content %}
